<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/daytime/daytime.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<ul class="daytime">
	<li class="daytime__item  daytime__item--active">
		<a href="" class="daytime__link">Неделя 1</a>
	</li>
	<li class="daytime__item">
		<a href="" class="daytime__link">Неделя 2</a>
	</li>
</ul>
