// В этом файле должны быть стили для БЭМ-блока daytime, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.daytime {

	$block-name:                &;
	// #{$block-name}__element {}
	display: flex;
	margin-top: 0;
	margin-bottom: 15px;
	padding-left: 0;
	list-style: none;

	&:last-child {

		@media (min-width: $screen-md) {
			margin-right: 0;
		}
	}

	@media (min-width: $screen-md) {
		flex-grow: 1;
		margin-bottom: 0;
		margin-right: 30px;
	}

	&__item {

		@media (min-width: $screen-md) {
			display: flex;
			flex-grow: 1;
		}

		&:not(:last-child) {
			margin-right: 1px;
		}

		&--active {

			.daytime__link {
				background-color: $valentino;
				color: $white;
			}
		}
	}

	&__link {
		display: block;
		padding: 10px 15px 11px;
		background-color: $gray-header-bg;
		color: $text-color--sub;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
		text-align: center;

		&:hover {
			text-decoration: underline;
		}

		@media (min-width: $screen-md) {
			flex-grow: 1;
			width: 75px;
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 0;
			padding-right: 0;
		}

		@media (min-width: $screen-lg) {
			width: 99px;
		}

		@media (min-width: $screen-xl) {
			width: 126px;
		}

		&--days {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}
