<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/top-slider/top-slider.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="top-slider">
	<div class="top-slider__container">
		<div class="top-slider__item">
			<div class="top-slider__item-img">
				<img src="img/top-slider-img-1.jpg" alt="">
			</div>

			<div class="top-slider__item-content">
				<span class="top-slider__item-title">Диетические программы питания</span>
				<p class="top-slider__item-descr">Правильное питание, тщательно подобранное и сбалансированное врачом-диетологом, для вашего здоровья и красоты</p>
				<a href="#" class="btn">Подобрать рацион</a>
			</div>
		</div>

		<div class="top-slider__item">
			<div class="top-slider__item-img">
				<img src="img/top-slider-img-2.jpg" alt="">
			</div>

			<div class="top-slider__item-content">
				<span class="top-slider__item-title">Спортивные программы питания</span>
				<p class="top-slider__item-descr">Правильное питание, тщательно подобранное и сбалансированное врачом-диетологом, для вашего здоровья и красоты</p>
				<a href="#" class="btn">Подобрать рацион</a>
			</div>
		</div>

		<div class="top-slider__item">
			<div class="top-slider__item-img">
				<img src="img/top-slider-img-3.jpg" alt="">
			</div>

			<div class="top-slider__item-content">
				<span class="top-slider__item-title">Диетические программы питания</span>
				<p class="top-slider__item-descr">Правильное питание, тщательно подобранное и сбалансированное врачом-диетологом, для вашего здоровья и красоты</p>
				<a href="#" class="btn">Подобрать рацион</a>
			</div>
		</div>

		<div class="top-slider__item">
			<div class="top-slider__item-img">
				<img src="img/top-slider-img-4.jpg" alt="">
			</div>

			<div class="top-slider__item-content">
				<span class="top-slider__item-title">Спортивные программы питания</span>
				<p class="top-slider__item-descr">Правильное питание, тщательно подобранное и сбалансированное врачом-диетологом, для вашего здоровья и красоты</p>
				<a href="#" class="btn">Подобрать рацион</a>
			</div>
		</div>
	</div>
</section>
