// В этом файле должны быть стили для БЭМ-блока top-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-slider {

  $block-name:                &;
  // #{$block-name}__element {}

  // @media (min-width: $screen-md) {
  // 	margin-top: 168px;
  // }

  // @media (min-width: $screen-lg) {
		// margin-top: 189px;
  // }

  // @media (min-width: $screen-xl) {
		// margin-top: 195px;
  // }

	&--margin {
		margin-top: 42px;
	}

	&__container {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;

		.slick-active {

			.top-slider__item-content {
				transform: translateX(0);
				opacity: 1;
			}

			.top-slider__item-img {
				transform: translateX(0);
				opacity: 1;

				img {
					transform: translateX(0) scale(1);
				}
			}
		}

		.slick-arrow {
			position: absolute;
			z-index: 1;
			width: 44px;
			height: 44px;
			padding: 0;
			font-size: 0;
			background-color: $valentino;
			border: none;
			border-radius: 50%;
			outline: none;
			transition: transform 0.6s;

			&:hover {
				transform: scale(1.2);
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 14px;
				height: 14px;
				margin-top: -7px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}
		}

		.slick-prev {

			&::before {
				margin-left: -5px;
				transform: rotate(135deg);
			}
		}

		.slick-next {

			&::before {
				margin-left: -9px;
				transform: rotate(-45deg);
			}
		}

		.slick-dots {
			position: absolute;
			top: 15px;
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: flex;
				margin-right: 8px;

				&.slick-active {

					button {
						transform: scale(1.3);
						background-color: transparent;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}

			button {
				width: 12px;
				height: 12px;
				padding: 0;
				font-size: 0;
				border: 3px solid $valentino;
				border-radius: 50%;
				background-color: $valentino;
				transition: transform 0.3s;
				outline: none;

				&:hover {
					transform: scale(1.3);
					background-color: transparent;
				}
			}

			@media (min-width: $screen-md) {
				top: 30px;
			}
		}
	}

	&__item {
		overflow: hidden;

		@media (min-width: $screen-md) {
			display: flex !important;
			flex-direction: row-reverse;
		}
	}

	&__item-img {
		overflow: hidden;
		transform: translateX(400px);
		opacity: 0;
		transition: transform 2s, opacity 2s;

		img {
			transform: translateX(-200px) scale(1.2);
			transition: transform 2s 0.2s;
		}
	}

	&__item-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 30px;
		transform: translateX(-100px);
		opacity: 0;
		transition: transform 2s 1s, opacity 2s 1s;

		@media (min-width: $screen-md) {
			flex-shrink: 0;
			align-items: flex-start;
			width: 34.5%;
			padding-top: 50px;
			padding-bottom: 0;
			padding-left: 15px;
			padding-right: 25px;
		}

		@media (min-width: $screen-lg) {
			width: 25.7%;
			padding-top: 90px;
			padding-right: 45px;
		}

		@media (min-width: $screen-xl) {
			flex-shrink: 0;
			width: 315px;
			padding-top: 12.3vw;
			padding-right: 60px;
		}
	}

	&__item-title {
		margin-bottom: 15px;
		font-size: 26px;
		line-height: 1.3;
		font-weight: 300;
		color: $valentino;
		text-align: center;

		@media (min-width: $screen-md) {
			font-size: 30px;
			text-align: left;
		}

		@media (min-width: $screen-lg) {
			font-size: 36px;
		}

		@media (min-width: $screen-xl) {
			font-size: 42px;
		}
	}

	&__item-descr {
		display: none;

		@media (min-width: $screen-lg) {
			display: block;
			margin-bottom: 25px;
		}
	}
}
