// В этом файле должны быть стили для БЭМ-блока menu-categories-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu-categories {
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 50px;
	}

	&__wrapper {
		@include row();
	}
}

.menu-categories-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include col(xs, 12, 12);
	@include col(md, 8, 12);
	@include col(lg, 9, 12);
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;

	@media (min-width: $screen-md) {
		padding-bottom: 0;
	}

	&--search {

		@media (min-width: $screen-md) {
			flex-basis: 100%;
			max-width: 100%;
		}

		@media (min-width: $screen-lg) {
			flex-basis: 100%;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__header {
		@include col(xs, 12, 12);

		@media (min-width: $screen-md) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@media (min-width: $screen-lg) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__list {
		@include col(xs, 12, 12);

		&--search {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		@include col(lg, 4, 12);
		margin-bottom: 40px;
		background-color: $white;

		&:last-child {
			margin-bottom: 30px;

			@media (min-width: $screen-md) {
				margin-bottom: 50px;
			}

			@media (min-width: $screen-xl) {
				margin-bottom: 20px;
			}
		}

		&:hover {

			.menu-categories-block__item-wrapper {

				@media (min-width: $screen-xl) {
					z-index: 1;
					box-shadow: 0 0 0 6px hsl(228, 17%, 94%);
				}
			}

			.menu-categories-block__item-descr {

				@media (min-width: $screen-xl) {
					margin-top: 22px;
					max-height: 100px;
					transition: max-height 0.6s, margin-top 0.3s;
				}
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 50px;
		}

		@media (min-width: $screen-xl) {
			position: relative;
			margin-bottom: 20px;
		}

		&--search {
			@include col(xl, 3, 12);
		}
	}

	&__item-wrapper {

		@media (min-width: $screen-xl) {
			background-color: $white;
			padding: 20px;
			margin-left: -20px;
			margin-right: -20px;
			top: -20px;
			left: 15px;
			right: 15px;
			transition: box-shadow 0.3s;
		}

		&--absolute {
			position: absolute;
		}
	}

	&__item-popup {
		cursor: pointer;

		&:hover {

			@media (min-width: $screen-xl) {

				.menu-categories-block__item-title {
					color: $green-light;
				}
			}
		}
	}

	&__image-wrapper {
		margin-bottom: 10px;

		img {
			display: block;
			width: 100%;

			@media (min-width: $screen-xl) {
				transition: transform 2.4s;
				backface-visibility: hidden;
			}
		}

		&:hover {

			img {

				@media (min-width: $screen-xl) {
					transform: scale(1.06);
				}
			}
		}

		@media (min-width: $screen-xl) {
			overflow: hidden;
		}
	}

	&__item-title {
		display: block;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 300;
		line-height: normal;
		color: $valentino;
		transition: color 0.3s;

		@media (min-width: $screen-md) {
			font-size: 20px;
		}

		&--modal {

			@media (min-width: $screen-md) {
				margin-top: 23px;
				font-size: 24px;
			}

			@media (min-width: $screen-lg) {
				margin-top: 0;
			}

			@media (min-width: $screen-xl) {
				font-size: 30px;
			}
		}
	}

	&__kkal {
		display: flex;
		font-size: 15px;
		font-family: $font-family;
		line-height: 1;
		color: $text-color--sub;

		&--cart {
			flex-wrap: wrap;
			line-height: 1.3;

			@media (min-width: $screen-md) {
				flex-shrink: 0;
				min-width: 210px;
			}
		}

		&--history {
			color: $text-color--sub-muted;
		}
	}

	&__kkal-item {
		position: relative;

		&:not(:last-child) {
			margin-right: 10px;
			padding-right: 10px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 10px;
				margin-top: -5px;
				background-color: $gray-lightest;
			}
		}
	}

	&__item-descr {
		display: block;
		max-height: 0;
		margin-top: 0;
		margin-bottom: 0;
		overflow: hidden;
		transition: max-height 0.3s, margin-top 0.3s;

		&:last-of-type {
			margin-bottom: 0;
		}

		&--modal {
			display: block;
			max-height: none;
			margin-top: 10px;
			margin-bottom: 10px;

			&:last-of-type {
				margin-bottom: 10px;
				font-size: 15px;
			}
		}
	}

	&__item-delimiter {
		display: block;
		height: 1px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: $gray-lightest;

		@media (min-width: $screen-xl) {
			margin-top: 25px;
		}
	}

	&__form-wrapper {
		display: flex;

		&--modal {
			padding-bottom: 18px;

			@media (min-width: $screen-md) {
				padding-bottom: 0;
			}
		}
	}

	&__item-order {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__cart {
		position: absolute;
		z-index: 2;
		top: -20px;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $valentino;
		color: $white;
		text-decoration: none;
		transition: background-color 0.3s;

		&:hover,
		&:focus {
			background-color: $green-light;

			.menu-categories-block__cart-text {

				&::before {
					opacity: 1;
				}
			}
		}

		&--hide {
			display: none;
		}
	}

	&__cart-title {
		font-size: 15px;
	}

	&__cart-text {
		position: relative;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;

		&::before {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $white;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	&__price {
		margin-left: auto;
		color: $black;

		&--modal {
			width: 100%;

			@media (min-width: $screen-md) {
				width: auto;
			}
		}

		&--cart {
			width: auto;
		}
	}

	&__price-value {
		font-size: 36px;
		line-height: 1;

		&--cart {

			@media (min-width: $screen-lg) {
				font-size: 42px;
			}
		}
	}

	&__price-text {
		font-size: 14px;
		text-transform: uppercase;
	}
}
