<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/menu-categories-block/menu-categories-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="menu-categories-block">
	<div class="row">
		<header class="menu-categories-block__header">
			<h1 class="med__h1  med__h1--menu-categories-block">Горячие блюда из птицы</h1>

			<div class="sorting">
				<span class="sorting__title">Сортировать:</span>
				<ul class="sorting__list">
					<li class="sorting__item  sorting__item--incr">
						<a href="" class="sorting__link">по названию</a>
					</li>
					<li class="sorting__item">
						<a href="" class="sorting__link">по цене</a>
					</li>
				</ul>
			</div>
		</header>

		<div class="menu-categories-block__list">
			<div class="row">
				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-1.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">140 г</span>
								<span class="menu-categories-block__kkal-item">210 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">120</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-2.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Десерт из яблока с Рикоттой и клюквенным соусом</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">120 г</span>
								<span class="menu-categories-block__kkal-item">147 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">170</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-3.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">160 г</span>
								<span class="menu-categories-block__kkal-item">330 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">210</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-3.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">160 г</span>
								<span class="menu-categories-block__kkal-item">330 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">210</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-1.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">140 г</span>
								<span class="menu-categories-block__kkal-item">210 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">120</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-2.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Десерт из яблока с Рикоттой и клюквенным соусом</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">120 г</span>
								<span class="menu-categories-block__kkal-item">147 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">170</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-1.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">140 г</span>
								<span class="menu-categories-block__kkal-item">210 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">120</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-2.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Десерт из яблока с Рикоттой и клюквенным соусом</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">120 г</span>
								<span class="menu-categories-block__kkal-item">147 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">170</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>

				<article class="menu-categories-block__item">
					<div class="menu-categories-block__item-wrapper">
						<div class="menu-categories-block__item-popup" data-fadeIn=".modal--menu-categories-block">
							<div class="menu-categories-block__image-wrapper">
								<img src="img/menu-categories-img-3.jpg" alt="">
							</div>

							<span class="menu-categories-block__item-title">Пример названия десерта он может идти в несколько строк</span>

							<div class="menu-categories-block__kkal">
								<span class="menu-categories-block__kkal-item">160 г</span>
								<span class="menu-categories-block__kkal-item">330 ККал</span>
							</div>

							<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>

							<span class="menu-categories-block__item-delimiter"></span>
						</div>

						<div class="menu-categories-block__item-order">
							<a href="#" class="menu-categories-block__cart  menu-categories-block__cart--hide">
								<span class="menu-categories-block__cart-title">Товар добавлен в корзину</span>
								<span class="menu-categories-block__cart-text">Оформить заказ</span>
							</a>
							<form action="#" method="post" autocomplete="off">
								<div class="menu-categories-block__form-wrapper">
									<div class="field-text__number-group">
										<label class="field-text  field-text--menu-categories-block">
											<i class="field-text__spin  field-text__spin--minus">-</i>
											<input class="field-text__input  field-text__input--number" type="text" value="1">
											<i class="field-text__spin  field-text__spin--plus">+</i>
										</label>
									</div>
									<button class="ready-programs__buy-btn  ready-programs__buy-btn--menu-categories-block" type="submit">Заказать</button>
								</div>
							</form>

							<span class="menu-categories-block__price">
								<span class="menu-categories-block__price-value">210</span>
								<span class="menu-categories-block__price-text">руб.</span>
							</span>
						</div>
					</div>
				</article>
			</div>
		</div>

		<button class="btn  btn--center btn--large-md" type="button">Показать еще</button>
	</div>
</section>
