// В этом файле должны быть стили для БЭМ-блока mission, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mission {

	$block-name:                &;
	// #{$block-name}__element {}
	position: relative;

	&:hover {

		@media (min-width: $screen-lg) {

			.mission__bg-img {
				transform: scale(1.06);
			}
		}
	}

	&__bg {

		@media (min-width: $screen-lg) {
			overflow: hidden;
		}
	}

	&__bg-img {
		display: block;
		height: 280px;
		object-fit: cover;
		object-position: 50% 0;

		@media (min-width: $screen-md) {
			height: 530px;
		}

		@media (min-width: $screen-md) {
			transition: transform 2.4s;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		bottom: 0;
		padding-top: 15px;
		text-align: center;

		@media (min-width: $screen-md) {
			top: 50%;
			left: 50%;
			right: auto;
			bottom: auto;
			width: 47%;
			padding-top: 0;
			transform: translate(-50%, -50%);
		}

		@media (min-width: $screen-lg) {
			width: 64%;
		}

		@media (min-width: $screen-xl) {
			width: 580px;
		}
	}
}
