<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/mission/mission.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="mission">
	<div class="mission__bg">
		<img class="mission__bg-img" src="img/mission-bg.jpg" alt="">
	</div>

	<div class="mission__content">
		<h3 class="med__h3">Миссия</h3>
		<p class="med__title-text">Наша миссия — рассказать вам о том, что желание изменить свой рацион и образа жизни — это не сковывающие ограничения. Это активная полноценная жизнь, где есть место для вкусной еды и полезных привычек. </p>
	</div>
</section>
