// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.modal {

	$block-name:                &;
	// #{$block-name}__element {}
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	overflow-y: auto;

	&--menu-personal {
		display: block;

		&.active {
			transform: translateY(0);
			visibility: visible;
			transition: transform 0.6s, visibility 0s;

			.modal__bg--menu-personal {

				@media (min-width: $screen-md) {
					opacity: 1;
				}
			}

			.modal__block--menu-personal {

				@media (min-width: $screen-md) {
					transform: translateY(0);
				}

				@media (min-width: 1025px) {
					transform: translateX(0);
				}
			}

			@media (min-width: $screen-md) {
				visibility: visible;
				opacity: 1;
			}
		}

		@media (max-width: 767px) {
			visibility: hidden;
			transform: translateY(100%);
			transition: transform 0.6s, visibility 0s 0.6s;
		}

		@media (min-width: $screen-md) {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s 0.6s, opacity 0s 0.6s;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($black, 0.3);
		cursor: pointer;

		&--menu-personal {

			@media (min-width: $screen-md) {
				opacity: 0;
				transition: opacity 0.6s;
			}
		}

		@media (min-width: $screen-xl) {
			cursor: default;
		}
	}

	&__block {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90.62%;
		max-width: 570px;
		transform: translate(-50%, -50%);
		background-color: $white;

		&:hover {

			@media (min-width: $screen-lg) {

				.modal__left-img {
					transform: scale(1.06);
				}
			}
		}

		&--menu-categories-block {
			max-width: 1170px;
		}

		&--enter {
			max-width: 460px;
		}

		&--registration {
			max-width: 515px;
		}

		&--registration-user {
			max-width: 515px;
		}

		&--choice {
			width: 200px;
			background-color: transparent;
		}

		&--menu-personal {
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: none;
			min-height: 100%;
			transform: translate(0, 0);

			@media (min-width: $screen-md) {
				max-width: none;
				margin-top: 35px;
				transform: translateY(110%);
				transition: transform 0.6s;
			}

			@media (min-width: 1025px) {
				width: calc(100% - 30px);
				margin-top: 0;
				margin-left: 30px;
				transform: translateX(100%);
			}

			@media (min-width: 1280px) {
				left: auto;
				right: 0;
				max-width: 1235px;
				margin-left: auto;
			}
		}

		&--personal-racion {

			@media (min-width: $screen-md) {
				width: calc(100% - 30px);
				max-width: 1170px;
			}
		}

		&--mobile-norm-up {
			max-width: 400px;

			@media (min-width: $screen-lg) {
				display: none;
			}
		}
	}

	&__close {
		position: absolute;
		z-index: 1;
		top: -15px;
		right: 15px;
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 10px;
		padding-right: 35px;
		background-color: $valentino;
		color: $white;
		font-size: 12px;
		line-height: 1;
		font-family: $font-family;
		font-weight: 700;
		text-transform: uppercase;
		border: none;
		border-radius: 3px;
		outline: none;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			width: 20px;
			height: 5px;
			margin-top: -4px;
			background-color: $white;
			border-radius: 3px;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		@media (min-width: $screen-md) {
			right: 50px;
		}

		&--menu-personal {
			top: 0;
			right: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			@media (min-width: $screen-md) {
				right: auto;
				left: 50%;
				border-radius: 3px;
				transform: translate(-50%, -50%);
			}

			@media (min-width: 1025px) {
				top: 512px;
				left: -15px;
				transform-origin: 0 0;
				transform: rotate(-90deg);
			}
		}
	}

	&__head {
		padding: 20px 15px;

		@media (min-width: $screen-md) {
			padding: 40px 50px;
		}

		&--text-center {
			text-align: center;
		}

		&--menu-personal {
			padding-top: 30px;
			padding-bottom: 30px;

			@media (min-width: $screen-md) {
				padding-top: 20px;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 30px;
			}
		}

		&--personal-racion {

			@media (min-width: $screen-md) {
				padding-bottom: 10px;
			}

			@media (min-width: $screen-lg) {
				padding-top: 35px;
			}
		}
	}

	&__head-menu-personal-radio {
		display: flex;
		max-width: 375px;
	}

	&__title {

		&.med__h3 {
			margin-top: 0;
		}

		@media (min-width: $screen-md) {
			font-size: 42px;
		}

		&--success {
			margin-bottom: 30px;
		}

		&--menu-personal {
			display: block;
			margin-bottom: 20px;
		}
	}

	&__body {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;

		@media (min-width: $screen-md) {
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
		}

		&--text-center {
			text-align: center;
		}

		&--menu-categories-block {
			padding-top: 30px;

			@media (min-width: $screen-md) {
				padding-top: 50px;
			}

			@media (min-width: $screen-lg) {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}

		&--menu-personal {
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			@media (min-width: $screen-md) {
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 40px;
			}
		}

		&--choice {

			@media (min-width: $screen-md) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__left {
		margin-bottom: 10px;
		overflow: hidden;

		@media (min-width: $screen-lg) {
			width: 46.64%;
			margin-bottom: 0;
		}
	}

	&__right {

		@media (min-width: $screen-lg) {
			width: 48.78%;
		}
	}

	&__left-img {
		display: block;

		@media (min-width: $screen-lg) {
			transition: transform 2.4s;
			backface-visibility: hidden;
		}
	}

	&__radio-group {
		margin-bottom: 50px;
		font-size: 0;

		&--registration {
			margin-bottom: 0;

			@media (min-width: $screen-md) {
				width: 300px;
				text-align: left;
			}
		}
	}

	&__select {
		width: 100%;
		margin-bottom: 30px;
		// z-index: 9;

		.jq-selectbox__dropdown {

			li.selected {
				background-color: $valentino;
				color: $white;
			}

			li:hover {
				background-color: $valentino;
				color: $white;
			}
		}

		.jq-selectbox__select {
			height: 41px;
			padding: 11px 20px;
			background: none;
			border-color: $border-color;
			border-radius: $border-radius;
			box-shadow: none;
			font-size: 14px;
			line-height: 17px;
			font-family: $font-family;
			color: $text-color;

			&:hover {
				background-color: transparent;
			}

			&:active {
				border-color: $gray-lightest;
			}
		}

		.jq-selectbox__trigger {
			border-left: none;
		}

		.jq-selectbox__trigger-arrow {
			top: 17px;
			right: 20px;
		}

		&--registration {
			margin-bottom: 0;

			@media (min-width: $screen-md) {
				max-width: 300px;
			}
		}

		&--single {
			margin-bottom: 0;
		}
	}

	&__field-group {
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			display: flex;
			margin-bottom: 15px;
		}

		&--comments {
			margin-bottom: 20px;

			@media (min-width: $screen-md) {
				margin-bottom: 0;
			}
		}
	}

	&__field-item {

		&:last-child {

			@media (min-width: $screen-md) {
				margin-right: 0;
			}
		}

		@media (min-width: $screen-md) {
			width: 220px;
			margin-right: 30px;
		}

		&--big {
			width: 100%;
			margin-bottom: 20px;

			@media (min-width: $screen-md) {
				width: 100%;
			}
		}

		&--date {
			position: relative;
		}

		&--enter {
			margin-bottom: 20px;

			@media (min-width: $screen-md) {
				margin-right: 0;
			}
		}

		&--btn-registration {
			padding-top: 10px;
			margin-bottom: 0;
			text-align: right;
		}

		&--comments {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			@media (min-width: $screen-md) {
				margin-bottom: 30px;
			}
		}

		&--center {
			text-align: center;
		}

		&--profile {
			@include col(xs, 12, 12);
			@include col(md, 10, 12);
			@include col(lg, 9, 12);
			@include col(xl, 8, 12);

			@media (min-width: $screen-md) {
				margin-bottom: 30px;
			}
		}

		&--profile-small {
			@include col(xs, 7, 12);
		}

		&--profile-btn {
			@include col(md, 12, 12);
			@include col(lg, 12, 12);
			@include col(xl, 12, 12);
			padding-top: 10px;
			text-align: center;

			@media (min-width: $screen-md) {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}

		&--important { 
			font-size: 16px;
			text-align: center;
			i {
				display: inline-block;
				font-style: normal;
				color: #9dc41b;
				margin: 0 5px;
			}
		}
	}

	&__buy-title {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 1;
		color: $text-color--sub;

		@media (min-width: $screen-md) {
			margin-bottom: 10px;
		}
	}

	&__price {
		margin-bottom: 25px;
		color: $valentino;
	}

	&__price-value {
		display: inline-block;
		font-size: 28px;
		line-height: 1;

		@media (min-width: $screen-md) {
			font-size: 48px;
		}
	}

	&__price-text {
		font-size: 14px;
		line-height: 1.3;
		text-transform: uppercase;
	}

	&__food {
		margin-top: 0;
		margin-bottom: 15px;
		padding-left: 0;
		font-size: 15px;
		list-style: none;

		@media (min-width: $screen-md) {
			display: flex;
			margin-bottom: 45px;
		}
	}

	&__food-item {

		@media (min-width: $screen-md) {
			margin-right: 30px;

			&:last-child {

				@media (min-width: $screen-md) {
					margin-right: 0;
				}
			}
		}
	}

	&__food-name {
		margin-right: 2px;
		color: $text-color--sub-muted;
	}

	&__food-value {
		color: $black;
		font-weight: 500;
	}

	&__flex-group {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__enter-list {
		margin-top: 10px;
		margin-bottom: 0;
		margin-right: 30px;
		padding-left: 0;
		list-style: none;
	}

	&__enter-list-item {
		position: relative;
		margin-bottom: 3px;
		padding-left: 12px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 0;
			margin-top: -3px;
			border: 3px solid transparent;
			border-right: none;
			border-left-color: $valentino;
		}
	}

	&__enter-list-link {
		position: relative;
		color: $green-light;
		text-decoration: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green-light;
			transition: opacity 0.3s;
		}

		&:hover {

			&::before {
				opacity: 0;
			}
		}
	}

	&__cart-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btn {
			padding-left: 20px;
			padding-right: 20px;
		}

		.dropdown-menu {

			@media (min-width: $screen-lg) {
				top: -50px !important;
			}
		}
	}

	&--create-racion {
		display: block;
	}

	&__radio-personal-group {
		display: flex;
		max-width: 374px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;

		@media (min-width: $screen-md) {
			margin-bottom: 25px;
		}
	}

	&__main-text {
		display: block;
		margin-bottom: 15px;
		font-size: 18px;
		text-align: center;
		color: $text-color;

		@media (min-width: $screen-md) {
			margin-bottom: 20px;
			font-weight: 700;
		}
	}

	&__personal-sub-text {
		display: block;
		margin-bottom: 10px;
		text-align: center;
		color: $valentino;

		@media (min-width: $screen-md) {
			font-size: 18px;
		}
	}

	&__personal-norm {
		margin-bottom: 10px;
		line-height: 1;
		text-align: center;
		color: $valentino;
	}

	&__personal-value {
		font-size: 48px;
		font-weight: 300;

		@media (min-width: $screen-md) {
			display: inline-block;
			margin-right: 10px;
			font-size: 60px;
		}

		@media (min-width: $screen-lg) {
			font-size: 72px;
		}
	}

	&__personal-measure {
		font-size: 24px;

		@media (min-width: $screen-md) {
			font-size: 46px;
		}

		@media (min-width: $screen-lg) {
			font-size: 60px;
		}
	}

	&__personal-text {
		margin-bottom: 15px;
		text-align: center;
		color: $text-color--sub;

		&:last-of-type {
			margin-bottom: 15px;

			@media (min-width: $screen-md) {
				width: 560px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 25px;
			}
		}
	}

	&__personal-btn-wrapper {
		text-align: center;
	}

	&__choice {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
	}

	&__choice-item {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid hsl(279, 28%, 35%);
		font-size: 13px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		background-color: $valentino;
		color: $white;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&:active {
			background-color: $green-light;
		}
	}

	&__weeks {
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 0;
		border-top: 1px solid $gray-lightest;
		border-left: 1px solid $gray-lightest;
		border-right: 1px solid $gray-lightest;
		list-style: none;

		.modal__days {
			border: none;
			border-bottom: 1px solid $gray-lightest;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
		}
	}

	&__weeks-item {
		// border: 1px solid $gray-lightest;
		border-bottom: none;
	}

	&__weeks-item-header {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: -1px;
		padding-left: 15px;
		padding-right: 5px;
		background-color: $white;
		border: none;
		border-top: 1px solid $gray-lightest;
		border-radius: 0;
		outline: none;

		&.ui-accordion-header {
			margin-top: -1px;
		}

		.modal__double-btn {
			font-size: 14px;
			font-family: $font-family;
			background-color: hsl(228, 19%, 95%);
			opacity: 1;
			visibility: visible;
			transition: opacity 0.3s, visibility 0s;
		}

		&.ui-state-active {

			.modal__double-btn {
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s, visibility 0s 0.3s;
			}

			.modal__weeks-icon {

				&::after {
					transform: translateY(-50%) rotate(0);
				}
			}

			&::before {
				left: 15px;
				right: 15px;

				@media (min-width: $screen-md) {
					left: 30px;
					right: 30px;
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -1px;
			right: -1px;
			height: 1px;
			background-color: $gray-lightest;
			transition: left 0.3s, right 0.3s;
		}

		@media (min-width: $screen-md) {
			padding-left: 30px;
			padding-right: 10px;
		}
	}

	&__weeks-item-header-name {
		position: relative;
		flex-grow: 1;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 30px;
		font-size: 18px;
		font-weight: 300;
		line-height: 1;
		font-family: $font-family;
		color: $black;

		@media (min-width: $screen-md) {
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 40px;
			font-size: 24px;
			font-weight: 300;
		}
	}

	&__weeks-icon {
		position: absolute;
		top: 50%;
		left: 0;
		width: 19px;
		height: 19px;
		transform: translateY(-50%);

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $green-light;
			transform: translateY(-50%);
		}

		&::after {
			transform: translateY(-50%) rotate(90deg);
		}

		&--days {
			width: 15px;
		}
	}

	&__double-btn {
		padding: 13px 15px;
		border: none;
		font-family: $font-family;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		color: $valentino;
		background-color: hsl(228, 19%, 95%);
		border-radius: 3px;
		text-transform: uppercase;
		outline: none;

		@media (min-width: $screen-md) {
			padding: 18px 20px;
		}
	}

	&__days {
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0;

		.btn {
			font-size: 14px;
			font-family: $font-family;
		}

		.modal__days-item-header {
			border: none;
			border-top: 1px solid $gray-lightest;
			border-radius: 0;
			// border-bottom: 1px solid $gray-lightest;
			font-family: $font-family;
			background-color: $white;
			outline: none;
		}

		@media (min-width: $screen-md) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__days-item {
		border-bottom: 1px solid $gray-lightest;
		font-size: 18px;
		font-weight: 300;
		font-family: $font-family;
		outline: none;

		&:last-child {
			border-bottom: none;
		}
	}

	&__days-item-header {
		display: flex;
		align-items: center;
		margin-top: -1px;

		.modal__food-dishes-item-btn {
			font-size: 0;
		}

		.modal__double-btn {
			font-size: 14px;
			font-family: $font-family;
			background-color: hsl(228, 19%, 95%);
			opacity: 1;
			visibility: visible;
			transition: opacity 0.3s, visibility 0s;

			@media (min-width: $screen-md) {
				padding-top: 13px;
				padding-bottom: 13px;
			}
		}

		&.ui-state-active {
			border-bottom: none;

			.modal__food-dishes-item-btn--day {
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s, visibility 0s 0.3s;
			}

			.modal__double-btn {
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s, visibility 0s 0.3s;
			}

			.modal__weeks-icon {

				&::after {
					transform: translateY(-50%) rotate(0);
				}
			}

			.modal__days-item-header-name {
				color: $black;
			}
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

	&__days-item-header-name {
		flex-grow: 1;
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px;
		font-size: 18px;
		line-height: 1;
		font-weight: 300;

		@media (min-width: $screen-md) {
			padding-left: 35px;
			font-size: 22px;
			font-weight: 300;
		}
	}

	&__days-food {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
		border: none;
	}

	&__days-food-item {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		font-family: $font-family;

		.modal__food-dishes-btn {
			padding-left: 0;
			padding-right: 0;
			font-size: 14px;
			line-height: 1;
			font-weight: 700;
			font-family: $font-family;
			background-color: hsl(228, 19%, 95%);
			outline: none;
		}

		&--empty {

			.modal__food-dishes {
				display: none;
			}

			button.modal__food-dishes-btn {
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
		}
	}

	&__days-food-item-last {

		@media (min-width: $screen-md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__days-food-item-name {
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1;
		color: $black;
		text-transform: uppercase;
	}

	&__food-dishes {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		border: 2px solid hsl(228, 19%, 95%);
		border-bottom: none;
		border-radius: 3px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		list-style: none;

		& + .modal__food-dishes-btn {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	&__food-dishes-item {
		border-bottom: 1px dotted $gray-lightest;

		&:last-child {
			border-bottom: none;
		}

		&--default {
			display: none;
		}
	}

	&__food-dishes-item-name {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 1.3;
		font-weight: 300;
		color: $valentino;

		span {
			margin-right: 25px;

			@media (min-width: $screen-md) {
				margin-right: 0;
			}
		}

		.modal__food-dishes-item-btn {
			margin-left: auto;
			font-size: 0;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 5px;
			font-size: 18px;
		}
	}

	&__food-dishes-item-btn {
		position: relative;
		width: 20px;
		height: 20px;
		padding-left: 0;
		padding-right: 0;
		border: none;
		font-size: 0;
		background-color: transparent;
		outline: none;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $green-light;
			transform: translateY(-50%);
		}

		&::before {
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			transform: translateY(-50%) rotate(-45deg);
		}

		&--day {
			visibility: visible;
			margin-right: 15px;
			transition: opacity 0.3s, visibility 0s;
		}

		&--mobile {

			@media (min-width: $screen-md) {
				display: none;
			}
		}
	}

	&__dishes-properties-wrapper {
		display: flex;
		padding-bottom: 13px;

		@media (min-width: $screen-md) {
			align-items: center;
			padding-bottom: 15px;
		}
	}

	&__dishes-properties {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		line-height: 1;
		list-style: none;

		@media (min-width: $screen-md) {
			display: flex;
			align-items: center;
		}
	}

	&__dishes-properties-item {
		margin-bottom: 5px;
		line-height: 1;

		&:nth-last-child(2) {
			margin-bottom: 0;
		}

		&:last-child {
			display: none;
			margin-bottom: 0;

			&::before {

				@media (min-width: $screen-md) {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 1px;
					height: 10px;
					background-color: $gray-lightest;
					transform: translateY(-50%);
				}
			}

			@media (min-width: $screen-md) {
				position: relative;
				display: block;
				margin-right: 0;
				padding-left: 20px;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}

	&__dishes-properties-key {
		display: inline-block;
		margin-right: 3px;
		font-size: 14px;
		line-height: 1;
		color: $text-color--sub-muted;
	}

	&__dishes-properties-value {
		font-size: 14px;
		line-height: 1;
		font-weight: 500;
		color: $black;
	}

	&__dishes-price-wrapper {
		margin-top: auto;
		margin-left: auto;

		.modal__food-dishes-item-btn {
			display: none;

			@media (min-width: $screen-md) {
				display: block;
				font-size: 0;
			}
		}

		@media (min-width: $screen-md) {
			display: flex;
			align-items: flex-end;
		}
	}

	&__dishes-price {
		line-height: 1;

		@media (min-width: $screen-md) {
			margin-right: 40px;
		}
	}

	&__dishes-price-value {
		font-size: 22px;
		line-height: 1;
		color: $black;
	}

	&__dishes-price-key {
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		color: $black;
	}

	&__food-dishes-btn {
		display: block;
		width: 100%;
		height: 40px;
		padding-top: 13px;
		padding-bottom: 13px;
		border: none;
		text-transform: uppercase;
		border-radius: 3px;
		color: $valentino;
	}

	&__days-kkal-total {
		margin-bottom: 10px;
		font-family: $font-family;

		@media (min-width: $screen-md) {
			margin-bottom: 25px;
		}
	}

	&__days-kkal-title {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 1.3;
		color: $valentino;
		text-transform: uppercase;
	}

	&__days-kkal-info {
		display: flex;
		align-items: baseline;
		color: $valentino;
	}

	&__days-kkal-value {
		margin-right: 3px;
		font-size: 30px;
		line-height: 1;

		@media (min-width: $screen-md) {
			font-size: 36px;
		}
	}

	&__days-kkal-measure {
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}

	&__days-price-total {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		font-family: $font-family;

		@media (min-width: $screen-md) {
			margin-bottom: 25px;
		}
	}

	&__days-price-total-text {

		@media (min-width: $screen-md) {
			display: block;
			margin-bottom: 5px;
			font-size: 14px;
			line-height: 1.3;
			text-transform: uppercase;
			color: $black;
		}
	}

	&__days-price-total-cost {

		@media (min-width: $screen-md) {
			display: flex;
			align-items: baseline;
		}
	}

	&__days-price-total-measure {
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}

	&__days-price-total-value {
		font-size: 30px;
		line-height: 1;
		margin-left: 3px;
		margin-right: 3px;

		@media (min-width: $screen-md) {
			font-size: 36px;
		}
	}

	&__racion-total {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		margin-bottom: 15px;
		margin-left: auto;
		line-height: 1;

		// @media (min-width: $screen-md) {
		// 	flex-direction: column;
		// 	align-items: flex-end;
		// 	margin-bottom: 0;
		// }
	}

	&__racion-total-btn {
		text-align: right;
	}

	&__racion-total-text {
		margin-right: 10px;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		color: $black;

		@media (min-width: $screen-md) {
			// margin-right: 0;
		}
	}

	&__racion-total-cost {
		line-height: 1;
	}

	&__racion-total-value {
		font-size: 36px;
		line-height: 1;
		color: $black;

		@media (min-width: $screen-md) {
			font-size: 42px;
		}
	}

	&__racion-total-measure {
		font-size: 14px;
		line-height: 1;
		color: $black;
		text-transform: uppercase;
	}

	&__menu-personal-total-wrapper {
		margin-top: auto;
		line-height: 1;

		@media (min-width: $screen-md) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}


.jq-selectbox.focused .jq-selectbox__select {
	border-color: $gray-lightest;
}
