// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

	$block-name:                &;
	// #{$block-name}__element

	position: relative;
	z-index: 11;

	&::before {

		@media (max-width: $screen-md - 1) {
			content: '';
			position: absolute;
			top: -8px;
			left: 18px;
			width: 0;
			height: 0;
			border: 8px solid $valentino;
			border-left-color: transparent;
			border-right-color: transparent;
			border-top: none;
			opacity: 0;
		}
	}

	@media (min-width: $screen-lg) {
		margin-bottom: 10px;
	}

	&--open {

		&::before {

			@media (max-width: $screen-md - 1) {
				opacity: 1;
			}
		}
	}
	// первый уровень

	&__list {
		margin: 0;
		// margin-top: 18px;
		padding: 0 15px;
		list-style: none;
		background-color: $valentino;

		@media (max-width: ($menu-desktop-width - 1)) {

			// открытие/закрытие меню только в случае работающего JS

			.js & {
				overflow: hidden;
				max-height: 0;
				transition: max-height 0.2s;
			}

			.js #{$block-name}--open & {
				max-height: calc(100vh - 50px);
				overflow-y: auto;
				transition: max-height 0.6s;
			}
		}

		@media (min-width: $menu-desktop-width) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			margin-top: 0;
			padding-left: 0;
			background-color: transparent;
		}
	}

	&__item {
		position: relative;

		&:first-child {
			margin-top: 10px;

			.main-nav__link {

				@media (min-width: $screen-md) {
					padding-left: 0;
				}
			}

			@media (min-width: $screen-md) {
				margin-top: 0;
			}
		}

		&:last-child {
			margin-bottom: 10px;

			@media (min-width: $screen-md) {
				margin-bottom: 0;
			}
		}

		&:nth-last-child(4) {

			.main-nav__link {
				padding-right: 0;
			}
		}

		&--active {

			.main-nav__link {
				background-color: $green-light;

				&::before {
					left: 13px;
					margin-top: -8px;
					transform: rotate(45deg);
				}

				@media (min-width: $screen-md) {
					background-color: transparent;
					color: $green-light;
				}
			}
		}

		&--double {

			.main-nav__link {
				padding-left: 15px;

				&::before {
					display: none;
				}
			}

			@media (min-width: $screen-md) {
				display: none;
			}
		}

		&--last-main {

			.main-nav__link {

				@media (min-width: $screen-md) {
					padding-right: 0;
				}
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		padding: 18px 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		color: $white;
		background-color: transparent;
		transition: background-color 0.15s cubic-bezier(0.69, 0.09, 0.32, 0.83), color 0.2s cubic-bezier(0.69, 0.09, 0.32, 0.83);

		&[href]:hover,
		&[href]:focus {
			background-color: $green-light;

			@media (min-width: $screen-md) {
				background-color: transparent;
				color: $green-light;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 11px;
			width: 8px;
			height: 8px;
			margin-top: -4px;
			border: 2px solid $white;
			border-top: none;
			border-left: none;
			transform: rotate(-45deg);

			@media (min-width: $screen-md) {
				display: none;
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 7px;
			padding-right: 7px;
			font-size: 12px;
			color: $text-color;
		}

		@media (min-width: $screen-lg) {
			padding-left: 12px;
			padding-right: 12px;
			font-size: 14px;
		}
	}

	&__cart-text {
		font-size: 11px;
		text-transform: uppercase;
		transition: color 0.1s;

		&:nth-child(2) {

			@media (min-width: $screen-md) {
				margin-bottom: 3px;
			}
		}

		@media (min-width: $screen-md) {
			margin-right: 3px;
		}

		&--bolder {
			color: $black;
		}
	}

	&__cart-text-big {
		font-size: 11px;

		@media (min-width: $screen-md) {
			font-size: 18px;
		}
	}
	// переключатель

	&__toggler {

		.no-js & {
			display: none;
		}

		@media (min-width: $menu-desktop-width) {
			display: none;
		}
	}

	&__sub-elements {
		order: -1;
		display: flex;
		justify-content: flex-end;
		width: 275px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		padding-left: 0;
		padding-right: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
		list-style: none;

		@media (min-width: $screen-md) {
			order: 0;
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__sub-elements-item {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 34px;
		// border-right: 1px solid $gray-lightest;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 1px;
			height: 10px;
			margin-top: -5px;
			background-color: $gray-lightest;
		}

		&:first-child {

			.main-nav__sub-elements-link {
				margin-left: 0;
			}
		}

		&:last-child {

			.main-nav__sub-elements-link {
				margin-right: 0;
			}

			&::before {
				display: none;
			}
		}

		@media (min-width: $screen-md) {
			min-height: auto;
		}
	}

	&__sub-elements-link {
		position: relative;
		display: block;
		margin-left: 10px;
		margin-right: 10px;
		padding-right: 31px;
		font-size: 11px;
		line-height: 1.2;
		color: $gray;
		text-align: right;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.1s;

		&:hover {
			color: $green-light;

			.main-nav__cart-text {
				color: $green-light;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -9px;

			@media (min-width: $screen-md) {
				right: auto;
				left: 0;
			}
		}

		@media (min-width: $screen-md) {
			margin-left: 20px;
			margin-right: 20px;
			padding-right: 0;
			padding-left: 27px;
			line-height: 18px;
		}

		&--calculator {

			&::before {
				@include sprite($calculator-icon);
			}
		}

		&--cart {
			display: flex;
			flex-direction: column;
			min-width: 90px;

			&::before {
				@include sprite($cart-icon);
			}

			@media (min-width: $screen-md) {
				flex-direction: row;
				align-items: center;
				min-width: auto;
			}
		}
	}

	&__hr {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		border-top-color: rgba($white, 0.3);
	}

	&__profile-name {
		display: block;
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 15px;
		font-size: 16px;
		line-height: 1;
		font-weight: 700;
		color: $green-light;
	}
}
