// В этом файле должны быть стили для БЭМ-блока table, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.table {

	$block-name:                &;
	// #{$block-name}__element

	border-collapse: collapse;
	width: 100%;
	// border-bottom: 1px solid $border-color;
	margin: $line-height 0;

	caption {
		padding-top: 0.4em;
		text-align: right;
		caption-side: bottom;
		font-size: $font-size--small;
		line-height: 1em;
		color: $text-color--muted;
	}



	td,
	th {
		padding: 15px 10px;
		vertical-align: top;
		border-bottom: 1px dotted $border-color;
		white-space: nowrap;

		&:not(:first-child) {
			// border-left: 1px solid $border-color;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	td {
		font-size: 20px;
		font-weight: 400;
		color: $black;
		vertical-align: middle;
	}

	th {
		padding-top: 0;
		font-weight: 700;
		text-align: left;
		border-bottom: 1px solid $border-color;
	}

	&__header {
		background-color: $gray-lightest;
	}

	&__body {}

	&__footer {
		background-color: $gray-lightest;
	}

	&__th {
		width: 13.16%;

		&--big {
			width: 34%;
		}
	}

	&__header-text {
		display: block;
		font-size: 16px;
		color: $text-color;
		white-space: nowrap;
	}

	&__sub-text {
		font-size: 14px;
		color: $valentino;
	}

	&__med-name {
		display: block;
		color: $black;
		font-size: 16px;
		font-weight: 400;
	}

	&__med-value {
		display: block;
		font-size: 16px;
		font-weight: 400;
		color: hsl(340, 1%, 49%);
	}
}
