<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/calculator-block/calculator-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="calculator-block">
	<div class="calculator-block__content">
		<h1>Калькулятор калорий</h1>

		<form class="calculator-block__form" action="#" method="post">
			<fieldset class="calculator-block__set">
				<legend class="calculator-block__form-title">Пол</legend>

				<div class="calculator-block__items-wrapper">
					<label class="field-radio__name  field-radio__name--sec">
						<input class="field-radio__input" type="radio" name="gender" checked>
						<span class="field-radio__name-text  field-radio__name-text--gender"><i class="field-radio__gender-icon-1"></i>Женский</span>
					</label>

					<label class="field-radio__name  field-radio__name--sec">
						<input class="field-radio__input" type="radio" name="gender">
						<span class="field-radio__name-text  field-radio__name-text--gender"><i class="field-radio__gender-icon-2"></i>Мужской</span>
					</label>
				</div>
			</fieldset>

			<fieldset class="calculator-block__set">
				<legend class="calculator-block__form-title">Ваши показатели</legend>

				<div class="row">
					<div class="calculator-block__set-item">
						<label class="field-text  field-text--calculator-block">
							<span class="field-text__label">Возраст (лет)</span>
							<input class="field-text__input" type="text" value="20">
						</label>
					</div>

					<div class="calculator-block__set-item">
						<label class="field-text  field-text--calculator-block">
							<span class="field-text__label">Рост (см)</span>
							<input class="field-text__input" type="text" value="160">
						</label>
					</div>

					<div class="calculator-block__set-item">
						<label class="field-text  field-text--calculator-block">
							<span class="field-text__label">Вес (кг)</span>
							<input class="field-text__input" type="text" value="50">
						</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="calculator-block__set">
				<legend class="calculator-block__form-title">Активность</legend>
				<div class="row">
					<div class="calculator-block__set-item  calculator-block__set-item--big">
						<label class="field-text  field-text--calculator-block  field-text--select-calc">
							<select class="modal__select  modal__select--single" data-placeholder="Немного дневной активности (ходьба минимум 60 мин в день или тренировка 1 раз в неделю)">
								<option></option>
								<option>Немного дневной активности (ходьба минимум 60 мин в день или тренировка 1 раз в неделю)</option>
								<option>Немного ночной активности (ходьба минимум 60 мин в день или тренировка 1 раз в неделю)</option>
								<option>Немного дневной активности (ходьба минимум 120 мин в день или тренировка 2 раз в неделю)</option>
								<option>Немного ночной активности (ходьба минимум 120 мин в день или тренировка 2 раз в неделю)</option>
							</select>
						</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="calculator-block__set">
				<legend class="calculator-block__form-title">Цель</legend>
				<div class="row">
					<div class="calculator-block__set-item  calculator-block__set-item--big">
						<label class="field-text  field-text--calculator-block  field-text--select-calc">
							<select class="modal__select  modal__select--single">
								<option>Снизить вес</option>
								<option>Набрать вес</option>
							</select>
						</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="calculator-block__set">
				<legend class="calculator-block__form-title">Личные данные</legend>
				<div class="row">
					<div class="calculator-block__set-item  calculator-block__set-item--margin">
						<label class="field-text  field-text--calculator-block">
							<input class="field-text__input" type="text" required>
							<span class="field-text__name">Ваше имя</span>
						</label>
					</div>

					<div class="calculator-block__set-item  calculator-block__set-item--margin">
						<label class="field-text  field-text--calculator-block">
							<input class="field-text__input" type="tel" required>
							<span class="field-text__name">Телефон</span>
						</label>
					</div>

					<div class="calculator-block__set-item  calculator-block__set-item--margin">
						<label class="field-text  field-text--calculator-block">
							<input class="field-text__input" type="email">
							<span class="field-text__name">E-mail</span>
						</label>
					</div>
				</div>
			</fieldset>

			<div class="field-checkbox__input-wrap">
				<label class="field-checkbox__name">
					<input class="field-checkbox__input" type="checkbox">
					<span class="field-checkbox__name-text">Да, я хочу получить индивидуальную консультацию диетолога</span>
				</label>
			</div>

			<div class="enroll-nutritionist__submit-grid">
				<button id="btn--calc" class="btn  btn--large-md" type="button">Рассчитать</button>
				<span class="enroll-nutritionist__form-text">Поля отмеченные  “ <span class="field-text__green-star">*</span> ” обязательны для заполнения</span>
			</div>
		</form>
	</div>

	<div class="calculator-block__bg">
		<div class="calculator-block__bg-wrapper">
			<img class="calculator-block__bg-image" src="img/calculator-block-bg.jpg" alt="">
		</div>
	</div>
</section>
