// В этом файле должны быть стили для БЭМ-блока calculator-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calculator-block {

	$block-name:                &;
	// #{$block-name}__element {}
	padding-bottom: 25px;

	@media (min-width: $screen-md) {
		padding-bottom: 50px;
	}

	@media (min-width: $screen-xl) {
		display: flex;
		padding-bottom: 15px;
	}

	&__content {
		padding-top: 1px;
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: $screen-xl) {
			flex-shrink: 0;
			width: 900px;
		}
	}

	&__set {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 25px;
		padding: 0;
		border: none;

		&:last-of-type {

			@media (min-width: $screen-md) {
				margin-bottom: 30px;
			}
		}
	}

	&__set-item {
		@include col(xs, 12, 12);
		@include col(md, 4, 12);
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}

		&--margin {
			margin-bottom: 20px;
		}

		&--big {
			@include col(md, 8, 12);
		}
	}

	&__items-wrapper {
		display: flex;
	}

	&__form-title {
		display: block;
		width: 100%;
		margin-bottom: 13px;
		padding: 0;
		font-size: 20px;
		color: $black;
	}

	&__bg {
		display: none;

		@media (min-width: $screen-xl) {
			display: block;
			overflow: hidden;
		}
	}

	&__bg-wrapper {
		margin-left: -75px;
	}

	&__bg-image {
		display: block;
		width: 920px;
		max-width: none;
		object-fit: cover;
		object-position: 0 50%;
	}
}
