// В этом файле должны быть стили для БЭМ-блока features-choose, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features-choose {

	$block-name:                &;
	// #{$block-name}__element {}

	@media (min-width: $screen-md) {
		display: flex;
		padding-top: 40px;
	}

	@media (min-width: $screen-lg) {
		padding-top: 50px;
	}

	&__left {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);

		@media (min-width: $screen-xl) {
			max-width: 600px !important;
		}
	}

	&__right {

		img {
			display: block;

			@media (min-width: $screen-md) {
				position: relative;
				z-index: 3;
				width: 482px;
				height: 710px;
				object-fit: cover;
				object-position: 0 50%;
			}

			@media (min-width: $screen-lg) {
				width: 585px;
				height: 883px;
			}

			@media (min-width: $screen-xl) {
				width: 945px;
				height: 951px;
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 15px;
		}
	}

	&__slider {
		margin-bottom: 50px;

		.slick-arrow {
			position: absolute;
			z-index: 1;
			bottom: -71px;
			right: 0;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $valentino;
			border: none;
			font-size: 0;
			transition: transform 0.6s, opacity 0.3s;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}

			&:hover {
				transform: scale(1.2);
			}

			@media (min-width: $screen-md) {
				z-index: 4;
				bottom: -60px;
				left: auto;
			}

			@media (min-width: $screen-lg) {
				bottom: -40px;
			}

			@media (min-width: $screen-xl) {
				bottom: -20px;
			}
		}

		.slick-prev {
			left: 0;

			&::before {
				margin-left: -4px;
				transform: rotate(135deg);
			}

			@media (min-width: $screen-md) {
				right: 0;
			}
		}

		.slick-next {
			left: 50px;

			&::before {
				margin-left: -8px;
				transform: rotate(-45deg);
			}

			@media (min-width: $screen-md) {
				right: -51px;
			}
		}

		.slick-list {

			@media (min-width: $screen-md) {
				padding-bottom: 90px;
			}

			@media (min-width: $screen-lg) {
				padding-bottom: 0;
			}
		}

		.slick-slide {
			outline: none;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__slider-item {

		@media (min-width: 1025px) {
			width: 50% !important;
			margin-bottom: 50px;
		}
	}

	&__slider-group {
		display: flex !important;
		flex-wrap: wrap;
	}

	&__item-content {
		position: relative;
		width: 170px;
		height: 170px;
		padding: 25px 20px;
		border: 6px solid hsl(228, 17%, 94%);

		@media (min-width: $screen-md) {
			width: 100px;
			height: 100px;
			padding: 10px 15px;
		}

		@media (min-width: $screen-lg) {
			width: 130px;
			height: 130px;
			padding: 25px 20px 30px;
		}

		@media (min-width: $screen-xl) {
			width: 170px;
			height: 170px;
		}
	}

	&__item-descr {
		position: absolute;
		top: 87px;
		left: 20px;
		width: 230px;
		font-size: 15px;
		font-weight: 700;
		color: $black;

		@media (min-width: $screen-md) {
			left: 15px;
			top: 70px;
			width: 140px;
		}

		@media (min-width: $screen-lg) {
			top: 85px;
			width: 185px;
			left: 20px;
		}

		@media (min-width: $screen-xl) {
			width: 250px;
		}
	}

	&__item-num {
		display: inline-block;
		font-size: 60px;
		line-height: 1;
		font-weight: 300;
		color: $green-light;
	}

	&__img-wrapper {
		overflow: hidden;

		@media (min-width: $screen-md) {
			margin-top: -100px;
		}
	}

	&__img {
		transition: transform 2.4s;

		&:hover {
			transform: scale(1.06);
		}
	}
}
