<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/features-choose/features-choose.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="features-choose">
	<div class="features-choose__left">
		<h3 class="med__h3">Почему выбирают нас</h3>
		<p class="med__p">Лаборатория персонального питания MEDline – сервис доставки индивидуальных программ питания. Это изысканные блюда ресторанного уровня, созданные совместными усилиями опытных врачей-диетологов и шеф-поваров.</p>

		<div class="features-choose__slider">
			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">1</span>
					<span class="features-choose__item-descr">Индивидуальный сервис, который ежедневно доставляет рацион</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">2</span>
					<span class="features-choose__item-descr">Изысканная еда ресторанного уровня на целый день</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">3</span>
					<span class="features-choose__item-descr">Продуманные линии питания, разработанные врачом-диетологом</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">4</span>
					<span class="features-choose__item-descr">Команда опытных поваров, обладающих высокой квалификацией</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">5</span>
					<span class="features-choose__item-descr">Индивидуальный сервис, который ежедневно доставляет рацион</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">6</span>
					<span class="features-choose__item-descr">Изысканная еда ресторанного уровня на целый день</span>
				</div>
			</div>

			<div class="features-choose__slider-item">
				<div class="features-choose__item-content">
					<span class="features-choose__item-num">7</span>
					<span class="features-choose__item-descr">Продуманные линии питания, разработанные врачом-диетологом врачом-диетологом</span>
				</div>
			</div>
		</div>
	</div>
	<div class="features-choose__right">
		<div class="features-choose__img-wrapper">
			<img class="features-choose__img" src="img/features-choose-bg.jpg" alt="">
		</div>
	</div>
</section>
