<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/news-item-block/news-item-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="news-item-block">
	<div class="news-item-block__wrapper">
		<header class="news-item-block__header">
			<h1>Название новости</h1>
			<b class="news-item-block__date">12.03.2017 г.</b>
		</header>

		<div class="news-item-block__content">
			<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>

			<p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
		</div>

		<div class="news-item-block__image-content">
			<img class="news-item-block__image" src="img/news-img-1.jpg" alt="">
		</div>

		<div class="news-item-block__btn-wrapper">
			<a href="" class="btn">Назад</a>
		</div>
	</div>
</section>
