// В этом файле должны быть стили для БЭМ-блока news-item-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-item-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;


	@media (min-width: $screen-md) {
		padding-bottom: 25px;
	}

	@media (min-width: $screen-lg) {
		padding-bottom: 50px;
	}

	&__wrapper {
		@include row();
	}

	&__header {
		@include col(xs, 12, 12);
	}

	&__image {
		display: block;
	}

	&__image-content {
		@include col(xs, 12, 12);
		@include col(lg, 8, 12);
		order: -1;

		@media (min-width: $screen-lg) {
			order: 0;
		}
	}

	&__content {
		@include col(xs, 12, 12);
		@include col(lg, 4, 12);

		p:first-child {
			margin-top: 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__date {
		position: relative;
		display: inline-block;
		margin-bottom: 25px;
		padding-bottom: 20px;
		font-size: 13px;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $gray-lightest;
		}
	}

	&__descr {

		@media (min-width: $screen-lg) {
			margin-top: 0;
		}
	}

	&__btn-wrapper {
		@include col(xs, 12, 12);
		margin-top: 25px;
		margin-bottom: 25px;

		@media (min-width: $screen-md) {
			margin-top: 50px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 0;
		}
	}
}
