<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/individual-racion-block/individual-racion-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="individual-racion-block">
	<div class="individual-racion-block__left">
		<div class="row">
			<header class="individual-racion-block__header">
				<h1 class="med__h1">Персональный рацион</h1>
				<p class="med__title-text">Врач-диетолог центра рационального здоровья MEDline разработает программу питания для решения любой вашей задачи.</p>
			</header>

			<div class="individual-racion-block__list">
				<div class="row">
					<div class="individual-racion-block__item">
						<span class="individual-racion-block__item-text" style="background-image: url('img/individual-racion-icon-1.png');">Здоровое питание</span>
					</div>
					<div class="individual-racion-block__item">
						<span class="individual-racion-block__item-text" style="background-image: url('img/individual-racion-icon-2.png');">Детоксикация организма</span>
					</div>
					<div class="individual-racion-block__item">
						<span class="individual-racion-block__item-text" style="background-image: url('img/individual-racion-icon-3.png');">Снижение веса или набор массы тела</span>
					</div>
					<div class="individual-racion-block__item">
						<span class="individual-racion-block__item-text" style="background-image: url('img/individual-racion-icon-4.png');">Питание при различных заболеваниях</span>
					</div>
					<div class="individual-racion-block__item">
						<span class="individual-racion-block__item-text" style="background-image: url('img/individual-racion-icon-5.png');">Питание до и после оперативных вмешательств</span>
					</div>
				</div>
			</div>

			<footer class="individual-racion-block__footer">
				<p class="med__p  med__p--individual-racion-block">Теперь рацион будет работать на вас, при этом оставаясь сбалансированным, разнообразным и вкусным!</p>
			</footer>
		</div>
	</div>

	<div class="individual-racion-block__right">
		<img class="individual-racion-block__right-img" src="img/individual-racion-img-1.jpg" alt="">
	</div>
</section>
