// В этом файле должны быть стили для БЭМ-блока individual-racion-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.individual-racion-block {

	$block-name:                &;
	// #{$block-name}__element {}

	@media (min-width: $screen-lg) {
		display: flex;
	}

	&__header {
		@include col(xs, 12, 12);
	}

	&__footer {
		@include col(xs, 12, 12);
	}

	&__left {
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: $screen-md) {
			padding-bottom: 60px;
		}


		@media (min-width: $screen-xl) {
			flex-shrink: 0;
			width: 800px;
			margin-top: 120px;
			padding-bottom: 0;
		}
	}

	&__right {
		display: none;

		@media (min-width: $screen-xl) {
			display: block;
			margin-right: auto;
			overflow: hidden;
		}
	}

	&__right-img {
		width: 920px;
		max-width: none;
		object-fit: cover;
		object-position: 0 50%;
	}

	&__list {
		@include col(xs, 12, 12);
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 45px;
		}
	}

	&__item-text {
		position: relative;
		display: inline-block;
		padding-left: 75px;
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 300;
		color: $valentino;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: 0 0;

		@media (min-width: $screen-md) {
			font-size: 21px;
		}
	}
}
