
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

	@-ms-viewport { /* stylelint-disable-line  at-rule-no-vendor-prefix */
		width: device-width;
	}
}

.page { // html

	$block-name:                &;
	// #{$block-name}__element

	box-sizing: border-box;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-overflow-style: scrollbar;
	-ms-text-size-adjust: 100%; /* stylelint-disable-line  property-no-vendor-prefix */
	min-width: 320px;
	min-height: 100%;

	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__content {
		flex-grow: 1;
	}

	&__footer-wrapper {
		flex-shrink: 0;
		background-color: $white;

		// &--menu-personal {
		// 	position: relative;
		// 	z-index: 10;
		// }
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #fff;
	margin: 0;
	min-height: 100%;
}

[tabindex='-1']:focus {
	outline: none !important;
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
	cursor: pointer;
}

// We love Safari
input[type='search'] {
	-webkit-appearance: none; /* stylelint-disable-line  property-no-vendor-prefix */
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
	touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

	a &,
	button & {
		pointer-events: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

button {
	text-size-adjust: none;
}

.container {
	@include container();
	max-width: 1200px;

	&--news {
		position: relative;
	}

	&--reviews {
		position: relative;
	}

	&--relative {
		position: relative;
	}
}

.row {
	@include row();
}

.parallax-mirror {
	z-index: 1 !important;
}

.datepicker-on {

	.ui-datepicker {
		border-color: $border-color;
		font-family: $font-family;
	}

	.ui-datepicker-header {
		color: $white;
		background-color: $valentino;
	}

	.ui-state-default {
		background-color: $white;
		border-color: $border-color;
	}

	.ui-state-highlight {
		background-color: $green-light;
		color: $white;
	}

	.ui-state-active {
		background-color: rgba($green-light, 0.5);
	}

	.ui-icon-circle-triangle-w,
	.ui-icon-circle-triangle-e {
		background-color: $white;
		border-radius: 50%;
	}
}

.page__main {



	&--fixed {

		@media (min-width: $screen-md) {
			margin-top: 178px;
		}

		@media (min-width: $screen-lg) {
			margin-top: 200px;
		}

		@media (min-width: $screen-xl) {
			margin-top: 206px;
		}
	}
}

.no-scroll {

	overflow: hidden !important;
	position: fixed !important;
	width: 100%;
}

.no-scroll-menu-personal {
	overflow: hidden !important;
}

.no-scroll-preloader {
	overflow-x: hidden;
}

.formresult {

	&.error {

		p {
			color: #f00;
		}
	}
}

@keyframes headerSlideDown {

	0% {

		transform: translateY(-100%);
	}

	100% {

		transform: translateY(0);
	}
}

.col-xs-5 {
	@include col(xs, 5, 12);

	&--intake {
		display: flex;
		align-items: center;
	}
}

.col-xs-6 {
	@include col(xs, 6, 12);
}

.col-md-2 {
	@include col(md, 2, 12);
}

.col-md-4 {
	@include col(md, 4, 12);
}

.hidden {
	display: none !important;
}

.text-center {
	text-align: center;
}

.slide-invisible {
	visibility: hidden;
	max-width: 0;
	overflow: hidden;

	@media (min-width: 1025px) {
		max-width: none;
		max-height: 0;
		padding: 0 !important;
	}
}

.d-none-md-down {

	@media (max-width: 767px) {
		display: none;
	}
}

.d-none-md-up {

	@media (min-width: $screen-md) {
		display: none;
	}
}
