// В этом файле должны быть стили для БЭМ-блока news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {

  $block-name:                &;
  // #{$block-name}__element {}
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	background-color: $gray-white;

	@media (min-width: $screen-md) {
		position: relative;
		margin-top: -60px;
		padding-top: 50px;
		padding-bottom: 100px;
	}

	&__wrapper {
		@include container();
		position: relative;
		max-width: 1200px;
	}

	&__bg {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			position: absolute;
			z-index: 1;
			top: 343px;
			right: 0;
		}

		@media (min-width: $screen-lg) {
			top: 383px;
		}

		@media (min-width: $screen-xl) {
			right: 20px;
		}
	}

	&__list {
		@include row();
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		@include col(lg, 4, 12);
		margin-bottom: 20px;

		&:nth-child(3) {
			display: none;

			@media (min-width: $screen-lg) {
				display: block;
			}
		}

		&:nth-of-type(2) {
			margin-bottom: 0;

			@media (min-width: $screen-md) {
				margin-bottom: 20px;
			}
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 15px;
		}
	}

	&__item-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $screen-lg) {
			padding-right: 80px;
		}

		@media (min-width: $screen-xl) {
			padding-right: 100px;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-size: 21px;
		line-height: 24px;
		font-weight: 300;
		color: $valentino;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $green-light;
		}
	}

	&__date {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 5px;
		font-size: 13px;
		line-height: 17px;
		font-weight: 700;
		color: $black;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $gray-lightest;
		}
	}
}
