<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/news/news.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="news">
	<div class="news__wrapper">
		<div class="news__bg">
			<img src="img/news-bg.png" alt="">
		</div>

		<h3 class="med__h3">Новости</h3>

		<div class="news__list">
			<article class="news__item">
				<div class="news__item-wrapper">
					<a href="#" class="news__title">Пример подзаголовка новости он может быть длинным</a>
					<span class="news__date">12.03.2017 г.</span>
					<p class="med__p  news__text-elepsis">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
				</div>
			</article>

			<article class="news__item">
				<div class="news__item-wrapper">
					<a href="#" class="news__title">Пример подзаголовка новости он может быть длинным</a>
					<span class="news__date">12.03.2017 г.</span>
					<p class="med__p  news__text-elepsis">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
				</div>
			</article>

			<article class="news__item">
				<div class="news__item-wrapper">
					<a href="#" class="news__title">Пример подзаголовка новости он может быть длинным</a>
					<span class="news__date">12.03.2017 г.</span>
					<p class="med__p  news__text-elepsis">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
				</div>
			</article>
		</div>

		<a href="/news.html" class="btn">Все новости</a>
	</div>
</section>
