<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/ready-programs/ready-programs.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="ready-programs">
	<div class="ready-programs__bg-scene">
		<div class="ready-programs__bg" data-depth="0.20">
			<img src="img/ready-programs-bg-1.jpg" alt="">
		</div>
		<div class="ready-programs__bg  ready-programs__bg--2" data-depth="0.50">
			<img src="img/ready-programs-bg-2.png" alt="">
		</div>
		<div class="ready-programs__bg  ready-programs__bg--3" data-depth="0.90">
			<img src="img/ready-programs-bg-3.png" alt="">
		</div>
	</div>
	<div class="container">
		<h3 class="med__h3  med__h3--ready-programs">Готовые программы</h3>
		<div class="row">

			<article class="ready-programs__item">
				<div class="ready-programs__item-controls">
					<button class="ready-programs__controls-btn" type="button">1300 kkal</button>
					<button class="ready-programs__controls-btn" type="button">1600 kkal</button>
					<button class="ready-programs__controls-btn" type="button">1900 kkal</button>
				</div>
				<div class="ready-programs__item-gallery">
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-1.jpg" alt="">
						</div>
					</div>
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-3.jpg" alt="">
						</div>
					</div>
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-4.jpg" alt="">
						</div>
					</div>
				</div>

				<div class="ready-programs__buy-content">
					<a href="/program-details.html" class="ready-programs__item-link">
						<span class="ready-programs__item-descr">
							<span class="ready-programs__item-logo">
								<img class="ready-programs__logo-image" src="img/ready-programs-logo-1.jpg" alt="">
							</span>

							<span class="ready-programs__descr-wrapper">
								<b class="ready-programs__item-name">Баланс Лайт</b>
								<span class="ready-programs__item-meals-num">3 приема пищи</span>
							</span>
						</span>

						<span class="ready-programs__item-delimiter"></span>
					</a>

					<span class="ready-programs__item-buy">
						<button class="ready-programs__buy-btn" type="button" data-fadeIn=".modal--order"><span>В корзину</span></button>
						<span class="ready-programs__price">
							<span class="ready-programs__price-item">
								<span class="ready-programs__price-item-cost">1300</span>
								<span class="ready-programs__price-item-step">руб./день</span>
							</span>
						</span>
					</span>
				</div>
			</article>

			<article class="ready-programs__item">
				<div class="ready-programs__item-controls">
					<button class="ready-programs__controls-btn" type="button">1300 kkal</button>
					<button class="ready-programs__controls-btn" type="button">1600 kkal</button>
					<button class="ready-programs__controls-btn" type="button">1900 kkal</button>
				</div>
				<div class="ready-programs__item-gallery">
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-2.jpg" alt="">
						</div>
					</div>
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-3.jpg" alt="">
						</div>
					</div>
					<div class="ready-programs__gallery-unit">
						<div class="ready-programs__gallery-img">
							<img src="img/ready-programs-img-4.jpg" alt="">
						</div>
					</div>
				</div>

				<div class="ready-programs__buy-content">
					<a href="/program-details.html" class="ready-programs__item-link">
						<span class="ready-programs__item-descr">
							<span class="ready-programs__item-logo">
								<img class="ready-programs__logo-image" src="img/ready-programs-logo-2.jpg" alt="">
							</span>

							<span class="ready-programs__descr-wrapper">
								<b class="ready-programs__item-name">Баланс Лайт</b>
								<span class="ready-programs__item-meals-num">3 приема пищи</span>
							</span>
						</span>

						<span class="ready-programs__item-delimiter"></span>
					</a>

					<span class="ready-programs__item-buy">
						<button class="ready-programs__buy-btn" type="button" data-fadeIn=".modal--order"><span>В корзину</span></button>
						<span class="ready-programs__price">
							<span class="ready-programs__price-item">
								<span class="ready-programs__price-item-cost">1300</span>
								<span class="ready-programs__price-item-step">руб./день</span>
							</span>
						</span>
					</span>
				</div>
			</article>
		</div>
	</div>
</section>
