// В этом файле должны быть стили для БЭМ-блока ready-programs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ready-programs {

	$block-name:                &;
	// #{$block-name}__element {}
	position: relative;
	padding-bottom: 30px;

	@media (min-width: $screen-md) {
		padding-top: 50px;
		padding-bottom: 100px;
		overflow: hidden;
	}

	&--page {

		@media (min-width: $screen-md) {
			padding-top: 0;
		}
	}

	&__header {
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 60px;
			padding-top: 1px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 90px;
		}
	}

	&__bg-scene {
		position: absolute !important;
		z-index: -1;
		top: 50%;
		left: 0;
		right: 0;
		display: none;
		margin-top: -140px;
		// overflow: hidden;

		@media (min-width: $screen-md) {
			display: block;
		}

		@media (min-width: $screen-lg) {
			margin-top: -160px;
		}

		@media (min-width: $screen-xl) {
			margin-top: -180px;
		}

		&--page {
			margin-top: -60px;

			@media (min-width: $screen-lg) {
				margin-top: -85px;
			}

			@media (min-width: $screen-xl) {
				margin-top: -100px;
			}
		}
	}

	&__bg {
		width: 3400px;
		height: 260px;
		left: -20% !important;

		img {
			display: block;
			margin-top: 20px;
		}

		&--2 {
			left: -25% !important;
		}

		&--3 {
			left: -15% !important;
		}
	}

	&__item {
		@include col(xs, 12);
		@include col(md, 6);
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
			line-height: 0;
		}
	}

	&__item-controls {
		margin-bottom: 3px;
	}

	&__controls-btn {
		position: relative;
		margin-right: 20px;
		padding: 0;
		padding-bottom: 10px;
		font-size: 14px;
		font-weight: 700;
		font-family: $font-family;
		border: none;
		color: $valentino;
		background-color: transparent;
		transition: color 0.15s;
		outline: none;
		cursor: pointer;

		&.active {

			&::before {
				transform: scaleX(1);
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: $green-light;
			transform: scaleX(0);
			transition: transform 0.3s;
		}

		&:hover {
			color: $text-color;

			&::before {
				transform: scaleX(1);
			}
		}
	}

	&__item-gallery {
		background-color: $white;

		.slick-arrow {
			position: absolute;
			z-index: 1;
			bottom: 20px;
			right: 0;
			display: none !important;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $valentino;
			border: none;
			font-size: 0;
			transition: transform 0.6s, opacity 0.3s;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}

			&:hover {
				transform: scale(1.2);
			}

			@media (min-width: $screen-xl) {
				display: block !important;
				opacity: 0;
			}
		}

		.slick-prev {
			right: 70px;

			&::before {
				margin-left: -4px;
				transform: rotate(135deg);
			}
		}

		.slick-next {
			right: 20px;

			&::before {
				margin-left: -8px;
				transform: rotate(-45deg);
			}
		}

		.slick-active {

			.ready-programs__gallery-img {
				transform: translateX(0);
				opacity: 1;

				img {
					transform: translateX(0) scale(1);
				}
			}
		}

		&:hover {

			.slick-arrow {
				opacity: 1;
			}
		}

		@media (min-width: $screen-md) {
			position: relative;
			z-index: 1;
			width: 65%;
		}

		@media (min-width: $screen-md) {
			width: 62.5%;
		}

		@media (min-width: $screen-xl) {
			width: 370px;
		}
	}

	&__gallery-img {
		overflow: hidden;
		transform: translateX(400px);
		opacity: 0;
		transition: transform 2s, opacity 2s;

		img {
			width: 100%;
			transform: translateX(-200px) scale(1.2);
			transition: transform 2s 0.2s;
		}
	}

	&__item-link {
		display: block;
		padding: 20px;
		padding-bottom: 61px;
		border: 6px solid hsl(228, 17%, 94%);
		border-top: none;
		color: $text-color;
		text-decoration: none;

		&:hover {

			.ready-programs__item-name {
				color: $green-light;

				&::before {
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}

		@media (min-width: $screen-md) {
			position: relative;
			margin-top: -35px;
			margin-left: 125px;
			padding-top: 52px;
			padding-bottom: 65px;
			border-top: 6px solid hsl(228, 17%, 94%);
		}

		@media (min-width: $screen-lg) {
			margin-left: 175px;
			padding-top: 55px;
			padding-bottom: 71px;
			padding-left: 30px;
			padding-right: 30px;
		}

		@media (min-width: $screen-xl) {
			margin-left: 200px;
		}
	}

	&__item-descr {
		display: flex;
	}

	&__descr-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__item-logo {
		flex-shrink: 0;
		display: block;
		width: 63px;
		margin-right: 20px;

		@media (min-width: $screen-md) {
			position: absolute;
			bottom: 50px;
			left: -120px;
			width: 100px;
			margin-right: 0;
		}

		@media (min-width: $screen-lg) {
			left: -165px;
			bottom: 45px;
			width: auto;
		}

		@media (min-width: $screen-xl) {
			left: -180px;
		}
	}

	&__item-name {
		position: relative;
		margin-bottom: auto;
		font-size: 22px;
		line-height: 24px;
		color: $valentino;
		transition: color 0.3s;

		&::before {
			content:'';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: $green-light;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform 0.3s;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 5px;
		}
	}

	&__logo-image {
		display: block;
	}

	&__buy-content {
		position: relative;
	}

	&__item-buy {
		position: absolute;
		bottom: 26px;
		left: 26px;
		z-index: 1;
		display: flex;
		align-items: center;

		@media (min-width: $screen-md) {
			left: 151px;
		}

		@media (min-width: $screen-lg) {
			left: 211px;
		}

		@media (min-width: $screen-xl) {
			left: 236px;
		}
	}

	&__item-meals-num {
		font-size: 15px;
		line-height: 1;
		color: hsl(180, 0%, 58%);
	}

	&__item-delimiter {
		display: block;
		height: 1px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: $gray-lightest;

		@media (min-width: $screen-md) {
			margin-top: 15px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 20px;
		}
	}

	&__buy-btn {
		position: relative;
		box-sizing: border-box;
		display: inline-block;
		width: 41px;
		height: 41px;
		margin: 0;
		margin-right: 20px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 41px;
		padding-right: 0;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		text-align: left;
		font-size: 14px;
		font-weight: 700;
		font-family: inherit;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		border-radius: $border-radius;
		border: none;
		background-color: $green-light;
		background-image: none;
		cursor: pointer;
		outline: none;
		transition: background-color 0.3s, width 0.6s;
		overflow: hidden;

		span {
			line-height: 1;
		}

		&::before {
			@include sprite($cart-icon-white);
			content: '';
			position: absolute;
			top: 50%;
			left: 11px;
			margin-top: -9px;
		}

		&:hover {
			background-color: $green;

			@media (min-width: $screen-xl) {
				width: 130px;
			}
		}

		&--menu-categories-block {
			margin-right: 0;

			&:hover {

				@media (min-width: $screen-xl) {
					width: 106px;
				}
			}

			@media (min-width: $screen-xl) {
				padding-top: 11px;
				padding-bottom: 11px;
				font-size: 12px;
			}
		}

		&--modal {
			width: 102px;
			padding-left: 38px;
			font-size: 12px;

			&:hover {

				@media (min-width: $screen-xl) {
					width: 102px;
				}
			}
		}
	}

	&__price {
		width: 160px;
		overflow: hidden;
	}

	&__price-item-cost {
		font-size: 36px;
		line-height: 1;

		@media (min-width: $screen-md) {
			display: block;
		}

		@media (min-width: $screen-lg) {
			display: inline-block;
		}
	}

	&__price-item-step {
		font-size: 14px;
    text-transform: uppercase;

		@media (min-width: $screen-md) {
			line-height: 1;
		}
	}
}
