<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/breadcrumbs/breadcrumbs.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->
<div class="steps">
  <ul class="steps__box">
    <li class="steps__item steps__active"><a href="" class="steps__link">Данные <br> клиента</a></li>
    <li class="steps__item"><a href="" class="steps__link">Подбор <br> рациона</a></li>
    <li class="steps__item"><a href="" class="steps__link">Подтверждение <br> заказа</a></li>
  </ul>
</div>
