// В этом файле должны быть стили для БЭМ-блока delivery-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.delivery-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	&__list {
		@include row();
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 0;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__item-title {
		display: block;
		margin-bottom: 25px;
		padding-top: 50px;
		font-size: 21px;
		font-weight: 300;
		color: $valentino;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}
