<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/delivery-block/delivery-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="delivery-block">
	<h3 class="med__h3">Доставка</h3>

	<div class="delivery-block__list">
		<div class="delivery-block__item">
			<span class="delivery-block__item-title" style="background-image: url('img/about-choose-icon-2.png')">Заказ по меню</span>

			<ul class="default-list">
				<li>Время на приготовление заказа (в среднем) – 1 час (зависит от объема заказа и его сложности)</li>
				<li>Время доставки (в среднем) –  1 час (зависит от транспортной ситуации на дорогах)</li>
				<li>Бесплатная доставка при заказе от 500 рублей</li>
			</ul>
		</div>

		<div class="delivery-block__item">
			<span class="delivery-block__item-title" style="background-image: url('img/delivery-block-icon-1.png')">Заказ индивидуальных рационов и программ</span>

			<ul class="default-list">
				<li>Время на формирование заказа – 48 часов</li>
				<li>Время доставки – с 6:00 до 12:00 (в удобный для вас интервал времени)</li>
				<li>Бесплатная доставка</li>
			</ul>
		</div>
	</div>
</section>
