<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/profile-block/profile-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="profile-block">
	<h1>Профиль</h1>

	<form autocomplete="off" action="#" method="POST">
		<div class="profile-block__form-wrapper">
			<div class="profile-block__primary-wrapper">

				<div class="profile-block__top-container">
					<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile">
						<label class="field-text  field-text--registration  field-text--profile">
							<span class="field-text__label  field-text__label--profile">ФИО</span>
							<input class="field-text__input  field-text__input--registration  field-text__input--profile" type="text" value="Иванов Иван Иванович">
						</label>
					</div>

					<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile">
						<label class="field-text  field-text--registration  field-text--profile">
							<span class="field-text__label  field-text__label--profile">Телефон</span>
							<input class="field-text__input field-text__input--registration  field-text__input--profile" type="tel" value="+7 928 123-45-67">
						</label>
					</div>

					<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile">
						<label class="field-text  field-text--registration  field-text--profile">
							<span class="field-text__label  field-text__label--profile">E-mail</span>
							<input class="field-text__input field-text__input--registration  field-text__input--profile" type="email" value="ivanov@gmail.com">
						</label>
					</div>
				</div>
			</div>


			<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile">
				<label class="field-text  field-text--registration  field-text--profile">
					<span class="field-text__label  field-text__label--profile">Город/населенный пункт</span>
					<input class="field-text__input field-text__input--registration  field-text__input--profile" type="text" value="Краснодар">
				</label>
			</div>

			<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile">
				<label class="field-text  field-text--registration  field-text--profile">
					<span class="field-text__label  field-text__label--profile">Улица</span>
					<input class="field-text__input field-text__input--registration  field-text__input--profile" type="text" value="Северная">
				</label>
			</div>

			<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile  modal__field-item--profile-small">
				<label class="field-text  field-text--registration  field-text--profile">
					<span class="field-text__label  field-text__label--profile">Дом/Корпус</span>
					<input class="field-text__input field-text__input--registration  field-text__input--profile  field-text__input--profile-small" type="text" value="12">
				</label>
			</div>

			<div class="modal__field-item  modal__field-item--big  modal__field-item--enter  modal__field-item--profile  modal__field-item--profile-small">
				<label class="field-text  field-text--registration  field-text--profile">
					<span class="field-text__label  field-text__label--profile">Квартира</span>
					<input class="field-text__input field-text__input--registration  field-text__input--profile  field-text__input--profile-small" type="text" value="24">
				</label>
			</div>

			<div class="modal__field-item  modal__field-item--profile  modal__field-item--profile-btn">
				<button class="btn" type="submit">Cохранить</button>
			</div>
		</div>
	</form>
</section>
