// В этом файле должны быть стили для БЭМ-блока profile-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.profile-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	&__form-wrapper {
		@include row();
		padding-bottom: 30px;

		@media (min-width: $screen-md) {
			padding-bottom: 50px;
		}
	}

	&__primary-wrapper {
		@include col(xs, 12, 12);
		padding-bottom: 20px;
	}

	&__top-container {
		@include row();
	}
}
