// В этом файле должны быть стили для БЭМ-блока racion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.racion {

	$block-name:                &;
	// #{$block-name}__element {}
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	height: 60px;
	background-color: hsl(220, 20%, 97%);

	.swiper-container {

		@media (min-width: 1025px) {
			width: auto;
			min-height: 100%;
			margin-left: 35px;
			margin-right: 0;
			background-color: transparent;
		}

		@media (min-width: $screen-xl) {
			max-width: 300px;
			margin-left: 40px;
		}

		@media (min-width: $screen-xxl) {
			margin-left: 60px;
		}
	}

	.swiper-slide {

		@media (min-width: $screen-xl) {
			max-width: 300px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		margin-top: 0;
		top: 15px;
		display: none;
		width: 31px;
		height: 31px;
		background-color: $green-light;
		background-image: none;
		border-radius: 3px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			border: 2px solid $white;
			border-top: 0;
			border-left: 0;
			transform: translate(-50%, -50%);
		}
	}

	.swiper-button-prev {
		left: auto;
		right: 57px;

		&::before {
			left: 56%;
			transform: translate(-50%, -50%) rotate(135deg);
		}
	}

	.swiper-button-next {
		right: 20px;

		&::before {
			left: 44%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.swiper-button--visible {
		display: block;
	}

	@media (min-width: $screen-md) {
		width: 100%;
		height: 80px;
	}

	@media (min-width: 1025px) {
		position: static;
		flex-basis: calc(25%);
		width: auto;
		height: auto;
		background-color: transparent;
		overflow-y: auto;
	}

	@media (min-width: $screen-xl) {
		flex-basis: calc(25%);
		max-width: 340px;
	}

	@media (min-width: $screen-xxl) {
		max-width: 360px;
	}


	&--fixed {
		position: fixed !important;
		z-index: 10;
		top: 122px;
		bottom: auto;
		left: auto;
		right: 0;
	}

	&__btn-modal {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		margin-top: -32px;
		padding: 10px;
		border-top-left-radius: 3px;
		border: none;
		font-size: 12px;
		line-height: 1;
		font-weight: 700;
		font-family: $font-family;
		text-transform: uppercase;
		background-color: $valentino;
		color: $white;
		outline: none;
		cursor: pointer;

		@media (min-width: $screen-md) {
			right: auto;
			left: 50%;
			padding: 10px 20px;
			border-top-right-radius: 3px;
			transform: translateX(-50%);
		}

		@media (min-width: 1025px) {
			top: 360px;
			left: 3px;
			margin-top: 0;
			transform-origin: 0 0;
			transform: rotate(-90deg) translateX(-100%);
		}

		@media (min-width: $screen-xl) {
			left: 8px;
		}

		@media (min-width: $screen-xxl) {
			left: 28px;
		}
	}

	&__intake {
		flex-shrink: 0;
		display: flex !important;
		align-items: center;
		padding: 5px 10px;
		border-right: 1px solid hsl(220, 5%, 87%);
		transition: background-color 0.3s;

		&::before {

			@media (min-width: 1025px) {
				content: '';
				position: absolute;
				bottom: 0;
				left: 20px;
				right: 20px;
				height: 1px;
				background-color: $gray-lightest;
				transition: background-color 0.3s, left 0.3s, right 0.3s;
			}
		}

		@media (min-width: $screen-md) {
			padding: 15px 20px;
		}

		@media (min-width: 1025px) {
			position: relative;
			flex-wrap: wrap;
			padding-left: 20px;
			padding-right: 0;
			padding-bottom: 0;
			padding-top: 20px;
			border-right: 0;
		}

		&--active {
			background-color: hsl(76, 67%, 85%);

			&::before {

				@media (min-width: 1025px) {
					left: 0;
					right: 0;
					background-color: rgba($black, 0.1);
				}
			}

			.racion__intake-addition {

				@media (min-width: 1025px) {
					max-height: 50px;
					margin-bottom: 10px;
				}
			}

			.racion__dishes-item {

				&::before,
				&::after {
					display: none;
				}

				&:hover {

					@media (min-width: 1025px) {
						background-color: transparent;
						border-image-slice: 1;
					}
				}
			}
		}

		&--next-active {

			&::before {

				@media (min-width: 1025px) {
					left: 0;
					right: 0;
					background-color: rgba($black, 0.1);
				}
			}
		}
	}

	&__intake-addition {
		display: none;

		@media (min-width: 1025px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-height: 0;
			margin-bottom: 0;
			overflow: hidden;
			transition: max-height 0.3s, margin-bottom 0.3s;
		}
	}

	&__intake-addition-text {

		@media (min-width: 1025px) {
			font-size: 18px;
			line-height: 1;
			font-weight: 300;
			color: $valentino;
		}
	}

	&__intake-addition-btn {

		> span {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			transform: translate(-50%, -50%);

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 2px;
				margin-top: -1px;
				background-color: $valentino;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}

		@media (min-width: 1025px) {
			position: relative;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			padding: 0;
			border: none;
			background-color: transparent;
			outline: none;
			cursor: pointer;
		}
	}

	&__time-of-day {
		margin-right: 10px;
		line-height: 1;
		font-weight: 300;
		color: $black;

		@media (min-width: 1025px) {
			flex-shrink: 0;
			width: 50px;
			margin-right: 0;
			margin-bottom: 20px;
		}

		@media (min-width: $screen-xl) {
			width: 60px;
		}
	}

	&__intake-day {
		flex-shrink: 0;
		margin-right: 10px;

		&::before {

			@media (min-width: 1025px) {
				content: '';
				position: absolute;
				bottom: 0;
				left: 20px;
				right: 20px;
				height: 1px;
				background-color: $gray-lightest;
				transition: left 0.3s, right 0.3s, background-color 0.3s;
			}
		}

		@media (min-width: $screen-md) {
			margin-right: 30px;
			// margin-left: 10px;
		}

		@media (min-width: 1025px) {
			position: relative;
			margin-left: 0;
			margin-right: 0;
			padding: 20px;
		}

		&.racion__intake--next-active {

			&::before {

				@media (min-width: 1025px) {
					left: 0;
					right: 0;
					background-color: rgba($black, 0.1);
				}
			}
		}
	}

	&__intake-day-title {
		font-size: 18px;
		line-height: 1;
		font-weight: 300;
		color: $black;

		@media (min-width: $screen-md) {
			display: inline-block;
			margin-bottom: 2px;
			font-size: 24px;
		}

		@media (min-width: 1025px) {
			margin-bottom: 15px;
		}
	}

	&__intake-day-norm {
		line-height: 1;
		font-weight: 500;
		color: $valentino;

		&.danger {
			color: $red-medline;
		}
	}

	&__intake-day-value {
		font-size: 24px;
		line-height: 1;

		@media (min-width: 1025px) {
			font-size: 30px;
		}
	}

	&__intake-day-measure {
		font-size: 18px;
		line-height: 1;

		@media (min-width: 1025px) {
			font-size: 22px;
		}
	}

	&__dishes {
		display: flex;

		@media (min-width: 1025px) {
			flex-wrap: wrap;
			width: calc(100% - 60px);
			padding-right: 10px;
		}

		@media (min-width: $screen-xl) {
			width: calc(100% - 70px);
		}
	}

	&__dishes-item {
		flex-shrink: 0;
		position: relative;
		width: 48px;
		height: 48px;
		margin-right: 10px;
		border: 1px solid $gray-lighter;
		border-image-source: url('../img/border-racion.png');
		border-image-slice: 1;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 2px;
			background-color: $valentino;
			transform: translate(-50%, -50%);

			@media (min-width: 1025px) {
				transition: background-color 0.3s, border-image-slice 0.3s;
			}
		}

		&:before {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		&:last-child {
			margin-right: 0;

			@media (min-width: 1025px) {
				margin-right: 10px;
			}
		}

		&:hover {

			&::before,
			&::after {

				@media (min-width: 1025px) {
					background-color: $white;
				}
			}

			@media (min-width: 1025px) {
				background-color: $green-light;
				border-image-slice: 0;
			}
		}

		@media (min-width: $screen-md) {
			margin-right: 20px;
		}

		@media (min-width: 1025px) {
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 20px;
			transition: background-color 0.3s;
		}

		&--not-empty {
			border: none;
			cursor: default;
			width: auto;
			height: auto;

			.racion__dishes-item-content {
				opacity: 1;
				visibility: visible;
			}

			&::before,
			&::after {
				display: none;
			}

			&:hover {

				@media (min-width: 1025px) {
					background-color: transparent;
				}
			}
		}
	}

	&__dishes-item-content {
		position: relative;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0s;
	}

	&__dishes-image {
		display: block;
	}

	&__dishes-nameplate {
		position: absolute;
		left: 0;
		bottom: 0;
		padding-left: 12px;
		padding-right: 4px;
		padding-top: 3px;
		padding-bottom: 3px;
		font-size: 11px;
		line-height: 1;
		color: $white;
		background-color: $valentino;

		&::before {
			@include sprite($liven-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 4px;
			transform: translateY(-50%);
		}
	}

	&__dishes-btn-del {
		position: absolute;
		top: -3px;
		right: -3px;
		box-sizing: border-box;
		width: 16px;
		height: 16px;
		padding-left: 0;
		padding-right: 0;
		border: none;
		outline: none;
		background-color: $green-light;

		&::before {
			@include sprite($dishes-close-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {

			@media (min-width: 1025px) {
				transform: scale(1.3);
			}
		}

		@media (min-width: $screen-md) {
			top: -7px;
			right: -7px;
		}

		@media (min-width: 1025px) {
			transition: transform 0.1s;
		}
	}

	&__carousel {
		background-color: $gray-header-bg;
	}

	&__intake-add-block {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		margin-left: 20px;

		@media (min-width: $screen-md) {
			margin-left: 30px;
		}

		@media (min-width: 1025px) {
			flex-direction: column;
			align-items: flex-start;
			margin-left: 0;
			padding: 20px;
		}
	}

	&__intake-day-alert {
		display: none;
		font-size: 16px;
		font-weight: 300;
		color: $red-medline;

		&.visible {
			display: block;
		}
	}

	&__intake-add-price {
		flex-shrink: 0;
		// margin-right: 20px;
		font-weight: 500;
		line-height: 1;
		color: $valentino;

		@media (min-width: 1025px) {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

	&__intake-add-price-value {
		font-size: 24px;
		line-height: 1;

		@media (min-width: 1025px) {
			font-size: 30px;
		}
	}

	&__intake-add-price-measure {
		font-size: 18px;
		line-height: 1;

		@media (min-width: 1025px) {
			font-size: 22px;
		}
	}

	&__intake-add-btn {
		position: relative;
		box-sizing: border-box;
		width: 50px;
		height: 50px;
		margin-left: 20px;
		border: none;
		font-size: 0;
		border-radius: 3px;
		background-color: $green-light;
		outline: none;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 2px;
			background-color: $white;
			transform: translate(-50%, -50%);

			@media (min-width: 1025px) {
				display: none;
			}
		}

		&:before {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		&:hover {

			@media (min-width: 1025px) {
				background-color: $green;
			}
		}

		@media (min-width: 1025px) {
			width: 100%;
			height: 41px;
			margin-left: 0;
			font-family: $font-family;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			cursor: pointer;
			transition: background-color 0.3s;
		}
	}

	&__dishes-price {
		display: none;

		@media (min-width: 1025px) {
			display: block;
			margin-top: 5px;
			font-size: 12px;
			line-height: 1;
			color: $black;
		}
	}
}
