// Этот блок ответственен за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

$gray:                        hsl(0, 0%, 50%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !default;

$font-size:                   14px !default;
$font-size--h1:               2.25em !default;
$font-size--h2:               1.875em !default;
$font-size--h3:               1.5em !default;
$font-size--h4:               1.25em !default;
$font-size--h5:               1em !default;
$font-size--h6:               1em !default;
$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$screen-sm:                   480px !default;

$border-radius:               3px !default;

@font-face {
	font-family: 'Merlo';
	src: url('../fonts/Merlo-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Merlo';
	src: url('../fonts/Merlo-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Merlo';
	src: url('../fonts/Merlo-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Merlo';
	src: url('../fonts/Merlo-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Merlo';
	src: url('../fonts/Merlo-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}


body {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family--headings;
	font-weight: 700;
	line-height: $line-height;
	color: currentColor;
}

// .h1,
// .h2,
// .h3,
h1,
h2,
h3 {
	margin-top: $line-height;
	margin-bottom: ($line-height / 2);
}

// .h4,
// .h5,
// .h6,
h4,
h5,
h6 {
	margin-top: ($line-height / 2);
	margin-bottom: ($line-height / 2);
}

// .h1,
h1 {
	font-size: $font-size--h1;
}

// .h2,
h2 {
	font-size: $font-size--h2;
}

// .h3,
h3 {
	font-size: $font-size--h3;
}

// .h4,
h4 {
	font-size: $font-size--h4;
}

// .h5,
h5 {
	font-size: $font-size--h5;
}

// .h6,
h6 {
	font-size: $font-size--h6;
}

// .p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
	margin-top: ($line-height / 2);
	margin-bottom: ($line-height / 2);
}

address {
	font-style: normal;
}

ul,
ol {
	padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	line-height: inherit;
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 0;

	@media (min-width: $screen-sm) {
		margin-left: 1.8em;
	}

	& + dt {
		margin-top: ($line-height / 2);
	}
}

// .small,
small {
	font-size: $font-size--small;
}

sub,
sup {
	font-size: 70%;
}

// .mark,
mark {
	background: #fcf8e3;
	padding: 0.1em 0.3em;
}

b,
strong {
	font-weight: bolder;
}

abbr[title] {
	border-bottom: 1px dotted;
}

blockquote {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

code,
kbd,
pre,
samp {
	font-family: $font-family--monospace;
}

code {
	padding: 0.06em 0.3em;
	color: $text-color;
	background-color: $gray-lightest;
	border-radius: $border-radius;
}

kbd {
	padding: 0.06em 0.3em;
	color: $text-color;
	background-color: $gray-lightest;
	border-radius: $border-radius;

	kbd {
		padding: 0;
	}
}

pre {
	display: block;
	width: 100%;
	overflow-x: auto;
	tab-size: 2;
}

h1,
.med__h1 {
	margin-top: 25px;
	font-size: 26px;
	font-weight: 300;
	line-height: 1.2;
	color: $valentino;

	@media (min-width: $screen-md) {
		margin-top: 40px;
		margin-bottom: 35px;
		font-size: 30px;
	}

	@media (min-width: $screen-lg) {
		font-size: 36px;
	}

	@media (min-width: $screen-xl) {
		font-size: 42px;
	}

	&--about-top-block {

		@media (min-width: $screen-lg) {
			margin-top: 0;
		}

		@media (min-width: $screen-xl) {
			margin-top: 0;
		}
	}

	&--calculator-result-block {
		display: block;
		margin-bottom: 15px;

		@media (min-width: $screen-md) {
			margin-bottom: 15px;
		}
	}

	&--program-details-block {
		margin-top: 20px;
		margin-bottom: 15px;

		@media (min-width: $screen-md) {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 42px;
		}
	}

	&--menu-categories-block {
		margin-bottom: 10px;

		@media (min-width: $screen-md) {
			margin-top: 0;
			margin-bottom: 10px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 0;
		}
	}

	&--menu-categories-search {

		@media (min-width: $screen-md) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&--menu-personal-block {

		@media (min-width: $screen-md) {
			margin-top: 0;
			margin-bottom: 10px;
		}

		@media (min-width: 1590px) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

h3,
.med__h3 {
	margin-top: 25px;
	font-size: 26px;
	font-weight: 300;
	line-height: 1.2;
	color: $valentino;

	& + p,
	& + .med__p {
		margin-top: 0;
	}

	@media (min-width: $screen-md) {
		margin-top: 40px;
		margin-bottom: 35px;
		font-size: 30px;
	}

	@media (min-width: $screen-lg) {
		font-size: 36px;
	}

	@media (min-width: $screen-xl) {
		font-size: 42px;
	}

	&--ready-programs {

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}

	&--collect-diet {
		margin-top: 0;

		@media (min-width: $screen-md) {
			margin-top: 0;
		}
	}

	&--enroll-nutritionist {
		margin-top: 0;
		margin-bottom: 25px;

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}

	&--order-by-menu {

		@media (min-width: $screen-md) {
			width: 140px;
			margin-top: -3px;
			margin-bottom: 20px;
		}

		@media (min-width: $screen-lg) {
			width: 150px;
			margin-top: 20px;
			margin-bottom: 35px;
		}

		@media (min-width: $screen-xl) {
			width: 170px;
			margin-top: 15px;
		}
	}

	&--health-center {

		@media (min-width: $screen-md) {
			margin-bottom: 15px;
		}
	}

	&--news {

		@media (min-width: $screen-md) {
			margin-top: 30px;
		}
	}

	&--black {
		color: $text-color;
	}

	&--created-by-doctors {
		margin-top: 0;

		@media (min-width: $screen-md) {
			margin-top: 10px;
		}
	}

	&--enter {
		margin-bottom: 0;
		font-size: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
			font-size: 30px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 0;
			font-size: 42px;
		}

		@media (min-width: $screen-xl) {
			margin-bottom: 0;
		}
	}

	&--delivery {
		margin-bottom: 20px;

		br {

			@media (min-width: $screen-md) {
				display: none;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 20px;
		}
	}
}

p,
.med__p {
	line-height: 1.3;
	color: $text-color--sub;

	&:last-of-type {
		margin-bottom: 25px;
	}

	&--collect-diet {
		text-align: center;

		&:last-of-type {

			@media (min-width: $screen-md) {
				margin-bottom: 45px;
			}
		}

		@media (min-width: $screen-xl) {
			width: 760px;
		}
	}

	&--order-by-menu {

		@media (min-width: $screen-md) {
			display: none;
		}

		@media (min-width: $screen-lg) {
			display: block;
		}
	}

	&--health-center {

		@media (min-width: $screen-lg) {
			padding-right: 235px;
		}
	}

	&--individual-racion-block {

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&--health-rules {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 35px;
		font-size: 15px;
		color: $black;

		&:last-of-type {
			margin-bottom: 0;
		}

		&::before {
			content: attr(data-num);
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			background-color: $green-light;
			border-radius: 50%;
			text-align: center;
			color: $white;

			@media (min-width: $screen-md) {
				width: 70px;
				height: 70px;
				font-size: 60px;
				font-weight: 100;
				line-height: 70px;
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 100px;
		}
	}

	&--hash {
		font-size: 24px;
		font-weight: 300;

		&::before {
			top: 5px;

			@media (min-width: $screen-md) {
				top: 0;
			}
		}

		@media (min-width: $screen-md) {
			padding-top: 15px;
		}
	}
}

strong,
.med__strong {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 24px;

	&--about-top-block {
		display: inline-block;
		margin-bottom: 10px;
	}

	&--contacts-block {
		display: inline-block;
		margin-bottom: 20px;

		@media (min-width: $screen-md) {
			margin-bottom: 17px;
		}
	}
}

hr,
.med__hr {
	@include container();
	width: calc(100% - 30px);
	max-width: 1170px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0;
	padding-right: 0;
	border: none;
	border-top: 1px solid $gray-lightest;

	@media (min-width: $screen-sm) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-md) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-lg) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-xl) {
		margin-left: auto;
		margin-right: auto;
	}

	&--no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.med__title-text {
	font-size: 18px;
	font-weight: 300;
	color: $black;

	@media (min-width: $screen-md) {
		font-size: 20px;
	}

	&--health-rules {

		&:last-of-type {

			@media (min-width: $screen-md) {
				margin-bottom: 40px;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}

	&--calculator-result-block {
		display: block;
		margin-bottom: 15px;
		font-size: 16px;

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
			font-size: 18px;
		}
	}
}

.clear-typo {

	a {
		position: relative;
		color: $green-light;
		text-decoration: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green-light;
			opacity: 1;
			transition: opacity 0.3s;
		}

		&:hover {

			&::before {
				opacity: 0;
			}
		}
	}
}

.default-list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 16px;
	color: $text-color--sub;

	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			width: 10px;
			height: 2px;
			background-color: $green-light;
		}
	}
}

