<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/reviews/reviews.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="reviews">
	<div class="reviews__wrapper">
		<div class="reviews__leaf  reviews__leaf--one" style="background-image: url('img/reviews-leaf-1.jpg');"></div>
		<div class="reviews__leaf  reviews__leaf--two" style="background-image: url('img/reviews-leaf-2.jpg');"></div>
		<div class="reviews__leaf  reviews__leaf--three" style="background-image: url('img/reviews-leaf-3.jpg');"></div>
		<div class="reviews__leaf  reviews__leaf--four" style="background-image: url('img/reviews-leaf-4.jpg');"></div>
		<h3 class="med__h3">Отзывы</h3>

		<div class="reviews__carousel">
			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-1.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Ирина Иванова</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>

			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-2.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Петр Петров</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>

			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-3.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Сидорова Анна</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>

			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-1.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Ирина Иванова</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>

			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-2.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Петр Петров</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>

			<article class="reviews__item">
				<div class="reviews__author">
					<div class="reviews__author-img">
						<img src="img/reviews-img-3.jpg" alt="">
					</div>

					<div class="reviews__author-descr">
						<span class="reviews__author-name">Сидорова Анна</span>
						<span class="reviews__author-post">директор "Финанс Групп"</span>
					</div>
				</div>

				<div class="reviews__item-content">
					<p class="reviews__item-text">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. </p>
				</div>
			</article>
		</div>

		<a href="/comments.html" class="btn">Все отзывы</a>
	</div>
</section>
