// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {

  $block-name:                &;
  // #{$block-name}__element {}
  position: relative;
  display: flex;
  padding-bottom: 30px;
  background-color: $gray-white;

  @media (min-width: $screen-md) {
  	min-height: 660px;
  	padding-top: 50px;
  	padding-bottom: 74px;
  }

  @media (min-width: $screen-lg) {
  	min-height: 720px;
  }

  @media (min-width: $screen-xl) {
  	min-height: 660px;
  	overflow: hidden;
  }

  &__wrapper {
  	@include container();
  	position: relative;
  	max-width: 1200px;
  }

  &__leaf {
  	position: absolute;
  	display: none;
		width: 230px;
		height: 150px;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		&--one {

			@media (min-width: $screen-md) {
				top: -50px;
				left: 435px;
				display: block;
			}

			@media (min-width: $screen-lg) {
				left: 580px;
			}

			@media (min-width: $screen-xl) {
				left: 600px;
			}
		}

		&--two {

			@media (min-width: $screen-xl) {
				display: block;
				top: 190px;
				right: -240px;
			}
		}

		&--three {

			@media (min-width: $screen-md) {
				left: 210px;
				bottom: -64px;
				display: block;
			}

			@media (min-width: $screen-lg) {
				left: 290px;
			}

			@media (min-width: $screen-xl) {
				left: 400px;
			}
		}

		&--four {

			@media (min-width: $screen-xl) {
				display: block;
				top: 290px;
				left: -220px;
			}
		}
  }


  &__item {
  	padding-left: 15px;
  	padding-right: 15px;
  }

  &__author {
  	display: flex;
  	margin-bottom: 20px;
  }

	&__author-img {
		margin-right: 20px;

		img {
			display: block;
			border-radius: 50%;
		}
	}

	&__author-descr {
		display: flex;
		flex-direction: column;
	}

	&__author-name {
		margin-top: 23px;
		margin-bottom: 5px;
		font-size: 21px;
		line-height: 24px;
		color: $valentino;
	}

	&__author-post {
		font-size: 16px;
		line-height: 1;
		color: $black;
	}

	&__item-content {
		position: relative;
		padding: 25px 30px;
		background-color: $white;
		border: 6px solid hsl(228, 17%, 94%);

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		&::before {
			top: -20px;
			left: 45px;
			border: 20px solid transparent;
			border-bottom-width: 0;
			border-right-width: 0;
			border-left-color: hsl(228, 17%, 94%);

			@media (min-width: $screen-lg) {
				transition: border-left-color 0.3s;
			}
		}

		&::after {
			z-index: 1;
			top: -6px;
			left: 51px;
			border: 6px solid transparent;
			border-bottom-width: 0;
			border-right-width: 0;
			border-left-color: $white;
		}

		&:hover {

			&::before {

				@media (min-width: $screen-lg) {
					border-left-color: $green-light;
				}
			}

			@media (min-width: $screen-lg) {
				border-color: $green-light;
			}
		}

		@media (min-width: $screen-lg) {
			transition: border-color 0.3s;
		}
	}

	&__item-text {
		margin: 0;

		&:last-of-type {
			margin: 0;
		}
	}

	&__carousel {
		position: relative;
		margin-bottom: 30px;
		margin-left: -15px;
		margin-right: -15px;

		.slick-arrow {
			position: absolute;
			z-index: 1;
			bottom: -15px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $valentino;
			border: none;
			font-size: 0;
			transition: transform 0.6s, opacity 0.3s;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}

			&:hover {
				transform: scale(1.2);
			}
		}

		.slick-prev {
			right: 95px;

			&::before {
				margin-left: -4px;
				transform: rotate(135deg);
			}
		}

		.slick-next {
			right: 45px;

			&::before {
				margin-left: -8px;
				transform: rotate(-45deg);
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 50px;
		}
	}
}
