// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {

	$block-name:                &;
	// #{$block-name}__element
	@include container();
	display: none;
	width: calc(100% - 30px);
	max-width: 1170px;
	margin: 0 15px;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	border-top: 1px solid $gray-lightest;
	border-bottom: 1px solid $gray-lightest;

	@media (min-width: $screen-md) {
		display: block;
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-lg) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-xl) {
		width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		position: relative;
		display: inline-block;
		margin-right: 7px;
		white-space: nowrap;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			top: 50%;
			right: -7px;
			width: 7px;
			height: 1px;
			background-color: $gray-lighter;
		}

		&:first-child {

			.breadcrumbs__link {
				padding-left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		padding: 15px 10px;
		font-size: 14px;
		line-height: 1.3;
		color: $green-light;
		text-decoration: none;
		transition: color 0.3s;

		&::before {
			content: '';
			position: absolute;
			bottom: 17px;
			left: 10px;
			right: 10px;
			height: 1px;
			background-color: $green-light;
			transition: opacity 0.3s;
		}

		&:not([href]) {
			color: $text-color--sub;

			&::before {
				display: none;
			}
		}

		&:hover,
		&:focus {
			color: $text-color--sub;
			text-decoration: none;

			&::before {
				opacity: 0;
			}
		}
	}
}
