<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-header/page-header.html')

-->
<header class="page-header page-header--expert page-header--no-delimiter" role="banner">
  
	<div class="page-header__bottom">
		<div class="row">
			<div class="page-header__bottom-wrapper">
				<ul class="page-header__company-links">
					<li class="page-header__company-links-item  page-header__company-links-item--logo">
						<a href="/" class="logo">
							<img src="img/logo.png" alt="">
							<span>лаборатория персонального питания</span>
						</a>
					</li>
					<li class="page-header__company-links-item  page-header__company-links-item--logo-about">
						<a href="/about.html" class="page-header__logo-about">
							<img src="img/about.png" alt="">
						</a>
					</li>
				</ul>

				<div class="page-header__userinfo page-header__userinfo--mobile">
					Здравствуйте,  <b> Иванов Иван Иванович</b> <a href="#" class="page-header__userinfo-logout"></a>
				</div>

				<div class="page-header__nav-container">
					<div class="page-header__userinfo">
						Здравствуйте,  <b>Иванов Иван Иванович</b> <a href="#" class="page-header__userinfo-logout"></a>
					</div>
					<nav id="main-nav" class="main-nav" role="navigation">
						<button id="main-nav-toggler" class="main-nav__toggler  burger" type="button"><span></span></button>
         


						<ul class="main-nav__list">
							<li class="main-nav__item ">
								<a href="/menu-categories.html" class="main-nav__link">
									Личные данные  
								</a>
							</li>

							<li class="main-nav__item main-nav__item--active">
								<a href="/ready-programs.html" class="main-nav__link">
									Заказы
								</a>
							</li>

							<li class="main-nav__item">
								<a href="/individual-racion.html" class="main-nav__link main-nav__link--neworder">
									Создать новый заказ
								</a>
							</li>
    
						</ul>
					</nav>

					<ul class="main-nav__sub-elements">

					  <div class="page-header__search-expert" >
					    <div class="page-header__search-block-wrapper"> 

					      <form class="page-header__search-form" action="#" method="get">
					        <div class="page-header__form-wrapper">
					          <label class="field-text  field-text--header-search">
					            <input class="field-text__input  field-text__input--header-search" type="search">
					            <span class="field-text__name">Введите ключевое слово</span>
					          </label>
					          <button class="field-text__search-btn" type="submit">Найти</button>
					        </div>
					      </form>

					      <button class="page-header__search-close" type="button" data-toggle-activate-multiple='[".page-header__search-block", ".page-header__search-btn", ".page-header__search-block-wrapper"]'>Закрыть</button>
					    </div>
					  </div>
					  <button class="page-header__search-btn" type="button" data-toggle-activate-multiple='[".page-header__search-block-wrapper", ".page-header__search-btn"]'>Поиск</button>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
