// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

@import '../../scss/mixins/grid-mixins.scss';
@import '../blocks/sprite-png/sprite-png.scss';

.page-header {

	$block-name:                &;
	// #{$block-name}__element
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		height: 1px;
		background-color: $gray-lightest;

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	@media (min-width: $screen-md) {
		background-color: $white;
	}

	&--no-delimiter {

		.page-header__bottom {
			border-bottom-color: #fff;
		}

		&::before {
			display: none;
		}
	}

	&--shadow {
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		animation-name: headerSlideDown;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;

		.logo {
			width: 108px;

			span {
				display: none;
			}

			img {
				display: block;
				margin-bottom: 0;
			}
		}

		.page-header__company-links {
			align-items: flex-start;
			flex-basis: 207px;
		}

		.page-header__logo-about {
			width: 73px;
			margin-bottom: 0;

			img {
				display: block;
			}
		}

		.main-nav__sub-elements {
			margin-top: auto;
		}

		.page-header__bottom {

			@media (min-width: $screen-md) {
				padding-top: 15px;
				padding-bottom: 15px;
			}

			@media (min-width: $screen-lg) {
				padding-bottom: 15px;
			}
		}

		.main-nav__link {
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}

	&__top {
		position: relative;
		z-index: 2;
		max-height: 49px;
		font-size: 11px;
		font-weight: 700;
		background-color: $gray-header-bg;

		&.active {

			@media (min-width: $screen-md) {
				max-height: 49px;
				padding-top: 5px;
				padding-bottom: 5px;
				transition: padding-top 0.3s, padding-bottom 0.3s, max-height 0.3s;
			}
		}

		@media (min-width: $screen-md) {
			z-index: 12;
			max-height: 39px;
			transition: padding-top 0.3s 0.3s, padding-bottom 0.3s 0.3s, max-height 0.3s 0.3s;
		}
	}

	&__form-wrapper {
		display: flex;
	}

	&__top-content {
		transform: scale(1);
		transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83) 0.3s, transform 0.3s 0.3s;

		@media (min-width: $screen-md) {
			display: flex;
			justify-content: space-between;
		}

		&--hide {
			opacity: 0;
			transform: scale(0.9);
			transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83), transform 0.3s;
		}
	}

	&__bottom {
		@include container();
		max-width: 1200px;

		@media (min-width: $screen-md) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__bottom-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		> * {
			flex-basis: 100%;
		}
	}

	&__master-links {
		display: none;

		@media (min-width: $screen-md) {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	&__master-links-item {
		position: relative;
		display: flex;

		&:first-child {

			.page-header__master-link {
				padding-left: 0;
			}

			.page-header__master-link::before {
				left: 0;
			}
		}

		&:last-child {

			&::before {
				display: none;
			}

			@media (min-width: $screen-md) {
				margin-right: 0;
			}
		}

		&::before {

			@media (min-width: $screen-md) {
				content: '';
				position: absolute;
				top: 50%;
				right: -1px;
				width: 1px;
				height: 10px;
				margin-top: -6px;
				background-color: hsl(220, 1%, 88%);
			}
		}

		&:not(.page-header__master-links-item--active) {

			&:hover {

				.page-header__master-link {

					&::before {
						opacity: 1;
					}
				}
			}
		}

		&--profile {

			.page-header__master-link {
				padding-right: 24px;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				transition: color 0.3s, background-color 0.3s, border-color 0.3s;

				&::before {
					top: 18px;
					right: 10px;
					bottom: auto;
					left: auto;
					width: 0;
					height: 0;
					border: 4px solid $black;
					border-left-color: transparent;
					border-right-color: transparent;
					border-bottom: none;
					background-color: transparent;
					opacity: 1;

					@media (min-width: $screen-lg) {
						right: 18px;
					}
				}

				&::after {
					content: '';
					position: absolute;
					z-index: 1;
					bottom: -1px;
					left: 0;
					right: 0;
					height: 1px;
					background-color: $white;
				}

				@media (min-width: $screen-lg) {
					padding-right: 32px;
				}
			}

			&:hover {

				.page-header__master-link {
					background-color: $white;
					color: $black;
					border-left-color: $gray-lightest;
					border-right-color: $gray-lightest;
				}

				.page-header__master-dropdown {
					display: block;
				}
			}
		}

		&--active {

			.page-header__master-link {
				color: $green-light;
			}
		}
	}

	&__master-link {
		position: relative;
		display: block;
		padding-top: 14px;
		padding-bottom: 14px;
		font-size: 11px;
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		color: $valentino;

		&::before {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 15px;
			right: 15px;
			height: 1px;
			background-color: $valentino;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

			@media (min-width: $screen-lg) {
				left: 20px;
				right: 20px;
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@media (min-width: $screen-lg) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__sub-links {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		@media (min-width: $screen-md) {
		}
	}

	&__sub-links-item {
		line-height: 1;

		&:first-child {

			&::before {

				@media (min-width: $screen-md) {
					content: '';
					position: absolute;
					top: 50%;
					right: -20px;
					width: 1px;
					height: 10px;
					margin-top: -6px;
					background-color: hsl(220, 1%, 88%);
				}
			}

			@media (min-width: $screen-md) {
				position: relative;
				margin-right: 40px;
			}
		}

		&--callback {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (min-width: $screen-md) {
				flex-direction: row;
				align-items: stretch;
				// align-items: center;
			}
		}
	}

	&__search-form {
		flex-grow: 1;
	}

	&__search-btn {
		position: relative;
		padding-top: 19px;
		padding-bottom: 19px;
		padding-left: 25px;
		padding-right: 0;
		background-color: transparent;
		text-transform: uppercase;
		font-family: $font-family;
		font-size: 11px;
		line-height: 1;
		font-weight: 700;
		border: none;
		outline: none;
		transition: color 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);
		cursor: pointer;

		&:hover {
			color: $green-light;
		}

		&::before {
			@include sprite($search-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -9px;
		}

		@media (min-width: $screen-md) {
			height: 39px;
			padding-top: 14px;
			padding-bottom: 14px;
		}
	}

	&__search-label {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			margin-right: 20px;
			font-size: 11px;
			line-height: 1;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__search-block {
		@include container();
		max-width: 1200px;
		position: absolute;
		z-index: 1;
		top: 4px;
		left: 0;
		right: 0;
		overflow: hidden;
		transition: z-index 0s 0.3s;

		&.active {
			z-index: 12;
			transition: z-index 0s 0s;
		}
	}

	&__search-block-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		transform: translateY(100%);
		transition: transform 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

		&.active {
			transform: translateY(0);
			transition: transform 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83) 0.3s;
		}

		@media (min-width: $screen-md) {
			align-items: center;
		}
	}

	&__search-close {
		flex-shrink: 0;
		position: relative;
		width: 22px;
		margin-left: 10px;
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
		font-size: 0;
		transition: color 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);
		cursor: pointer;

		&:hover {
			color: $green-light;
		}

		&::before {
			@include sprite($close-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -9px;
			margin-left: -8px;

			@media (min-width: $screen-md) {
				left: auto;
				right: 0;
			}
		}

		@media (min-width: $screen-md) {
			width: 70px;
			margin-left: 27px;
			padding-right: 23px;
			font-family: $font-family;
			font-size: 11px;
			line-height: 1;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__callback-wrapper {
		display: flex;
		flex-direction: column;
		margin-right: 15px;

		@media (min-width: $screen-md) {
			justify-content: center;
			height: 39px;
			margin-right: 20px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__callback-text {
		font-size: 11px;
		line-height: 12px;
		font-weight: 400;
		color: hsl(180, 1%, 42%);
	}

	&__callback-num {
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		color: $text-color;
		text-decoration: none;
		transition: color cubic-bezier(0.69, 0.09, 0.32, 0.83) 0.3s;

		&:hover {
			color: $green-light;
		}

		@media (min-width: $screen-md) {
			// margin-right: 20px;
			padding-top: 0;
			padding-bottom: 1px;
		}
	}

	&__callback-btn {
		position: relative;
		width: 50px;
		padding-left: 0;
		padding-right: 0;
		font-size: 11px;
		font-weight: 700;
		font-family: $font-family;
		line-height: 1.35;
		color: $green-light;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		&:hover {

			&::before {

				@media (min-width: $screen-md) {
					opacity: 1;
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 6px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green-light;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

			@media (min-width: $screen-md) {
				bottom: 10px;
			}
		}

		@media (min-width: $screen-md) {
			width: auto;
			height: 39px;
			padding-top: 14px;
			padding-bottom: 14px;
			line-height: 1;
		}
	}

	&__company-links {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
		padding: 20px 15px 12px;
		list-style: none;

		@media (min-width: $screen-md) {
			flex-basis: 200px;
			padding-right: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

		@media (min-width: $screen-lg) {
			flex-basis: 270px;
		}

		@media (min-width: $screen-xl) {
			flex-basis: 330px;
		}
	}

	&__company-links-item {

		&--logo-about {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	&__logo-about {
		transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

		&:hover {
			opacity: 0.7;
		}

		@media (min-width: $screen-md) {
			width: 75px;
			margin-bottom: 15px;
		}

		@media (min-width: $screen-lg) {
			width: 94px;
			margin-bottom: 10px;
		}

		@media (min-width: $screen-xl) {
			width: 114px;
			margin-bottom: 5px;
		}
	}

	&__nav-container {
		display: flex;
		flex-direction: column;
		background-color: $white;

		@media (min-width: $screen-md) {
			flex-basis: 73%;
		}

		@media (min-width: $screen-lg) {
			flex-basis: 69%;
		}

		&--fixed {
			position: fixed;
			z-index: 100;
			top: 0;
			left: 0;
			right: 0;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}
	}

	&__master-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		padding-bottom: 5px;
		border: 1px solid $gray-lightest;
		background-color: $white;
		list-style: none;
	}

	&__master-dropdown-item {

		&--name {

			.page-header__master-dropdown-item-link {
				font-size: 16px;
				text-transform: none;
				color: $black;
				white-space: normal;

				&::before {
					display: none;
				}
			}
		}

		&--active {

			.page-header__master-dropdown-item-link {
				color: $green-light;

				&:hover {

					&::before {
						background-color: transparent;
					}
				}
			}
		}
	}

	&__master-dropdown-item-link {
		position: relative;
		display: inline-block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: $valentino;
		background-color: $white;
		white-space: nowrap;

		&::before {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 15px;
			right: 15px;
			height: 1px;
			background-color: transparent;
			transition: background-color 0.3s;

			@media (min-width: $screen-lg) {
				left: 20px;
				right: 20px;
			}
		}

		&:hover {

			&::before {
				background-color: $valentino;
			}
		}

		@media (min-width: $screen-lg) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__userinfo {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0 15px;
		margin-bottom: 18px;
		margin-top: 13px;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__userinfo-logout {
		display: inline-block;
		background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAjElEQVQ4y2OYe0RKB4gvAPF/IvA/IN4MxIJAzICMQcQlIg1BxjOwGQSTtAZiAQI4G6r2HD6DFNAlsWAxIHYAYhNKDYoF4mJscqQalABVuwyIuYg1iBFLGGUhqb+ArAefQQJExN5bIHamhkEg/BcUboPGIKK8RrXAplr00zRBKkBd5UfTTEu1YoQqBRsANfRq4Ui1XoIAAAAASUVORK5CYII=);
		width: 18px;
		height: 18px;
		vertical-align: middle;
		margin-left: 10px;

		@media (min-width: 768px) {
			position: relative;
			top: 2px;
		}
	}

	&__userinfo--mobile {
		display: none;

		@media (max-width: 767px) {
			display: inline-block;
			margin-top: 30px;
			justify-content: flex-start;
			flex-basis: calc(100% - 170px);
			padding-left: 0;
		}
	}

	&__search-expert {
		background: #fff;
		width: 100%;
		max-width: 570px;
		margin-left: 50px;
		overflow: hidden;

		&.active {
			display: inline-flex;
		}
	}


	&--expert {

		.main-nav__link {
			padding: 8px 10px;
			margin-left: 16px;

			@media (max-width: 767px) {
				padding: 18px 10px 18px 31px;
				margin-left: 8px;
			}

			@media (max-width: 991px) {
				font-size: 14px;
			}

			@media (min-width: 768px) and (max-width: 793px) {
				margin-left: 5px;
			}
		}

		&::before {

			@media (max-width: 767px) {
				display: block;
			}
		}

		.field-text__search-btn {

			@media (max-width: 830px) {
				font-size: 0;
				width: 44px;
				padding: 0;
			}
		}

		.field-text__search-btn::before {

			@media (max-width: 830px) {
				left: 20px;
			}
		}

		.logo span {

			@media (min-width: 768px) {
				width: auto;
				text-align: center !important;
			}
		}

		.page-header__nav-container {

			@media (min-width: 768px) {
				flex-basis: calc(100% - 340px);
			}
		}

		.page-header__bottom {
			overflow: hidden;
			border-bottom: 1px solid $gray-lightest;

			@media (min-width: 768px) {
				padding-top: 10px;
				padding-bottom: 11px;
			}
		}

		.page-header__search-block-wrapper {
			transform: translateY(300%);
		}

		.page-header__search-block-wrapper.active {
			transform: translateY(0%);
		}

		.page-header__search-btn {
			position: absolute;
			opacity: 1;
			transition: opacity 0.3s ease;
		}

		.page-header__search-btn.active {
			opacity: 0;
		}

		.page-header__company-links {
			flex-basis: 150px;

			@media (min-width: 768px) {
				flex-basis: 330px;
				height: none;
				padding: 20px 0 12px 15px;
			}
		}

		.logo {

			@media (min-width: 768px) {
				width: 170px !important;
			}
		}

		.page-header__logo-about {

			@media (min-width: 768px) {
				width: 114px !important;
				margin-bottom: 8px;
			}
		}

		.page-header__company-links-item--logo-about {

			@media (max-width: 767px) {
				display: none;
			}
		}

		.main-nav__link:hover,
		.main-nav__link:focus {
			text-decoration: underline;
			color: #9ec71a;
		}

		.main-nav__link--neworder {

			@media (min-width: 768px) {
				background: #9dc41a;
				color: #fff;
				border-radius: 2px;
			}
		}

		.main-nav {
			margin-bottom: 10px;
		}

		.main-nav__sub-elements {

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		.burger {
			top: -40px;
		}
	}
}
