<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-header/page-header.html')

-->
<header class="page-header" role="banner">
	<div class="page-header__top">
		<div class="container">
			<div class="page-header__top-content">
				<ul class="page-header__master-links">
					<li class="page-header__master-links-item">
						<a href="#" class="page-header__master-link">Центр здоровья</a>
					</li>

					<li class="page-header__master-links-item  page-header__master-links-item--active">
						<a href="/expert.html" class="page-header__master-link">Medline expert</a>
					</li>

					<li class="page-header__master-links-item  page-header__master-links-item--profile">
						<a href="/profile.html" class="page-header__master-link">Мой профиль</a>

						<ul class="page-header__master-dropdown">
							<li class="page-header__master-dropdown-item  page-header__master-dropdown-item--name">
								<a class="page-header__master-dropdown-item-link">Иванов Иван Иванович</a>
							</li>
							<li class="page-header__master-dropdown-item  page-header__master-dropdown-item--active">
								<a href="/profile.html" class="page-header__master-dropdown-item-link">Профиль</a>
							</li>
							<li class="page-header__master-dropdown-item">
								<a href="/orders-history.html" class="page-header__master-dropdown-item-link">История заказов</a>
							</li>
							<li class="page-header__master-dropdown-item">
								<a href="" class="page-header__master-dropdown-item-link">Выход</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="page-header__sub-links">
					<li class="page-header__sub-links-item">
						<button class="page-header__search-btn" type="button" data-toggle-activate-multiple='[".page-header__search-block", ".page-header__top", ".page-header__search-block-wrapper"]'>Поиск</button>
					</li>
					<li class="page-header__sub-links-item  page-header__sub-links-item--callback">
						<div class="page-header__callback-wrapper">
							<a href="tel:88000000000" class="page-header__callback-num">8-800-000-00-00</a>
							<span class="page-header__callback-text">пн-пт. с 9.00 до 20.00</span>
						</div>

						<button class="page-header__callback-btn" type="button" data-fadeIn=".modal--callback">Заказать звонок</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="page-header__search-block">
		<div class="page-header__search-block-wrapper">
			<span class="page-header__search-label">Поиск по сайту</span>

			<form class="page-header__search-form" action="#" method="get">
				<div class="page-header__form-wrapper">
					<label class="field-text  field-text--header-search">
						<input class="field-text__input  field-text__input--header-search" type="search">
						<span class="field-text__name">Введите ключевое слово</span>
					</label>
					<button class="field-text__search-btn" type="submit">Найти</button>
				</div>
			</form>

			<button class="page-header__search-close" type="button" data-toggle-activate-multiple='[".page-header__search-block", ".page-header__top", ".page-header__search-block-wrapper"]'>Закрыть</button>
		</div>
	</div>

	<div class="page-header__bottom">
		<div class="row">
			<div class="page-header__bottom-wrapper">
				<ul class="page-header__company-links">
					<li class="page-header__company-links-item  page-header__company-links-item--logo">
						<a href="/" class="logo">
							<img src="img/logo.png" alt="">
							<span>лаборатория персонального питания</span>
						</a>
					</li>
					<li class="page-header__company-links-item  page-header__company-links-item--logo-about">
						<a href="/about.html" class="page-header__logo-about">
							<img src="img/about.png" alt="">
						</a>
					</li>
				</ul>

				<div class="page-header__nav-container">
					<nav id="main-nav" class="main-nav" role="navigation">
						<button id="main-nav-toggler" class="main-nav__toggler  burger" type="button"><span></span></button>

						<ul class="main-nav__list">
							<li class="main-nav__item  main-nav__item--active">
								<a href="/menu-categories.html" class="main-nav__link">
									Заказать по меню
								</a>
							</li>

							<li class="main-nav__item">
								<a href="/ready-programs.html" class="main-nav__link">
									Готовые программы
								</a>
							</li>

							<li class="main-nav__item">
								<a href="/individual-racion.html" class="main-nav__link">
									Персональный рацион
								</a>
							</li>

							<li class="main-nav__item">
								<a href="/about.html" class="main-nav__link">
									О нас
								</a>
							</li>

							<li class="main-nav__item">
								<a href="/contacts.html" class="main-nav__link">
									Контакты
								</a>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<div class="container">
									<hr class="main-nav__hr">
								</div>
							</li>


							<li class="main-nav__item  main-nav__item--double">
								<a href="" class="main-nav__link">
									Центр здоровья
								</a>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<a href="/expert.html" class="main-nav__link">
									Medline expert
								</a>
							</li>


							<li class="main-nav__item  main-nav__item--double">
								<div class="container">
									<hr class="main-nav__hr">
								</div>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<span class="main-nav__profile-name">
									Иванов Иван Иванович
								</span>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<a href="/profile.html" class="main-nav__link">
									Профиль
								</a>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<a href="/profile.html" class="main-nav__link">
									История заказов
								</a>
							</li>

							<li class="main-nav__item  main-nav__item--double">
								<a href="/profile.html" class="main-nav__link">
									Выход
								</a>
							</li>
						</ul>
					</nav>

					<ul class="main-nav__sub-elements">
						<li class="main-nav__sub-elements-item">
							<a href="/calculator.html" class="main-nav__sub-elements-link  main-nav__sub-elements-link--calculator">Калькулятор калорий</a>
						</li>
						<li class="main-nav__sub-elements-item">
							<a href="/cart-order.html" class="main-nav__sub-elements-link  main-nav__sub-elements-link--cart">
								<span class="main-nav__cart-text">В корзине</span>
								<b class="main-nav__cart-text  main-nav__cart-text--bolder">
									<span class="main-nav__cart-text-big">5</span>
									товаров
								</b>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
