<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/collect-diet/collect-diet.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="collect-diet">
	<div class="collect-diet__bg">
		<img class="collect-diet__img" src="img/collect-diet-bg.jpg" alt="">
	</div>

	<div class="collect-diet__content">
		<h3 class="med__h3  med__h3--collect-diet">Собрать свой рацион</h3>
		<p class="med__p  med__p--collect-diet">Рассчитайте свою норму калорий в день и составьте программу питания. Выберете сытное и здоровое блюдо на завтрак, ужин или обед. Пусть ваш рацион будет правильным в течение всего дня!</p>
		<a href="#" class="btn">Калькулятор калорий</a>
	</div>
</section>
