// В этом файле должны быть стили для БЭМ-блока collect-diet, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.collect-diet {

	$block-name:                &;
	// #{$block-name}__element {}
	position: relative;

	&:hover {

		.collect-diet__img {
			transform: scale(1.06);
		}
	}

	&__bg {
		overflow: hidden;

		img {
			object-fit: none;
			height: 480px;

			@media (min-width: $screen-md) {
				height: 600px;
			}
		}
	}

	&__img {
		display: block;
		transition: transform 2.4s;
		margin-left: auto;
		margin-right: auto;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: $screen-md) {
			left: 170px;
			right: 170px;
			bottom: 20px;
		}

		@media (min-width: $screen-md) {
			left: 225px;
			right: 225px;
		}

		@media (min-width: $screen-xl) {
			left: 0;
			right: 0;
		}
	}
}
