<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/cart-order-block/cart-order-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="cart-order-block">
	<h1>Ваша корзина</h1>

	<form action="#" method="post">
		<div class="cart-order-block__list">
			<div class="cart-order-block__item">
				<a class="cart-order-block__item-info" data-fadeIn=".modal--menu-categories-block">
					<div class="row">
						<div class="cart-order-block__item-image">
							<div class="cart-order-block__image-wrapper">
								<img class="cart-order-block__img" src="img/cart-order-block-img-1.jpg" alt="">
							</div>
						</div>

						<div class="cart-order-block__item-descr">
							<span class="cart-order-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
							<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart">
								<span class="menu-categories-block__kkal-item">140 г</span>
								<span class="menu-categories-block__kkal-item">210 ККал</span>
							</div>
						</div>
					</div>
				</a>

				<div class="cart-order-block__counter">
					<span class="cart-order-block__counter-title">Количество</span>
					<div class="field-text__number-group  field-text__number-group--cart">
						<label class="field-text">
							<i class="field-text__spin  field-text__spin--minus  field-text__spin--cart  field-text__spin--cart-minus">-</i>
							<input class="field-text__input  field-text__input--number  field-text__input--cart-number" type="text" value="1">
							<i class="field-text__spin  field-text__spin--plus  field-text__spin--cart  field-text__spin--cart-plus">+</i>
						</label>
					</div>
				</div>

				<div class="cart-order-block__price">
					<span class="cart-order-block__price-count">
						<span class="cart-order-block__price-value">170</span>
						<span class="cart-order-block__price-measure">руб.</span>
					</span>
				</div>

				<div class="cart-order-block__del">
					<button class="cart-order-block__btn-del" type="button">Удалить товар</button>
				</div>
			</div>

			<div class="cart-order-block__item">
				<a class="cart-order-block__item-info" data-fadeIn=".modal--menu-categories-block">
					<div class="row">
						<div class="cart-order-block__item-image">
							<div class="cart-order-block__image-wrapper">
								<img class="cart-order-block__img" src="img/cart-order-block-img-2.jpg" alt="">
							</div>
						</div>

						<div class="cart-order-block__item-descr">
							<span class="cart-order-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
							<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart">
								<span class="menu-categories-block__kkal-item">200 г</span>
								<span class="menu-categories-block__kkal-item">320 ККал</span>
							</div>
						</div>
					</div>
				</a>

				<div class="cart-order-block__counter">
					<span class="cart-order-block__counter-title">Количество</span>
					<div class="field-text__number-group  field-text__number-group--cart">
						<label class="field-text">
							<i class="field-text__spin  field-text__spin--minus  field-text__spin--cart  field-text__spin--cart-minus">-</i>
							<input class="field-text__input  field-text__input--number  field-text__input--cart-number" type="text" value="1">
							<i class="field-text__spin  field-text__spin--plus  field-text__spin--cart  field-text__spin--cart-plus">+</i>
						</label>
					</div>
				</div>

				<div class="cart-order-block__price">
					<span class="cart-order-block__price-count">
						<span class="cart-order-block__price-value">480</span>
						<span class="cart-order-block__price-measure">руб.</span>
					</span>
				</div>

				<div class="cart-order-block__del">
					<button class="cart-order-block__btn-del" type="button">Удалить товар</button>
				</div>
			</div>

			<div class="cart-order-block__item">
				<a href="" class="cart-order-block__item-info">
					<div class="row">
						<div class="cart-order-block__item-image">
							<div class="cart-order-block__image-wrapper">
								<img class="cart-order-block__img" src="img/cart-order-block-img-3.jpg" alt="">
							</div>
						</div>

						<div class="cart-order-block__item-descr">
							<span class="cart-order-block__item-name">Готовая программа Баланс</span>
							<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart">
								<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
								<span class="menu-categories-block__kkal-item">1300 ККал</span>
							</div>
						</div>
					</div>
				</a>

				<div class="cart-order-block__counter">
					<span class="cart-order-block__counter-title">Количество</span>
					<div class="field-text__number-group  field-text__number-group--cart">
						<label class="field-text">
							<i class="field-text__spin  field-text__spin--minus  field-text__spin--cart  field-text__spin--cart-minus">-</i>
							<input class="field-text__input  field-text__input--number  field-text__input--cart-number" type="text" value="1">
							<i class="field-text__spin  field-text__spin--plus  field-text__spin--cart  field-text__spin--cart-plus">+</i>
						</label>
					</div>
				</div>

				<div class="cart-order-block__price">
					<span class="cart-order-block__price-count">
						<span class="cart-order-block__price-value">9100</span>
						<span class="cart-order-block__price-measure">руб.</span>
					</span>

					<span class="cart-order-block__price-gift">(7 дней + 1 день в подарок)</span>
				</div>

				<div class="cart-order-block__del">
					<button class="cart-order-block__btn-del" type="button">Удалить товар</button>
				</div>
			</div>

			<div class="cart-order-block__item">
				<a href="" class="cart-order-block__item-info">
					<div class="row">
						<div class="cart-order-block__item-image">
							<div class="cart-order-block__image-wrapper">
								<img class="cart-order-block__img" src="img/cart-order-block-img-4.jpg" alt="">
							</div>
						</div>

						<div class="cart-order-block__item-descr">
							<span class="cart-order-block__item-name">Персональный рацион</span>
							<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart">
								<span class="menu-categories-block__kkal-item">1800 ККал</span>
							</div>
						</div>
					</div>
				</a>

				<div class="cart-order-block__counter">
					<span class="cart-order-block__counter-title">Количество</span>
					<div class="field-text__number-group  field-text__number-group--cart">
						<label class="field-text">
							<i class="field-text__spin  field-text__spin--minus  field-text__spin--cart  field-text__spin--cart-minus">-</i>
							<input class="field-text__input  field-text__input--number  field-text__input--cart-number" type="text" value="1">
							<i class="field-text__spin  field-text__spin--plus  field-text__spin--cart  field-text__spin--cart-plus">+</i>
						</label>
					</div>
				</div>

				<div class="cart-order-block__price">
					<span class="cart-order-block__price-count">
						<span class="cart-order-block__price-value">18300</span>
						<span class="cart-order-block__price-measure">руб.</span>
					</span>

					<span class="cart-order-block__price-gift">(14 дней)</span>
				</div>

				<div class="cart-order-block__del">
					<button class="cart-order-block__btn-del" type="button">Удалить товар</button>
				</div>
			</div>
		</div>

		<div class="cart-order-block__total">
			<div class="cart-order-block__total-content">
				<span class="cart-order-block__total-label">Итого</span>

				<span class="cart-order-block__price-count  cart-order-block__price-count--total">
					<span class="cart-order-block__price-value">28050</span>
					<span class="cart-order-block__price-measure">руб.</span>
				</span>

				<button class="btn  btn--cart-total" type="submit">Оформить заказ</button>
			</div>
		</div>
	</form>
</section>
