// В этом файле должны быть стили для БЭМ-блока cart-order-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-order-block {

  $block-name:                &;
  // #{$block-name}__element {}
  @include container();
  max-width: 1200px;

  &__item {
    @include row();
    margin-bottom: 25px;
    padding-bottom: 30px;

    &:not(:last-child) {
      border-bottom: 1px dotted $gray-lightest;
    }

    &:last-child {
      border-bottom: 1px solid $gray-lightest;

      @media (min-width: $screen-lg) {
        margin-bottom: 25px;
      }
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 30px;
    }
  }

  &__item-info {
    @include col(xs, 12, 12);
    @include col(md, 6, 12);
    @include col(lg, 5, 12);
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;

    &:hover {

      .cart-order-block__item-name {
        color: $green-light;
      }

      .cart-order-block__img {
        transform: scale(1.06);
      }
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__item-image {
    @include col(md, 5, 12);
    flex-basis: 40.5%;
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__image-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
  }

  &__img {
    display: block;
    transition: transform 2.4s;
    backface-visibility: hidden;
  }

  &__item-descr {
    @include col(md, 7, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 59.5%;
    padding-right: 15px;
  }

  &__item-name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    color: $valentino;
    transition: color 0.3s;

    @media (min-width: $screen-md) {
      margin-bottom: 15px;
    }

    @media (min-width: $screen-lg) {
      font-size: 20px;
    }
  }

  &__counter {
    @include col(md, 2, 12);
    @include col-offset(md, 1, 12);
    @include col-offset(lg, 2, 12);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 40.5%;
    padding-left: 15px;
    padding-right: 15px;

    .field-text {
      margin-top: 21px;

      .jq-number {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
      }

      .jq-number__spin {
        width: 35px;

        &.minus {

          &::after {

            @media (min-width: $screen-md) {
              transform: rotate(135deg);
            }
          }

          @media (min-width: $screen-md) {
            left: 0;
          }
        }

        &.plus {

          &::after {

            @media (min-width: $screen-md) {
              transform: rotate(-45deg);
            }
          }

          &:hover {

            &::after {

              @media (min-width: $screen-md) {
                border-bottom-color: $green-light;
              }
            }
          }

          @media (min-width: $screen-md) {
            right: 0;
          }
        }

        &::after {

          @media (min-width: $screen-md) {
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            margin-left: -6px;
            background: none;
            border: 2px solid #9ec71a;
            border-top: none;
            border-left: none;
          }
        }

        @media (min-width: $screen-md) {
          top: 0;
          bottom: 0;
          width: 35px;
          height: auto;
        }

        @media (min-width: $screen-lg) {
          width: 50px;
        }

        @media (min-width: $screen-xl) {
          width: 55px;
        }
      }

      @media (min-width: $screen-md) {
        margin-top: 29px;
      }

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }
    }
  }

  &__counter-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    font-size: 15px;
    line-height: 1;
    color: $text-color--sub;
    text-align: center;

    @media (min-width: $screen-md) {
      top: 6px;
      // margin-top: 6px;
    }

    @media (min-width: $screen-lg) {
      position: static;
      margin-top: 12px;
      margin-bottom: 8px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 28px;
    }
  }

  &__counter-text {
    margin-top: 32px;
    font-size: 20px;
    color: $black;
    text-align: center;

    @media (min-width: $screen-md) {
      margin-top: 38px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 10px;
    }
  }

  &__price {
    @include col(md, 2, 12);
    flex-basis: 41.88%;
    padding-right: 15px;
  }

  &__price-count {
    display: flex;
    align-items: baseline;
    margin-top: 27px;
    color: $black;
    line-height: 1;

    @media (min-width: $screen-md) {
      margin-top: 34px;
      min-width: 115px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 52px;
    }

    &--total {
      margin-top: 0;
      margin-bottom: 17px;

      @media (min-width: $screen-md) {
        margin-top: 0;
        margin-bottom: 25px;
      }

      @media (min-width: $screen-xl) {
        margin-top: 0;
      }
    }
  }

  &__price-value {
    margin-right: 2px;
    font-size: 30px;

    @media (min-width: $screen-lg) {
      font-size: 42px;
    }
  }

  &__price-measure {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__price-gift {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: $valentino;

    @media (min-width: $screen-md) {
      flex-shrink: 0;
      min-width: 120px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
      min-width: 140px;
    }
  }

  &__del {
    @include col(md, 1, 12);
    display: flex;
    justify-content: flex-end;
    flex-basis: 17.2%;
    padding-right: 15px;

    @media (min-width: $screen-lg) {
      justify-content: center;
    }
  }

  &__btn-del {
    position: relative;
    width: 41px;
    height: 41px;
    margin-top: 22px;
    padding: 0;
    border: none;
    border-radius: 3px;
    font-size: 0;
    outline: none;
    background-color: $green-light;
    cursor: pointer;
    transition: background-color 0.3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      margin-top: -1px;
      margin-left: -10px;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: $green;
    }

    @media (min-width: $screen-md) {
      flex-shrink: 0;
      margin-top: 29px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 35px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 51px;
    }
  }

  &__total {
    @include row();
    padding-bottom: 30px;

    @media (min-width: $screen-md) {
      padding-bottom: 100px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 50px;
    }
  }

  &__total-content {
    @include col(md, 3, 12);
    @include col-offset(md, 9, 12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 59.5%;
    margin-left: auto;
    padding-right: 15px;
  }

  &__total-label {
    font-size: 15px;
    color: $text-color--sub;

    @media (min-width: $screen-md) {
      margin-bottom: 17px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 12px;
    }
  }

  &__delivery-content {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    text-align: center;

    @media (min-width: $screen-md) {
      padding: 100px 15px 135px;
    }
  }

  &__title-text {
    margin-bottom: 25px;
    font-size: 18px;
    color: $text-color--sub;
  }
}
