// В этом файле должны быть стили для БЭМ-блока instagram, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.instagram {

	$block-name:                &;
	// #{$block-name}__element {}
	@include col(xs, 12, 12);
	@include col(md, 3, 12);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	@media (min-width: $screen-md) {
		margin-bottom: 0;
	}

	&__wrapper {
		@include row();
		margin-left: -8px;
		margin-right: -8px;
	}

	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
		padding-left: 8px;
		padding-right: 8px;
		color: $text-color;
		font-size: 13px;
		line-height: 27px;
	}

	&__item {
		@include col(xs, 4, 12);
		@include col(md, 6, 12);
		@include col(lg, 4, 12);
		position: relative;
		margin-bottom: 16px;
		padding-left: 8px;
		padding-right: 8px;

		img {
			display: block;
			width: 100%;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 8px;
			bottom: 0;
			right: 8px;
			background-color: transparent;
			transition: background-color 0.3s;
		}

		&:hover {

			&::before {
				background-color: rgba($black, 0.3);
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 8px;
			padding-right: 8px;
		}

		@media (min-width: $screen-lg) {
			padding-left: 8px;
			padding-right: 8px;
		}

		&--hide {
			display: none;
		}
	}
}
