<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/instagram/instagram.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="instagram">
	<div class="instagram__wrapper">
		<h4 class="instagram__title">Свежее в Instagram</h4>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-1.jpg" alt="">
		</a>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-2.jpg" alt="">
		</a>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-3.jpg" alt="">
		</a>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-4.jpg" alt="">
		</a>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-5.jpg" alt="">
		</a>

		<a href="#" class="instagram__item">
			<img src="img/instagram-img-6.jpg" alt="">
		</a>
	</div>
</section>
