// В этом файле должны быть стили для БЭМ-блока categories, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.categories {

	$block-name:                &;
	// #{$block-name}__element {}
	@include col(xs, 12, 12);
	@include col(md, 4, 12);
	@include col(lg, 3, 12);
	position: relative;
	padding-top: 20px;

	@media (min-width: $screen-md) {
		padding-top: 50px;
	}

	&__list {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (max-width: ($screen-md - 1)) {
			max-height: 53px;
			transition: max-height 0.3s;
		}

		&--open {

			.categories__item--active {

				.categories__link {
					background-color: $valentino;
					color: $white;
					border-color: $valentino;

					&::before,
					&::after {
						content: '';
						position: absolute;
						top: 25px;
						right: 17px;
						width: 18px;
						height: 2px;
						margin-top: -1px;
						margin-left: -9px;
						border: none;
						background-color: $green-light;
					}

					&::before {
						transform: rotate(45deg);
					}

					&::after {
						transform: rotate(-45deg);
					}
				}

				&:first-of-type {

					.categories__link {

						@media (max-width: 767px) {
							border-top-color: $valentino;
						}
					}
				}
			}

			@media (max-width: ($screen-md - 1)) {
				max-height: 2000px;
				transition: max-height 0.6s;
			}
		}
	}

	&__item {

		&:first-child {

			.categories__link {
				position: relative;
				border-top: 1px solid $gray-lightest;
			}
		}

		&--active {

			.categories__link {

				@media (max-width: 767px) {
					position: relative;

					&::before {
						content: '';
						position: absolute;
						top: 20px;
						right: 20px;
						width: 10px;
						height: 10px;
						margin-top: -5px;
						margin-left: -5px;
						border: 2px solid $green-light;
						border-top: none;
						border-left: none;
						transform: rotate(45deg);
					}
				}

				@media (min-width: $screen-md) {
					background-color: $valentino;
					color: $white;
					border-color: $valentino;

					&::before,
					&::after {
						display: none;
					}
				}
			}
		}
	}

	&__link {
		display: block;
		padding: 16px 20px;
		border: 1px solid $gray-lightest;
		border-top: none;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 700;
		color: $text-color;
		background-color: $white;
		text-transform: uppercase;
		text-decoration: none;
		transition: background-color 0.3s, border-color 0.3s, color 0.3s;
		cursor: pointer;

		&[href]:hover {

			@media (min-width: $screen-lg) {
				background-color: $green-light;
				color: $white;
				border-color: $green-light;
				text-decoration: underline;
			}
		}

		@media (min-width: $screen-md) {
			padding-right: 18px;
			padding-left: 18px;
		}
	}

	&--menu-personal {

		@media (min-width: $screen-md) {
			padding-bottom: 50px;
		}

		@media (min-width: $screen-lg) {
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}

		@media (min-width: 1025px) {
			flex-basis: calc(25% - 35px);
			margin-right: 35px;
			padding-right: 0;
		}

		@media (min-width: $screen-xl) {
			flex-basis: calc(25% - 40px);
			max-width: 285px;
			margin-right: 40px;
			padding-right: 0;
		}

		@media (min-width: $screen-xxl) {
			flex-basis: calc(25% - 60px);
			margin-right: 60px;
			padding-right: 0;
		}
	}

	&__select {

		&.jq-selectbox {
			z-index: 11 !important;
			width: 100%;

			&.opened {

				.jq-selectbox__select {
					background-color: $valentino;
					color: $white;
					border-color: $valentino;
					text-shadow: none;
				}

				.jq-selectbox__trigger-arrow {
					border-color: transparent;
					transform: rotate(0);

					&::before,
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						left: -3px;
						width: 18px;
						height: 2px;
						margin-top: 4px;
						background-color: $green-light;
					}

					&::before {
						transform: rotate(45deg);
					}

					&::after {
						transform: rotate(-45deg);
					}
				}
			}

			li {

				&.selected {
					background-color: $green-light;
					color: $white;
					border-color: $green-light;
				}

				&:hover {
					background-color: $valentino;
					color: $white;
					border-color: $valentino;
				}
			}
		}

		.jq-selectbox__select {
			height: auto;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 20px;
			padding-right: 40px;
			line-height: 1.4;
			border-color: $gray-lightest;
			border-radius: 0;
			background-color: $white;
			background-image: none;
			box-shadow: none;
		}

		.jq-selectbox__select-text {
			font-family: $font-family;
			font-weight: 700;
			text-transform: uppercase;
		}

		.jq-selectbox__trigger {
			width: 40px;
			border-left: 0;
		}

		.jq-selectbox__trigger-arrow {
			top: 16px;
			right: 20px;
			width: 10px;
			height: 10px;
			border: 2px solid $green-light;
			border-top: 0;
			border-left: 0;
			transform: rotate(45deg);
		}

		.jq-selectbox__dropdown {
			position: static;
			border: 0;
			box-shadow: none;
			border-radius: 0;

			ul {
				max-height: none !important;
			}

			li {
				margin-top: -1px;
				padding: 16px 20px;
				border: 1px solid $gray-lightest;
				font-family: $font-family;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}

	&__select-item {

	}
}
