<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/categories/categories.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<aside class="categories" role="complementary">
	<ul class="categories__list">
		<li class="categories__item">
			<a href="" class="categories__link">Блюда к завтраку</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Салаты</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Супы</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Горячие блюда из мяса</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Горячие блюда из рыбы</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Горячие блюда из птицы</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Гарниры</a>
		</li>
		<li class="categories__item  categories__item--active">
			<a class="categories__link">Десерты</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Выпечка</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Соусы</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Сендвичи</a>
		</li>
		<li class="categories__item">
			<a href="" class="categories__link">Напитки, фреши, смузи</a>
		</li>
	</ul>
</aside>
