// В этом файле должны быть стили для БЭМ-блока about-lab, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-lab {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 70px;
	}

	@media (min-width: $screen-lg) {
		padding-bottom: 50px;
	}

	@media (min-width: $screen-xl) {
		padding-bottom: 30px;
	}

	&__content {

		@media (min-width: $screen-md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__left {
		padding-bottom: 25px;

		&:hover {

			.about-lab__left-img {
				transform: scale(1.06);
			}
		}

		@media (min-width: $screen-md) {
			position: relative;
			width: 49%;
			margin-top: -60px;
			padding-bottom: 0;
		}

		@media (min-width: $screen-lg) {
			width: 47%;
		}

		@media (min-width: $screen-xl) {
			width: 48.8%;
		}
	}

	&__right {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			width: 44.5%;
			margin-right: -15px;
			overflow: hidden;
		}

		@media (min-width: $screen-lg) {
			width: 42.7%;
			margin-right: 0;
		}

		@media (min-width: $screen-xl) {
			width: 42.3%;
		}
	}

	&__left-img-wrapper {
		overflow: hidden;
	}

	&__left-img {
		display: block;
		width: 100%;
		max-width: none;
		transition: transform 2.4s;
	}

	&__right-img {
		display: block;

		@media (min-width: $screen-md) {
			margin-top: 75px;
		}

		@media (min-width: $screen-lg) {
			margin-top: 55px;
		}
	}
}
