<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/about-lab/about-lab.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="about-lab">
	<div class="about-lab__content">
		<div class="about-lab__left">
			<div class="about-lab__left-img-wrapper">
				<img class="about-lab__left-img" src="img/about-lab-img-1.jpg" alt="">
			</div>
			<h3 class="med__h3">О лаборатории</h3>
			<p class="med__p">Основной принцип лаборатории персонального питания MEDline – индивидуальный подход.  Мы  не только разрабатываем уникальные программы питания, но и учим правильно питаться,  тем самым помогая вам решить проблемы со здоровьем.</p>
			<a href="#" class="btn">Подробнее</a>
		</div>

		<div class="about-lab__right">
			<img class="about-lab__right-img" src="img/about-lab-img-2.jpg" alt="">
		</div>
	</div>
</section>
