<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/about-choose/about-choose.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="about-choose">
	<h3 class="med__h3">Почему выбирают нас?</h3>

	<div class="row">
		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/about-choose-icon-1.png');">Создано врачами</span>
			<p class="expert-block__features-text">Все блюда и программы питания составлены шеф-поваром лаборатории персонального питания MEDline под наблюдением врачей-диетологов центра MEDline.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-1.png');">Контроль БЖУ и калорий</span>
			<p class="expert-block__features-text">Персональные рационы учитывают необходимую калорийность, количество белков, жиров и углеводов, противопоказания по продуктам.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/about-choose-icon-2.png');">Обширное меню</span>
			<p class="expert-block__features-text">В нашем меню - более 300 блюд. Мы уделяем особое внимание их вкусу и оформлению.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-6.png');">Быстрая доставка</span>
			<p class="expert-block__features-text">Ежедневная доставка блюд в удобное для вас место и время в специальной термосумке.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-5.png');">Помощь диетолога</span>
			<p class="expert-block__features-text">Для составления программы питания или ее корректировки вы всегда можете обратиться за бесплатной консультацией к врачу-диетологу центра MEDline.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-2.png');">Вкусные рационы</span>
			<p class="expert-block__features-text">Передовые технологии термообработки сохраняют не только вкус, но и полезные свойства продуктов.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/about-choose-icon-3.png');">Гибкий подход</span>
			<p class="expert-block__features-text">Изменить любое блюдо в рационе можно по звонку вашему личному сервис-менеджеру.</p>
		</div>

		<div class="about-choose__item">
			<span class="expert-block__features-item-title" style="background-image: url('img/about-choose-icon-4.png');">Заморозка доставки</span>
			<p class="expert-block__features-text">За 36 часов до ближайшей доставки ее можно «заморозить».</p>
		</div>
	</div>
</section>
