// В этом файле должны быть стили для БЭМ-блока about-choose, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-choose {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;
	padding-top: 1px;
	background-color: $gray-white;

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	@media (min-width: $screen-lg) {
		padding-bottom: 0;
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		@include col(lg, 3, 12);

		@media (min-width: $screen-lg) {
			margin-bottom: 20px;
		}
	}
}
