// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

	$block-name:                &;
	// #{$block-name}__element

	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 13px 15px 14px;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	font-family: inherit;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	border-radius: $border-radius;
	border: none;
	background-color: $green-light;
	background-image: none;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s;
	text-size-adjust: none;

	&:hover,
	&:focus {
		background-color: $green;
	}

	&:active,
	&:focus {
		// @include field-focus;
	}

	&--disabled,
	&:disabled {
		cursor: not-allowed;
		opacity: $opacity;
		color: $text-color;
		background-color: $gray-lightest;
		border-color: $gray-lighter;

		@at-root a.btn--disabled {
			pointer-events: none;
		}
	}

	@media (min-width: $screen-md) {
		padding: 18px 25px;
	}

	&--large-md {

		@media (min-width: $screen-md) {
			padding: 15px 25px;
		}
	}

	&--center {
		flex-basis: auto;
		margin-left: auto;
		margin-right: auto;
	}

	&--expert {
		width: 100%;
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		padding-top: 18px;
		padding-bottom: 18px;

		@media (min-width: $screen-md) {
			max-width: 187px;
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 30px;
		}
	}

	&--contacts-block {
		flex-shrink: 0;

		@media (min-width: $screen-md) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&--comments-block {

		@media (min-width: $screen-md) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

  &--cart-total {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

	&__text-expert {
		position: relative;
		display: inline-block;
		padding-left: 28px;
		padding-right: 28px;

		&::before {
			@include sprite($user-icon);
			content: '';
			position: absolute;
			top: -2px;
			left: 0;
		}
	}

	&--cart {
		height: 41px;
		padding-top: 10px;
		padding-bottom: 10px;

		@media (min-width: $screen-md) {
			padding-top: 13px;
			padding-bottom: 14px;
		}
	}

	&--program-details-block {
		position: relative;
		margin-bottom: 25px;
		padding-left: 40px;
		padding-right: 10px;
		font-size: 12px;

		&::before {
			@include sprite($cart-icon-white);
			content: '';
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
			margin-right: 30px;
			padding-left: 40px;
			padding-right: 10px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 25px;
		}

		@media (min-width: $screen-xl) {
			margin-bottom: 0;
		}
	}

	&--simple1 {
		max-width: 290px;
		margin-left: 15px;
		margin-top: 25px;
		margin-bottom: 25px;

		@media (min-width: $screen-lg) {
			display: none;
		}
	}
}
