<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/how-it-works/how-it-works.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="how-it-works">
	<h3 class="med__h3">Как это работает</h3>

	<div class="how-it-works__content">
		<div class="how-it-works__img">
			<picture>
				<source srcset="img/how-it-works-large-desktop.jpg" media="(min-width: 1200px)">
				<source srcset="img/how-it-works-desktop.jpg" media="(min-width: 992px)">
				<source srcset="img/how-it-works-tablet.jpg" media="(min-width: 768px)">
				<img src="img/how-it-works-mobile.jpg" alt="">
			</picture>
		</div>

		<ul class="how-it-works__items">
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">1</span>
				Термосумка, которая сохраняет свежесть рациона в течение 12 часов
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">2</span>
				Столовые приборы и необходимые мелочи: зубочистки, бумажные и влажные салфетки
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">3</span>
				Безупречный вкус и высокое качество блюд
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">4</span>
				Авторские заправки и низкокалорийные соусы
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">5</span>
				Меню на каждый день, которое содержит информацию о составе каждого блюда, его калорийности и рекомендованном времени приема
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">6</span>
				Широкая линейка классических супов и модных крем-супов
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">7</span>
				Воздушные смузи без сахара
			</li>
			<li class="how-it-works__list-item">
				<span class="how-it-works__item-num">8</span>
				Упаковка, созданная из натуральных природных материалов
			</li>
		</ul>
	</div>
</section>
