// В этом файле должны быть стили для БЭМ-блока how-it-works, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.how-it-works {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-top: 45px;
		padding-bottom: 100px;
	}

	&__img {
		position: relative;
		margin-bottom: 15px;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: $screen-md) {
			z-index: 1;
			margin-bottom: 0;
		}
	}

	&__items {
		margin: 0;
		padding: 0;
		list-style: none;

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	&__list-item {
		position: relative;
		margin-bottom: 15px;
		padding-left: 35px;
		font-size: 14px;
		line-height: 1.3;
		color: $text-color--sub;
	}

	&__item-num {
		position: absolute;
		top: -4px;
		left: 0;
		width: 24px;
		height: 24px;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		border-radius: 50%;
		background-color: $green-light;
		text-align: center;
		vertical-align: middle;
		color: $white;
	}

	&__bullet {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		border-radius: 50%;
		background-color: $green-light;
		text-align: center;
		vertical-align: middle;
		color: $white;
	}
}
