<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/sorting/sorting.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<div class="sorting">
	<span class="sorting__title">Сортировать:</span>
	<ul class="sorting__list">
		<li class="sorting__item"><a href="" class="sorting__link"></a></li>
		<li class="sorting__item"><a href="" class="sorting__link"></a></li>
	</ul>
</div>
