// В этом файле должны быть стили для БЭМ-блока sorting, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sorting {

  $block-name:                &;
  // #{$block-name}__element {}
  font-size: 15px;
  line-height: 1;

  @media (min-width: $screen-md) {
  	display: flex;
  	align-items: center;
  }

  @media (min-width: $screen-lg) {
  	margin-top: 10px;
  }

	&__title {
		display: none;
		margin-right: 10px;
		color: $text-color--sub-muted;

		@media (min-width: $screen-md) {
			display: block;
		}
	}

	&__list {
		display: flex;
		margin: 0 0 20px;
		padding: 0;
		list-style: none;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__item {

		&:first-child {

			.sorting__link {
				padding-left: 0;
			}
		}

		&:last-child {

			.sorting__link {
				border-right: none;
			}
		}

		&--incr {

			.sorting__link {
				position: relative;
				color: $green-light;

				&::before {
					@include sprite($sort-icon-incr);
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					margin-top: -3px;
				}
			}
		}

		&--reduce {

			.sorting__link {
				position: relative;
				color: $green-light;

				&::before {
					@include sprite($sort-icon-reduce);
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					margin-top: -3px;
				}
			}
		}
	}

	&__link {
		display: block;
		padding-left: 23px;
		padding-right: 23px;
		border-right: 1px solid $gray-lightest;
		font-size: 15px;
		line-height: 1;
		text-decoration: none;
		color: $valentino;
		transition: color 0.3s;

		&:hover {
			color: $green-light;
		}
	}
}
