// В этом файле должны быть стили для БЭМ-блока about-top-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-top-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	&:hover {

		@media (min-width: $screen-lg) {

			.about-top-block__right-img {
				transform: scale(1.06);
			}
		}
	}

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	@media (min-width: $screen-lg) {
		padding-top: 50px;
	}

	&__left {
		@include col(xs, 12, 12);
		@include col(lg, 4, 12);

		p:last-of-type {

			@media (min-width: $screen-lg) {
				margin-bottom: 0;
			}
		}

		@media (min-width: $screen-lg) {
			align-self: center;
		}
	}

	&__right {
		@include col(xs, 12, 12);
		@include col(lg, 8, 12);

		@media (min-width: $screen-md) {
			margin-top: 5px;
		}

		@media (min-width: $screen-lg) {
			margin-top: 0;
		}
	}

	&__img-wrapper {

		@media (min-width: $screen-lg) {
			overflow: hidden;
		}
	}

	&__right-img {
		display: block;

		@media (min-width: $screen-md) {
			transition: transform 2.4s;
		}
	}
}
