<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/about-top-block/about-top-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="about-top-block">
	<div class="row">
		<div class="about-top-block__left">
			<h1 class="med__h1  med__h1--about-top-block">О проекте MEDline</h1>
			<strong class="med__strong  med__strong--about-top-block">Лаборатория персонального питания MEDline — сервис доставки индивидуальных рационов.</strong>
			<p class="med__p">Мы опровергаем общепринятое мнение о том, что диета или правильное питание — это борьба с самим собой, чтобы «не съесть что-то вкусненькое», и предлагаем меню из десятков ярких и полезных блюд. Наши рационы разработаны и приготовлены  в тесном сотрудничестве врачей-диетологов центра рационального здоровья MEDline и поваров лаборатории персонального питания MEDline, имеющих богатый опыт работы в сегменте HoReCa класса Premium.</p>
		</div>

		<div class="about-top-block__right">
			<div class="about-top-block__img-wrapper">
				<img class="about-top-block__right-img" src="img/about-top-block-img-1.jpg" alt="">
			</div>
		</div>
	</div>
</section>
