// В этом файле должны быть стили для БЭМ-блока preloader, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.preloader {

  $block-name:                &;
  // #{$block-name}__element {}
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: opacity 1.5s;

  &__content {
		position: absolute;
		top: 50%;
		left: 50%;
    width: 170px;
		transform: translate(-50%, -50%);
  }

  &__img {
  	display: block;
    margin-bottom: 30px;
  }

  &__gif-img {
    width: 100%;
  }

  &--hide {
  	opacity: 0;
  }

  &--display-none {
    display: none;
  }
}
