<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/preloader/preloader.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<div id="preloader-js" class="preloader">
	<div class="preloader__content">
		<img src="img/logo.png" alt="" class="preloader__img">

		<div class="preloader__gif">
			<img src="img/preloader.gif" alt="" class="preloader__gif-img">
		</div>
	</div>
</div>
