// В этом файле должны быть стили для БЭМ-блока program-details-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.program-details-block {

	$block-name:                &;
	// #{$block-name}__element {}

	&__header {
		@include row();
		padding-top: 15px;

		&:hover {

			.program-details-block__img {
				transform: scale(1.06);
			}
		}

		@media (min-width: $screen-md) {
			padding-top: 35px;
			padding-bottom: 20px;
		}
	}

	&__main-top {
		padding-bottom: 10px;

		@media (min-width: $screen-md) {
			display: flex;
			padding-bottom: 30px;
		}
	}

	&__left {
		@include col(xs, 12, 12);
		@include col(lg, 8, 12);
		margin-bottom: 30px;

		@media (min-width: $screen-lg) {
			margin-bottom: 0;
		}
	}

	&__right {
		@include col(xs, 12, 12);
		@include col(lg, 4, 12);

		@media (min-width: $screen-lg) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__right-top {
		display: flex;
		margin-bottom: 25px;
	}

	&__controls {
		@include col(xs, 12, 12);
		padding-bottom: 5px;

		.slick-dots {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1;

			li {
				margin-right: 20px;

				&.slick-active {

					button {
						color: $black;

						&::before {
							transform: scaleX(1);
						}
					}
				}

				@media (min-width: $screen-md) {
					margin-right: 30px;
				}
			}

			button {
				position: relative;
				padding: 0;
				padding-top: 11px;
				padding-bottom: 11px;
				font-size: 18px;
				line-height: 1;
				font-weight: 400;
				font-family: $font-family;
				border: none;
				color: $valentino;
				background-color: transparent;
				transition: color 0.15s;
				outline: none;

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 3px;
					background-color: $green-light;
					transform: scaleX(0);
					transition: transform 0.3s;
				}

				&:hover {
					color: $text-color;

					&::before {
						transform: scaleX(1);
					}
				}
			}
		}

		@media (min-width: $screen-md) {
			padding-bottom: 10px;
		}
	}

	&__controls-btn {
		position: relative;
		margin-right: 20px;
		padding: 0;
		padding-bottom: 10px;
		font-size: 18px;
		line-height: 1;
		font-weight: 400;
		font-family: $font-family;
		border: none;
		color: $valentino;
		background-color: transparent;
		transition: color 0.15s;
		outline: none;
		cursor: pointer;

		&.active {

			&::before {
				transform: scaleX(1);
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: $green-light;
			transform: scaleX(0);
			transition: transform 0.3s;
		}

		&:hover {
			color: $text-color;

			&::before {
				transform: scaleX(1);
			}
		}
	}

	&__image-wrapper {
		overflow: hidden;
	}

	&__img {
		display: block;
		backface-visibility: hidden;
		transition: transform 2.4s;
	}

	&__logo {
		margin-right: 25px;

		img {
			display: block;
		}
	}

	&__number-meals {
		margin-left: 2px;
		font-size: 15px;
		color: $text-color--sub;

		@media (min-width: $screen-md) {
			margin-left: 4px;
		}
	}

	&__descr {
		font-size: 16px;
		color: $text-color;
		font-weight: 300;
	}

	&__price {
		width: 180px;
		overflow: hidden;
	}

	&__price-item {
		color: $black;
	}

	&__price-item-cost {
		font-size: 47px;
		line-height: 1;
	}

	&__price-item-step {
		font-size: 14px;
		text-transform: uppercase;
	}

	&__bottom {

		@media (min-width: $screen-md) {
			display: flex;
		}

		@media (min-width: $screen-lg) {
			flex-direction: column;
			align-items: flex-start;
		}

		@media (min-width: $screen-xl) {
			flex-direction: row;
		}
	}

	&__bottom-content {
		padding-bottom: 15px;

		@media (min-width: $screen-md) {
			padding-top: 20px;
			padding-bottom: 40px;
		}
	}

	&__total-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		font-size: 15px;
		line-height: 1;
		list-style: none;

		@media (min-width: $screen-md) {
			display: flex;
		}
	}

	&__total-item {
		display: flex;
		align-items: baseline;
		padding-top: 8px;
		padding-bottom: 8px;

		&:last-child {

			@media (min-width: $screen-md) {
				margin-right: 0;
				margin-left: auto;
			}
		}

		@media (min-width: $screen-md) {
			margin-right: 30px;
		}
	}

	&__total-key {
		margin-right: 7px;
		line-height: 1;
		color: $text-color--sub-muted;

		&--large {
			font-size: 16px;
		}
	}

	&__total-value {
		font-weight: 500;
		line-height: 1;
		color: $black;

		&--large {
			font-size: 18px;
		}
	}
}
