<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/payment-block/payment-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="payment-block">
	<h3 class="med__h3">Оплата</h3>

	<ul class="payment-block__list">
		<li class="payment-block__item" style="background-image: url('img/payment-icon-1.png');">Наличными курьеру</li>
		<li class="payment-block__item" style="background-image: url('img/payment-icon-2.png');">Банковской картой</li>
	</ul>
</section>
