// В этом файле должны быть стили для БЭМ-блока payment-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.payment-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	&__list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		@media (min-width: $screen-md) {
			display: flex;
		}
	}

	&__item {
		margin-bottom: 25px;
		padding-left: 45px;
		font-size: 21px;
		line-height: 1.3;
		font-weight: 300;
		color: $black;
		background-repeat: no-repeat;
		background-position: 0 0;

		@media (min-width: $screen-md) {
			margin-right: 40px;
		}
	}
}
