// В этом файле должны быть стили для БЭМ-блока enroll-nutritionist, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.enroll-nutritionist {

	$block-name:                &;
	// #{$block-name}__element {}
	padding-bottom: 30px;

	@media (min-width: $screen-md) {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	@media (min-width: $screen-lg) {
		display: flex;
	}

	&--expert {

		@media (min-width: $screen-md) {
			padding-top: 0;
			padding-bottom: 50px;
		}

		@media (min-width: $screen-xl) {
			padding-top: 45px;
			padding-bottom: 85px;
		}
	}

	&__left {
		display: none;
		width: 25%;
		padding-right: 10px;

		img {
			width: 440px;
			height: 270px;
			margin-top: 70px;
			object-fit: cover;
			object-position: 100% 50%;
		}

		@media (min-width: $screen-lg) {
			display: block;
		}

		@media (min-width: $screen-xl) {
			padding-right: 20px;
		}
	}

	&__right {
		@include col(xs, 12, 12);
		@include col(lg, 9, 12);

		@media (min-width: $screen-xl) {
			max-width: 900px;
			margin-right: auto;
		}

		.row:last-of-type {

			.enroll-nutritionist__form-item {
				margin-bottom: 0;
			}
		}
	}

	&__form-item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 30px;

			@media (min-width: $screen-md) {
				margin-bottom: 50px;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
		}

		&--big {
			@include col(md, 12, 12);
		}

		&--3 {
			@include col(md, 4, 12);
		}
	}

	&__submit-grid {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> :first-child {
			margin-right: 20px;

			@media (min-width: $screen-md) {
				margin-right: 30px;
			}
		}
	}

	&__form-text {
		width: 47.3%;
		margin-right: 20px;
		font-size: 14px;
		line-height: 1;

		&--contacts-block {

			@media (min-width: $screen-md) {
				width: auto;
				margin-right: 0;
				line-height: 1.4;
			}
		}

		&--comments {
			flex-grow: 1;
			margin-right: 0;
		}
	}
}
