<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/enroll-nutritionist/enroll-nutritionist.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="enroll-nutritionist">
	<div class="enroll-nutritionist__left">
		<img src="img/enroll-nutritionist-bg.jpg" alt="">
	</div>

	<div class="enroll-nutritionist__right">
		<h3 class="med__h3">Запишитесь к диетологу</h3>

		<form class="enroll-nutritionist__form" action="" method="post" autocomplete="off">
			<div class="row">
				<div class="enroll-nutritionist__form-item">
					<label class="field-text  field-text--error">
						<input class="field-text__input" type="text" name="user__name" required value="Иванов">
						<span class="field-text__name">ФИО</span>
					</label>
				</div>
				<div class="enroll-nutritionist__form-item">
					<label class="field-text">
						<input class="field-text__input" type="email" name="user__email">
						<span class="field-text__name">Email</span>
					</label>
				</div>

				<div class="enroll-nutritionist__form-item">
					<label class="field-text">
						<input class="field-text__input" type="tel" name="user__tel" required>
						<span class="field-text__name">Телефон</span>
					</label>
				</div>
				<div class="enroll-nutritionist__form-item">
					<label class="field-text">
						<input class="field-text__input  field-text__input--date" type="text" name="user__date" required>
						<span class="field-text__name">Желаемая дата приема</span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="enroll-nutritionist__form-item  enroll-nutritionist__form-item--big">
					<div class="enroll-nutritionist__submit-grid">
						<button class="btn" type="submit">Записаться</button>
						<span class="enroll-nutritionist__form-text">Поля отмеченные  “ <span class="field-text__green-star">*</span> ” обязательны для заполнения</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
