// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$color-success:               hsl(120, 39%, 54%) !default;

.field-text {

  $block-name:                &;
  // #{$block-name}__element

  &--success {

    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      // color: $color-success;
    }

    #{$block-name}__input {
      border-color: $color-success;
      background-color: lighten($color-success, 35%);
    }
  }
}
