// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.field-text {

	$block-name:                &;
	position: relative;
	display: flex;

	.ui-datepicker-trigger {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 20px;
	}

	.placeholder {
		width: 100% !important;
		color: rgb(34, 27, 29);
	}

	&__label {
		margin-bottom: 10px;
		font-size: 14px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}

		&--profile {
			font-size: 18px;
			color: $text-color--sub;

			@media (min-width: $screen-md) {
				margin-right: 30px;
				margin-left: auto;
			}
		}
		&--comments { 
			margin-bottom: auto !important; 
			@media (max-width: 767px) {
				margin-bottom: 10px !important;
			}
		}

		i {
			display: inline-block;
			font-style: normal;
			color: #9dc41b;
		}
	}

	&__spin {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		width: 45px;
		font-size: 0;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			transform: translate(-50%, -50%);
			border: 2px solid $green-light;
			border-top: none;
			border-left: none;

			@media (min-width: $screen-md) {
				left: 7px;
				width: 0;
				height: 0;
				border: 5px solid $black;
				border-left-color: transparent;
				border-right-color: transparent;
				transform: translate(0, 0);
			}
		}

		@media (min-width: $screen-md) {
			top: auto;
			bottom: auto;
			right: 0;
			width: 32px;
		}

		&--minus {
			left: 0;

			&::before {
				transform: translate(0, -50%) rotate(135deg);

				@media (min-width: $screen-md) {
					top: 4px;
					border-bottom: none;
				}
			}

			@media (min-width: $screen-md) {
				left: auto;
				bottom: 0;
				height: 20px;
			}
		}

		&--plus {
			right: 0;

			&::before {
				transform: translate(-100%, -50%) rotate(-45deg);

				@media (min-width: $screen-md) {
					bottom: 4px;
					border-top: none;
				}
			}

			@media (min-width: $screen-md) {
				top: 0;
				height: 21px;
			}
		}

		&--modal {

			&::before {

				@media (min-width: $screen-md) {
					top: 50%;
					left: 50%;
					width: 10px;
					height: 10px;
					transform: translate(-50%, -50%);
					border: 2px solid $green-light;
					border-top: none;
					border-left: none;
				}

				@media (min-width: $screen-lg) {
					width: 20px;
					height: 3px;
					border: none;
					background-color: $white;
					transform: translate(-50%, -50%) rotate(0);
				}
			}

			@media (min-width: $screen-md) {
				top: 0;
				bottom: 0;
				right: auto;
				height: auto;
				width: 57px;
			}

			@media (min-width: $screen-lg) {
				position: relative;
				width: 41px;
				height: 41px;
				border-radius: 3px;
				background-color: $valentino;
			}
		}

		&--minus-modal {

			&::before {

				@media (min-width: $screen-md) {
					transform: translate(-50%, -50%) rotate(135deg);
				}
			}

			@media (min-width: $screen-md) {
				left: 0;
			}

			@media (min-width: $screen-lg) {
				margin-right: 10px;
			}
		}

		&--plus-modal {

			&::before {

				@media (min-width: $screen-md) {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}

			&::after {

				@media (min-width: $screen-lg) {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 20px;
					height: 3px;
					background-color: $white;
					transform: translate(-50%, -50%) rotate(90deg);
				}
			}

			@media (min-width: $screen-md) {
				right: 0;
			}

			@media (min-width: $screen-lg) {
				margin-left: 10px;
			}
		}

		&--cart {
			width: 36px;

			&::before {

				@media (min-width: $screen-md) {
					top: 50%;
					left: 50%;
					width: 10px;
					height: 10px;
					border: 2px solid $green-light;
					border-top: none;
					border-left: none;
				}
			}

			@media (min-width: $screen-md) {
				top: 0;
				width: 36px;
				height: auto;
			}

			@media (min-width: $screen-lg) {
				width: 50px;
			}

			@media (min-width: $screen-xl) {
				width: 60px;
			}
		}

		&--cart-minus {

			&::before {

				@media (min-width: $screen-md) {
					transform: translate(-50%, -50%) rotate(135deg);
				}
			}

			@media (min-width: $screen-md) {
				left: 0;
			}
		}

		&--cart-plus {

			&::before {

				@media (min-width: $screen-md) {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}

			@media (min-width: $screen-md) {
				bottom: 0;
			}
		}
	}

	&__number-group {
		position: relative;
		display: flex;
		width: 120px;

		@media (min-width: $screen-md) {
			width: 65px;
		}

		&--modal {
			margin-right: 10px;

			@media (min-width: $screen-md) {
				width: 140px;
				margin-right: 20px;
			}

			@media (min-width: $screen-lg) {
				width: 167px;
				margin-right: 25px;
			}

			@media (min-width: $screen-xl) {
				margin-right: 30px;
			}
		}

		&--cart {
			width: 100%;

			@media (min-width: $screen-md) {
				width: 100%;
			}
		}
	}

	&__date-group {
		display: flex;
		flex-grow: 1;
		max-width: 300px;
	}

	&__green-star {
		color: $green;
	}

	&__name {
		position: absolute;
		top: 12px;
		left: 20px;
		font-size: 14px;
		line-height: 17px;
		opacity: 1;
		transition: opacity 0.2s;

		// &--date {
		// 	right: 20px;

		// 	&::before {
		// 		@include sprite($calendar-icon);
		// 		content: '';
		// 		position: absolute;
		// 		top: -1px;
		// 		right: 0;
		// 	}
		// }

		&--hide {
			opacity: 0;
		}

		&--date-reg {
			left: 0;
			right: 0;
			text-align: center;
		}

		&--not-label {
			display: none;
		}
	}

	&__input-wrap {
		display: block;
	}

	&__input {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 41px;
		padding: 12px 20px 13px;
		margin: 0;
		line-height: 1;
		font-size: 14px;
		font-family: inherit;
		background-color: #fff;
		border: 1px solid $border-color;
		border-radius: $border-radius;
		appearance: none;
		transition: border-color 0.3s, background-color 0.3s;
		outline: none;

		&[disabled],
		&[readonly] {
			cursor: default;
			background-color: $gray-lighter;
		}

		&[type='search']::-webkit-search-cancel-button,
		&[type='search']::-webkit-search-decoration {
			appearance: none; /* stylelint-disable-line  property-no-vendor-prefix */
		}

		// &[type='number'] {
		// 	appearance: none;
		// }

		// &[type='number']::-webkit-inner-spin-button,
		// &[type='number']::-webkit-outer-spin-button {
		// 	appearance: none;
		// 	margin: 0;
		// }

		&[type='color'] {
			// max-width: 100px;
			padding: 0;
		}

		&::placeholder {
			color: $text-color--muted;
			opacity: 1;
		}

		@at-root textarea#{&} {
			$textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

			height: auto;
			min-height: calc(#{$textarea-height} + 2px);
			resize: none;

			&--textarea {
				height: 153px;

				@media (min-width: $screen-md) {
					height: 93px;
				}
			}

			&--contacts-block {
				height: 125px;

				@media (min-width: $screen-md) {
					height: 125px;
				}
			}
		}

		&--header-search {
			border-right: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			line-height: 17px;
			height: 41px;
		}

		&--date-reg {
			padding-left: 12px;
			padding-right: 12px;
			text-align: center;
		}

		&--registration {

			@media (min-width: $screen-md) {
				max-width: 300px;
			}
		}

		&--number {
			padding: 7px 45px;
			font-size: 20px;
			color: $black;
			text-align: center;

			@media (min-width: $screen-md) {
				padding-left: 5px;
				padding-right: 25px;
			}
		}

		&--number-modal {

			@media (min-width: $screen-md) {
				padding-right: 56px;
				padding-left: 56px;
			}

			@media (min-width: $screen-lg) {
				width: 65px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		&--cart-number {
			padding-left: 35px;
			padding-right: 35px;


			@media (min-width: $screen-md) {
				padding-left: 35px;
				padding-right: 35px;
			}

			@media (min-width: $screen-lg) {
				padding-left: 50px;
				padding-right: 50px;
			}

			@media (min-width: $screen-xl) {
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		&--profile {
			padding-top: 10px;
			padding-bottom: 11px;
			font-size: 18px;
			line-height: 1;
			font-weight: 500;
			color: $black;

			@media (min-width: $screen-md) {
				max-width: 370px;
			}
		}

		&--profile-small {

			@media (min-width: $screen-md) {
				max-width: 170px;
				margin-right: 200px;
			}
		}
	}

	&__help-text {
		@include field-help-text;
	}

	&__search-btn {
		position: relative;
		width: 50px;
		height: 41px;
		padding: 0;
		font-size: 0;
		background-color: #fbfcfd;
		border: 1px solid $gray-lightest;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		outline: none;
		cursor: pointer;
		transition: color 0.2s cubic-bezier(0.69, 0.09, 0.32, 0.83);

		&:hover {
			color: $green-light;
		}

		&::before {
			@include sprite($search-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -9px;
			margin-left: -7px;

			@media (min-width: $screen-md) {
				left: 30px;
			}
		}

		@media (min-width: $screen-md) {
			width: 120px;
			padding-left: 25px;
			font-family: $font-family;
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__date-reg-btn {
		position: relative;
		flex-grow: 1;
		max-width: 45px;
		border: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 17px;
			height: 17px;
			background-image: url('../img/calendar-icon.png');
			background-repeat: no-repeat;
			background-position: center;
			transform: translate(-50%, -50%);
		}
	}

	&__date-labels-group {
		display: flex;
		width: 84.66%;
		max-width: 255px;
	}

	&--header-search {
		flex-grow: 1;
		line-height: 1;
	}

	&--single {
		margin-bottom: 0;
	}

	&--menu-categories-block {
		margin-right: 10px;
	}

	&--modal-number {

		.jq-number {
			width: 120px;
			padding: 7px 45px;

			.field-text__input {
				padding: 0;
			}

			&.focused {

				.jq-number__field {
					border: none;
				}
			}

			@media (min-width: $screen-md) {
				width: 140px;
				padding: 7px 45px;
			}

			@media (min-width: $screen-lg) {
				width: 65px;
				margin-right: 51px;
				margin-left: 51px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.jq-number__field {
			width: auto;
			border: none;
			box-shadow: none;

			input {
				font-family: $font-family;
				font-size: 20px;
				color: $black;
				text-align: center;
			}
		}

		.jq-number__spin {
			top: 0;
			bottom: 0;
			width: 45px;
			height: auto;
			border: none;
			outline: none;
			box-shadow: none;
			background: transparent;
			border-radius: 3px;

			&.minus {
				left: 0;

				&::after {
					transform: rotate(135deg);

					@media (min-width: $screen-md) {
						top: 50%;
						left: 50%;
						margin-top: -7px;
						margin-left: -8px;
						transform: rotate(135deg);
						border-right-color: $green-light;
						border-bottom: 2px solid $green-light;
					}

					@media (min-width: $screen-lg) {
						width: 20px;
						height: 3px;
						margin-top: -1px;
						margin-left: -10px;
						border: none;
						background-color: $white;
						transform: rotate(0);
					}
				}

				@media (min-width: $screen-md) {
					left: 0;
					top: 0;
				}

				@media (min-width: $screen-lg) {
					left: -51px;
				}
			}

			&.plus {
				right: 0;

				&::after {
					transform: rotate(-45deg);

					@media (min-width: $screen-md) {
						top: 50%;
						left: 50%;
						margin-top: -7px;
						margin-left: -8px;
						transform: rotate(-45deg);
						border-right-color: $green-light;
					}

					@media (min-width: $screen-lg) {
						@include sprite($plus-modal-icon);
						margin-top: 0;
						margin-left: 0;
						border: none;
						transform: translate(-50%, -50%);
					}
				}

				&:hover {

					&::after {

						@media (min-width: $screen-md) {
							border-bottom-color: $green-light;
						}
					}
				}

				@media (min-width: $screen-md) {
					bottom: 0;
				}

				@media (min-width: $screen-lg) {
					right: -51px;
				}
			}

			&::after {
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -7px;
				margin-left: -8px;
				background: none;
				border: 2px solid $green-light;
				border-top: none;
				border-left: none;

				@media (min-width: $screen-md) {
					top: 50%;
					left: 50%;
					width: 12px;
					height: 12px;
					margin-top: -7px;
					margin-left: -8px;
					background: none;
					border: 2px solid $green-light;
					border-top: none;
					border-left: none;
				}
			}

			@media (min-width: $screen-md) {
				top: 0;
				width: 45px;
				height: auto;
			}

			@media (min-width: $screen-lg) {
				bottom: auto;
				width: 41px;
				height: 40px;
				background-color: $valentino;
			}
		}

		@media (min-width: $screen-md) {
			margin-right: 20px;
		}

		@media (min-width: $screen-lg) {
			margin-right: 30px;
		}
	}

	&--registration {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: $screen-md) {
			flex-direction: row;
			align-items: center;
		}
	}

	&--date-reg {
		position: relative;
		flex-grow: 1;
		width: 43px;
		max-width: 63px;
		margin-right: 24px;

		&:last-of-type {
			margin-right: 0;
		}

		&:not(:last-of-type) {

			&::before {
				content: '/';
				position: absolute;
				top: 50%;
				right: -14px;
				margin-top: -12px;
				font-size: 24px;
				color: $text-color--sub;
			}
		}
	}

	&--date-reg-year {
		width: 59px;
		max-width: 79px;
	}

	&--calculator-block {
		display: flex;
		flex-direction: column;
	}

	&--profile {

	}

	&--select-calc {

		.jq-selectbox__dropdown {

			li {
				white-space: normal;

				@media (min-width: $screen-md) {
					white-space: nowrap;
				}
			}
		}
	}
}
