// В этом файле должны быть стили для БЭМ-блока menu-personal-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu-personal-block {

	$block-name:                &;
	// #{$block-name}__element {}

	@media (min-width: $screen-md) {
		display: flex;
		flex-wrap: wrap;
	}

	@media (min-width: $screen-lg) {
		flex-wrap: nowrap;
		margin-top: -1px;
		border-top: 1px solid $gray-lightest;
	}

	&__header {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			margin-bottom: 40px;
		}

		@media (min-width: 1590px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__main {
		@include col(xs, 12, 12);
		@include col(md, 8, 12);
		@include col(lg, 6, 12);
		padding-top: 30px;
		padding-bottom: 50px;

		@media (min-width: $screen-md) {
			padding-top: 36px;
		}

		@media (min-width: $screen-lg) {
			flex-basis: 66.66667%;
			max-width: 66.66667%;
		}

		@media (min-width: 1025px) {
			flex-basis: 50%;
			max-width: 50%;
		}

		@media (min-width: $screen-xl) {
			flex-grow: 1;
			max-width: none;
			padding-bottom: 10px;
		}
	}

	&__list {
		@include row();
	}

	&__item {
		@include col(xs, 6, 12);
		@include col(xxl, 3, 12);
		margin-bottom: 30px;

		&:nth-last-of-type(4) {

			@media (min-width: $screen-xxl) {
				margin-bottom: 0;
			}
		}

		&:nth-last-of-type(3) {

			@media (min-width: 1590px) {
				margin-bottom: 0;
			}
		}

		&:nth-last-of-type(2) {
			margin-bottom: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&:hover {

			.menu-personal-block__item-wrapper {

				@media (min-width: $screen-xl) {
					z-index: 1;
					box-shadow: 0 0 0 6px hsl(228, 17%, 94%);
				}
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 50px;
		}

		@media (min-width: $screen-xl) {
			position: relative;
			margin-bottom: 10px;
		}

		@media (min-width: 1590px) {
			flex-basis: calc(100% / 3);
		}
	}

	&__item-wrapper {

		@media (min-width: $screen-xl) {
			padding: 20px;
			margin-left: -20px;
			margin-right: -20px;
			top: -20px;
			left: 15px;
			right: 15px;
			background-color: $white;
			transition: box-shadow 0.3s;
		}
	}

	&__item-body {
		cursor: pointer;

		&:hover {

			.menu-personal-block__item-title {

				@media (min-width: $screen-xl) {
					color: $green-light;
				}
			}

			.menu-personal-block__image {

				@media (min-width: $screen-xl) {
					transform: scale(1.06);
				}
			}

			@media (min-width: $screen-xl) {

			}
		}
	}

	&__item-title {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 1.3;
		font-weight: 300;

		@media (min-width: $screen-md) {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 1.2;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 12px;
		}

		@media (min-width: $screen-xl) {
			transition: color 0.3s;
		}
	}

	&__image-wrapper {
		position: relative;
		margin-bottom: 5px;

		@media (min-width: $screen-md) {
			margin-bottom: 15px;
		}

		@media (min-width: $screen-xl) {
			overflow: hidden;
		}
	}

	&__image {
		display: block;

		@media (min-width: $screen-xl) {
			transition: transform 2.4s;
			backface-visibility: hidden;
		}
	}

	&__nameplate {
		position: absolute;
		left: 0;
		bottom: 0;
		padding-left: 12px;
		padding-right: 4px;
		padding-top: 3px;
		padding-bottom: 3px;
		font-size: 11px;
		line-height: 1;
		color: $white;
		background-color: $valentino;

		&::before {
			@include sprite($liven-icon);
			content: '';
			position: absolute;
			top: 50%;
			left: 4px;
			transform: translateY(-50%);
		}

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	&__measure {
		display: none;

		@media (min-width: $screen-md) {
			display: flex;
			font-size: 15px;
			line-height: 1;
			color: $text-color--sub;
		}
	}

	&__measure-item {

		@media (min-width: $screen-md) {
			position: relative;

			&:not(:last-child) {
				margin-right: 10px;
				padding-right: 10px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 1px;
					height: 10px;
					margin-top: -5px;
					background-color: $gray-lightest;
				}
			}
		}
	}

	&__item-delimiter {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
			border-top: 1px solid $gray-lightest;
		}
	}

	&__btn {
		position: relative;
		width: 31px;
		height: 31px;
		margin-right: 10px;
		padding-left: 0;
		padding-right: 0;
		font-size: 0;
		background-color: $green-light;
		border: none;
		outline: none;
		border-radius: 3px;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 2px;
			background-color: $white;
			transform: translate(-50%, -50%);

			@media (min-width: $screen-md) {
				display: none;
			}
		}

		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		&:hover {

			@media (min-width: $screen-xl) {
				background-color: $green;
			}
		}

		@media (min-width: $screen-md) {
			width: auto;
			height: 41px;
			margin-right: auto;
			padding: 13px 20px;
			font-size: 14px;
			font-family: $font-family;
			line-height: 1;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
		}

		@media (min-width: $screen-xl) {
			transition: background-color 0.3s;
		}
	}

	&__price {
		line-height: 1;
		color: $black;
	}

	&__price-value {
		font-size: 18px;

		@media (min-width: $screen-md) {
			font-size: 36px;
		}
	}

	&__price-text {
		font-size: 14px;
		text-transform: uppercase;
	}

	&__item-bottom {
		display: flex;
		align-items: center;

		@media (min-width: $screen-lg) {
			position: relative;
		}
	}

	&__item-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
		opacity: 0;
		visibility: hidden;
		flex-direction: column;
		transition: opacity 0.3s;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__dropdown-btn {
		padding: 15px 25px;
		border: none;
		border-bottom: 1px solid rgba($white, 0.2);
		font-size: 13px;
		line-height: 1;
		font-weight: 700;
		font-family: $font-family;
		text-transform: uppercase;
		background-color: $valentino;
		color: $white;
		transition: background-color 0.3s;
		cursor: pointer;

		> span {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $white;
				opacity: 0;
				transition: opacity 0.3s;
			}
		}

		&:first-child {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		&:last-child {
			border-bottom: 0;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&:hover {
			background-color: hsl(279, 41%, 27%);

			> span {

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__item-helper {
		position: relative;
		z-index: 90;
		width: 62px;
		height: 62px;
		padding: 5px;
		background-color: $white;
		border: 1px solid $gray-lightest;
		cursor: grabbing;
	}
}
