<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/menu-personal-block/menu-personal-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<div class="menu-personal-block">
	<aside class="categories  categories--menu-personal" role="complementary">
		<ul class="categories__list  d-none-md-down">
			<li class="categories__item">
				<a href="" class="categories__link">Блюда к завтраку</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Салаты</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Супы</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Горячие блюда из мяса</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Горячие блюда из рыбы</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Горячие блюда из птицы</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Гарниры</a>
			</li>
			<li class="categories__item  categories__item--active">
				<a class="categories__link">Десерты</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Выпечка</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Соусы</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Сендвичи</a>
			</li>
			<li class="categories__item">
				<a href="" class="categories__link">Напитки, фреши, смузи</a>
			</li>
		</ul>

		<select class="categories__select  d-none-md-up" name="" id="">
			<option class="categories__select-item">Блюда к завтраку</option>
			<option class="categories__select-item">Салаты</option>
			<option class="categories__select-item">Супы</option>
			<option class="categories__select-item">Горячие блюда из мяса</option>
			<option class="categories__select-item">Горячие блюда из рыбы</option>
			<option class="categories__select-item">Горячие блюда из птицы</option>
			<option class="categories__select-item">Гарниры</option>
			<option class="categories__select-item" selected>Десерты</option>
			<option class="categories__select-item">Выпечка</option>
			<option class="categories__select-item">Соусы</option>
			<option class="categories__select-item">Сендвичи</option>
			<option class="categories__select-item">Напитки, фреши, смузи</option>
		</select>
	</aside>

	<div id="menu-personal-block-js" class="menu-personal-block__main">
		<header class="menu-personal-block__header">
			<h1 class="med__h1  med__h1--menu-personal-block">Горячие блюда из птицы</h1>

			<div class="sorting  sorting--menu-personal-block">
				<span class="sorting__title">Сортировать:</span>
				<ul class="sorting__list">
					<li class="sorting__item  sorting__item--incr">
						<a href="" class="sorting__link">по названию</a>
					</li>
					<li class="sorting__item">
						<a href="" class="sorting__link">по цене</a>
					</li>
				</ul>
			</div>
		</header>

		<div class="menu-personal-block__list" data-json="/data.json">
			<div class="menu-personal-block__item" data-id="id1">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-1.jpg" alt="">
							<span class="menu-personal-block__nameplate">210</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">140 г</span>

							<span class="menu-personal-block__measure-item">210 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">120</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id2">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-2.jpg" alt="">
							<span class="menu-personal-block__nameplate">180</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">120 г</span>

							<span class="menu-personal-block__measure-item">180 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">170</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id3">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-3.jpg" alt="">
							<span class="menu-personal-block__nameplate">330</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">160 г</span>

							<span class="menu-personal-block__measure-item">330 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">210</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id4">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-personal-block-img-3.jpg" alt="">
							<span class="menu-personal-block__nameplate">240</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">150 г</span>

							<span class="menu-personal-block__measure-item">240 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">360</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id3">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-3.jpg" alt="">
							<span class="menu-personal-block__nameplate">330</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">160 г</span>

							<span class="menu-personal-block__measure-item">330 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">210</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id4">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-personal-block-img-3.jpg" alt="">
							<span class="menu-personal-block__nameplate">240</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">150 г</span>

							<span class="menu-personal-block__measure-item">240 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">360</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id1">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-1.jpg" alt="">
							<span class="menu-personal-block__nameplate">210</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">140 г</span>

							<span class="menu-personal-block__measure-item">210 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">120</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id2">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-2.jpg" alt="">
							<span class="menu-personal-block__nameplate">180</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">120 г</span>

							<span class="menu-personal-block__measure-item">180 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">170</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id1">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-1.jpg" alt="">
							<span class="menu-personal-block__nameplate">210</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">140 г</span>

							<span class="menu-personal-block__measure-item">210 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">120</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-personal-block__item" data-id="id2">
				<div class="menu-personal-block__item-wrapper">
					<div class="menu-personal-block__item-body" data-fadeIn=".modal--menu-personal-block">
						<div class="menu-personal-block__image-wrapper">
							<img class="menu-personal-block__image" src="img/menu-categories-img-2.jpg" alt="">
							<span class="menu-personal-block__nameplate">180</span>
						</div>

						<h3 class="menu-personal-block__item-title">Пример названия десерта он может идти в несколько строк</h3>

						<div class="menu-personal-block__measure">
							<span class="menu-personal-block__measure-item">120 г</span>

							<span class="menu-personal-block__measure-item">180 ККал</span>
						</div>
					</div>

					<div class="menu-personal-block__item-delimiter"></div>

					<div class="menu-personal-block__item-bottom">
						<button class="menu-personal-block__btn" type="button">Выбрать</button>

						<div class="menu-personal-block__price">
							<span class="menu-personal-block__price-value">170</span>

							<span class="menu-personal-block__price-text">руб.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<aside id="racion-js" class="racion">
		<button class="racion__btn-modal" type="button" data-racion-animation-show=".modal--menu-personal">Ваш рацион</button>

		<div class="swiper-container">
			<div class="swiper-wrapper"></div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</aside>
</div>
