<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/created-by-doctors/created-by-doctors.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="created-by-doctors">
	<div class="row">
		<header class="created-by-doctors__header">
			<h3 class="med__h3  med__h3--created-by-doctors">Создано врачами</h3>
			<p class="med__title-text">Проект MEDline — часть крупнейшего на юге России медицинского объединения «Три-З», за услугами которого ежегодно обращаются более 700 тысяч пациентов.</p>
		</header>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-1.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-2.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-3.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-4.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-5.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-6.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-7.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/created-by-doctors-logo-8.png" alt="">
		</a>
		<a href="" class="created-by-doctors__item">
			<img class="created-by-doctors__item-img" src="img/logo.png" alt="">
		</a>
	</div>
</section>
