// В этом файле должны быть стили для БЭМ-блока created-by-doctors, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.created-by-doctors {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	&__header {
		@include col(xs, 12, 12);

		@media (min-width: $screen-md) {
			margin-bottom: 50px;
		}
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 4, 12);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		text-decoration: none;

		&:hover {

			@media (min-width: $screen-lg) {
				opacity: 0.7;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 90px;
		}

		@media (min-width: $screen-lg) {
			transition: opacity 0.3s;
		}
	}

	&__item-img {
		display: block;
	}
}
