// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

.field-radio {

	$block-name:                &;
	// #{$block-name}__element

	display: block;
	margin-bottom: ($line-height / 2);

	&__title {
		display: block;
		font-weight: 700;
		line-height: $line-height;
		margin-bottom: 0.4em;
	}

	&__input-wrap {

		& + & {
			margin-top: ($line-height / 2);
		}
	}

	&__name {
		position: relative;
		display: inline-block;
		margin-right: 1px;
		width: 33.1%;
		min-width: 110px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 14px;
		line-height: 1;
		font-weight: 400;
		background-color: hsl(220, 20%, 97%);
		color: $text-color--muted;
		text-align: left;
		cursor: pointer;
		transition: background-color 0.15s, color 0.15s;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: $valentino;
			color: $white;
		}

		&--sec {
			width: auto;
			min-width: auto;
		}

		&--checked {
			background-color: $valentino;
			color: $white;
		}

		@media (min-width: $screen-md) {
			text-align: left;
		}

		&--cart {
			width: auto;
			min-width: auto;
		}

		&--personal {
			width: 50%;
		}

		&--create-racion {

			@media (min-width: $screen-md) {
				padding-top: 17px;
				padding-bottom: 17px;
			}
		}
	}

	&__name-text {
		position: relative;
		padding-left: 45px;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 20px;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			background-color: $white;
			border-radius: 50%;
			border: 2px solid $gray-lightest;

			@media (min-width: $screen-md) {
				left: 20px;
			}
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 24px;
			width: 8px;
			height: 8px;
			// margin-top: -4px;
			background-color: transparent;
			border-radius: 50%;
			transform: translateY(-50%);

			@media (min-width: $screen-md) {
				left: 24px;
			}
		}

		@at-root input:checked ~ &:before {
			border-color: $white;
		}

		@at-root input:checked ~ &:after {
			background-color: $black;
		}

		@media (min-width: $screen-md) {
			padding-left: 45px;
		}

		&--gender {
			padding-left: 50px;
			padding-right: 20px;

			&::before {
				top: 50%;
				left: 21px;
				margin-top: 0;
				transform: translateY(-50%);
			}

			&::after {
				top: 50%;
				left: 25px;
			}
		}

		&--cart {
			padding-left: 35px;
			padding-right: 10px;

			&::before {
				left: 10px;
			}

			&::after {
				left: 14px;
			}

			@media (min-width: $screen-md) {
				padding-left: 47px;
				padding-right: 20px;
			}
		}

		&--personal {
			display: block;
		}
	}

	&__input {
		position: absolute;
		padding: 0;
		margin: 0;
		transform: translateY(-50%);

		&:focus,
		&:active {
			@include field-focus;
		}

		top: 0;
		left: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	&__help-text-wrap {
		padding-left: 1.5em;
	}

	&__help-text {
		@include field-help-text;
	}

	&__gender-icon-1 {
		@include sprite($gender-icon-1);
		position: absolute;
		top: 62%;
		left: 12px;
		transform: translateY(-50%);

		@media (min-width: $screen-md) {
			left: 11px;
		}
	}

	&__gender-icon-2 {
		@include sprite($gender-icon-2);
		position: absolute;
		top: 39%;
		left: 16px;
		transform: translateY(-50%);

		@media (min-width: $screen-md) {
			top: 40%;
			left: 15px;
		}
	}
}
