<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/price-block/price-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="price-block">
	<h3 class="med__h3">Цена</h3>

	<div class="table-mobile-scroll">
		<table class="table">
			<tbody>
				<tr>
					<th class="table__th  table__th--big" colspan="2">
						<span class="table__header-text">Программы питания</span>
						<span class="table__sub-text">Бонус</span>
					</th>
					<th class="table__th">
						<span class="table__header-text">1 день</span>
						<span class="table__sub-text"></span>
					</th>
					<th class="table__th">
						<span class="table__header-text">3 дня</span>
						<span class="table__sub-text"></span>
					</th>
					<th class="table__th">
						<span class="table__header-text">7 дней</span>
						<span class="table__sub-text">+1 день в подарок</span>
					</th>
					<th class="table__th">
						<span class="table__header-text">14 дней</span>
						<span class="table__sub-text">+2 дня в подарок</span>
					</th>
					<th class="table__th">
						<span class="table__header-text">21 день</span>
						<span class="table__sub-text">+3 дня в подарок</span>
					</th>
				</tr>
				<tr>
					<td>
						<span class="table__med-name">Balance</span>
						<span class="table__med-name">Balance Лайт</span>
					</td>
					<td>
						<span class="table__med-value">5 приемов пищи (1300 ккал)</span>
						<span class="table__med-value">3 приема пищи (1300 ккал)</span>
					</td>
					<td>1300 руб.</td>
					<td>1300 руб.</td>
					<td>9100 руб.</td>
					<td>18200 руб.</td>
					<td>27300 руб.</td>
				</tr>
				<tr>
					<td>
						<span class="table__med-name">Balance</span>
						<span class="table__med-name">Balance Лайт</span>
					</td>
					<td>
						<span class="table__med-value">5 приемов пищи (1600 ккал)</span>
						<span class="table__med-value">3 приема пищи (1600 ккал)</span>
					</td>
					<td>1600 руб.</td>
					<td>4800 руб.</td>
					<td>11200 руб.</td>
					<td>22400 руб.</td>
					<td>33600 руб.</td>
				</tr>
				<tr>
					<td>
						<span class="table__med-name">Balance</span>
						<span class="table__med-name">Balance Лайт</span>
					</td>
					<td>
						<span class="table__med-value">5 приемов пищи (1900 ккал)</span>
						<span class="table__med-value">3 приема пищи (1900 ккал)</span>
					</td>
					<td>1900 руб.</td>
					<td>5700 руб.</td>
					<td>13300 руб.</td>
					<td>26600 руб.</td>
					<td>39900 руб.</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
