// The dropdown wrapper (`<div>`)
.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  // Generate the caret automatically
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: $caret-width * 0.85;
    vertical-align: $caret-width * 0.85;
    content: '';
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }

  &:empty::after {
    margin-left: 0;
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// Just add .dropup after the standard .dropdown class and you're set.
.dropup {

  .dropdown-menu {
    margin-top: 0;
    margin-bottom: $dropdown-spacer;
  }

  .dropdown-toggle {

    &::after {
      border-top: 0;
      border-bottom: $caret-width solid;
    }
  }
}

// The dropdown menu
.dropdown-menu {
  position: absolute;
  top: -41px !important;
  left: -2px !important;
  z-index: 11;
  display: none; // none by default, but block on "open" of the menu
  // float: left;
  // min-width: $dropdown-min-width;
  // padding: $dropdown-padding-y 0;
  margin: 0; // override default ul
  font-size: $font-size; // Redeclare because nesting can cause inheritance issues
  color: $white;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: transparent;
  // background-clip: padding-box;
  border: 0;
}

// Dividers (basically an `<hr>`) within the dropdown
.dropdown-divider {

}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  height: 44px;
  padding: 15px 25px;
  border: none;
  border-bottom: 1px solid rgba($white, 0.2);
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  font-family: $font-family;
  text-transform: uppercase;
  background-color: $valentino;
  color: $white;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: none;

  > span {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:hover {
    background-color: hsl(279, 41%, 27%);

    > span {

      &::before {
        opacity: 1;
      }
    }
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    // background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    // @if $enable-gradients {
    //   background-image: none;
    // }
  }
}

// Open state for the dropdown
.show {
  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: $dropdown-padding-y $dropdown-item-padding-x;
  margin-bottom: 0; // for use with heading elements
  // font-size: $font-size-sm;
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
}
