// В этом файле должны быть стили для БЭМ-блока sizing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sizing {

  $block-name:                &;
  // #{$block-name}__element {}
}

.w-100 {
	width: 100%;
}
