// В этом файле должны быть стили для БЭМ-блока yandex-map, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.yandex-map {

	$block-name:                &;
	// #{$block-name}__element {}
	width: 100%;
	max-width: 1200px;
	height: 300px;
	margin-bottom: 30px;

	@media (min-width: $screen-md) {
		margin-bottom: 50px;
		padding-left: 15px;
		padding-right: 15px;
	}

	@media (min-width: $screen-xl) {
		margin-left: auto;
		margin-right: auto;
	}
}
