// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &;
  // #{$block-name}__element

  display: flex;
	flex-direction: column;
	width: 130px;
	font-size: 10px;
	line-height: 1.2;
	color: $text-color;
	text-decoration: none;
	transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

	img {
		margin-bottom: 8px;
	}

	span {
		width: 132px;

		@media (min-width: $screen-md) {
			width: 100px;
		}

		@media (min-width: $screen-lg) {
			width: auto;
		}

		@media (min-width: $screen-xl) {
			text-align: center;
		}
	}

	&:hover {
		opacity: 0.7;
	}

	@media (min-width: $screen-md) {
		width: 100px;
	}

	@media (min-width: $screen-lg) {
		width: 130px;
	}

	@media (min-width: $screen-xl) {
		width: 170px;
	}
}
