// В этом файле должны быть стили для БЭМ-блока news-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-block {

	$block-name:                &;
	// #{$block-name}__element {}
	padding-bottom: 30px;

	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 50px;
	}

	&__item {
		@include row();
		display: flex;
		text-decoration: none;
		color: $text-color;

		&:not(:last-of-type) {
			border-bottom: 1px dotted $gray-lightest;
			margin-bottom: 30px;

			@media (min-width: $screen-md) {
				margin-bottom: 50px;
			}
		}

		&:hover {

			.news-block__item-title {
				color: $green-light;
			}

			.news-block__image {
				transform: scale(1.06);
			}
		}

		@media (min-width: $screen-md) {
			align-items: center;
			padding-bottom: 50px;
		}
	}

	&__image-content {
		@include col(xs, 12, 12);
		@include col(md, 8, 12);
		margin: 0;
	}

	&__image-wrapper {
		margin-bottom: 15px;
		overflow: hidden;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__image {
		transition: transform 2.4s;
		display: block;
		backface-visibility: hidden;
	}

	&__item-content {
		@include col(xs, 12, 12);
		@include col(md, 4, 12);
	}

	&__item-title {
		margin-top: 0;
		font-size: 21px;
		line-height: 1.15;
		font-weight: 300;
		color: $valentino;
		transition: color 0.3s;
	}

	&__item-date {
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		padding-bottom: 20px;
		font-size: 13px;
		font-weight: 700;
		color: $black;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $gray-lightest;
		}
	}

	&__item-descr {
		color: $text-color--sub;

		&:last-of-type {

			@media (min-width: $screen-md) {
				margin-bottom: 0;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__btn-wrapper {
		text-align: center;
	}
}
