<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/news-block/news-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="news-block">
	<h1>Новости</h1>

	<a class="news-block__item" href="/news-item.html">
		<div class="news-block__image-content">
			<div class="news-block__image-wrapper">
				<img class="news-block__image" src="img/news-img-1.jpg" alt="">
			</div>
		</div>

		<div class="news-block__item-content">
			<h4 class="news-block__item-title">Пример подзаголовка новости он может быть длинным</h4>
			<b class="news-block__item-date">12.03.2017 г.</b>
			<p class="news-block__item-descr">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений. Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений.</p>
		</div>
	</a>

	<a class="news-block__item" href="/news-item.html">
		<div class="news-block__image-content">
			<div class="news-block__image-wrapper">
				<img class="news-block__image" src="img/news-img-2.jpg" alt="">
			</div>
		</div>

		<div class="news-block__item-content">
			<h4 class="news-block__item-title">Пример подзаголовка новости он может быть длинным</h4>
			<b class="news-block__item-date">12.03.2017 г.</b>
			<p class="news-block__item-descr">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений. Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений.</p>
		</div>
	</a>

	<a class="news-block__item" href="/news-item.html">
		<div class="news-block__image-content">
			<div class="news-block__image-wrapper">
				<img class="news-block__image" src="img/news-img-3.jpg" alt="">
			</div>
		</div>

		<div class="news-block__item-content">
			<h4 class="news-block__item-title">Пример подзаголовка новости он может быть длинным</h4>
			<b class="news-block__item-date">12.03.2017 г.</b>
			<p class="news-block__item-descr">Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений. Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений.</p>
		</div>
	</a>

	<div class="news-block__btn-wrapper">
		<button class="btn" type="button">Показать еще</button>
	</div>
</section>
