// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

	$block-name:                &;
	// #{$block-name}__element
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		height: 1px;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		background-color: $gray-lightest;
	}

	&--no-delimiter {

		&::before {
			display: none;
		}
	}

	&--delimiter-menu-personal {

		&::before {

			@media (min-width: $screen-lg) {
				left: 0;
				right: 0;
				max-width: none;
			}
		}
	}

	&__top {
		@include container();
		max-width: 1200px;
		padding-top: 20px;
		padding-bottom: 20px;
		// background-color: $white;

		@media (min-width: $screen-md) {
			padding-top: 45px;
			padding-bottom: 60px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@media (min-width: $screen-xl) {
			padding-bottom: 50px;
		}
	}

	&__top-wrapper {
		@include row();
	}

	&__bottom {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: hsl(0, 0%, 96%);

		@media (min-width: $screen-md) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	&__bottom-company {
		@include col(xs, 12, 12);
		@include col(md, 4, 12);
		@include col(lg, 3, 12);
		display: flex;
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 0;
		}
	}

	&__company-link {
		width: 81px;
		margin-right: 20px;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__bottom-company-text {
		font-size: 12px;
		line-height: 16px;
		color: $black;
	}

	&__list {
		@include col(xs, 6, 12);
		@include col(md, 3, 12);
		list-style: none;
		margin: 0;
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}

		&--hide {
			display: none;

			@media (min-width: $screen-md) {
				display: block;
			}
		}
	}

	&__list-item {

		&--mobile-show {

			@media (min-width: $screen-md) {
				display: none;
			}
		}

		&--mobile-hide {
			display: none;

			@media (min-width: $screen-md) {
				display: block;
			}
		}

		&--big {
			min-width: 135px;
		}
	}

	&__list-item-link {
		display: block;
		font-size: 13px;
		font-weight: 700;
		line-height: 32px;
		color: $text-color;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $green-light;
		}

		@media (min-width: $screen-md) {
			line-height: 27px;
		}
	}

	&__top-phone {
		@include col(xs, 12, 12);
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $screen-md) {
			margin-top: -16px;
		}

		@media (min-width: $screen-xl) {
			margin-top: -67px;
		}

		&--no-im {

			@media (min-width: $screen-md) {
				margin-top: 20px;
			}

			@media (min-width: $screen-xl) {
				margin-top: 20px;
			}
		}
	}

	&__bottom-fz {
		@include col(xs, 12, 12);
		@include col(md, 8, 12);
		@include col(lg, 3, 12);
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__callback-num {
		margin-bottom: 5px;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		color: $text-color;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $green-light;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__callback-btn {
		position: relative;
		padding: 0;
		font-size: 11px;
		font-weight: 700;
		font-family: $font-family;
		line-height: 16px;
		color: $green-light;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		&:hover {

			&::before {
				opacity: 1;
			}
		}

		&::before {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green-light;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.69, 0.09, 0.32, 0.83);

			@media (min-width: $screen-md) {
				bottom: 5px;
			}
		}

		@media (min-width: $screen-md) {
			line-height: 30px;
		}
	}

	&__social-link {
		margin-right: 15px;
		display: inline-block;
		background-repeat: no-repeat;
		font-size: 0;
		transition: opacity 0.3s;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			opacity: 0.7;
		}

		&--fb {
			@include sprite($fb-icon);
		}

		&--ok {
			@include sprite($ok-icon);
		}

		&--vk {
			@include sprite($vk-icon);
		}

		&--im {
			@include sprite($ig-icon);
		}
	}

	&__social {
		@include col(xs, 6, 12);
		@include col(md, 6, 12);
		@include col(lg, 3, 12);
		font-size: 0;
	}

	&__dev {
		@include col(xs, 6, 12);
		@include col(md, 6, 12);
		@include col(lg, 3, 12);
		display: flex;
		font-size: 12px;
		line-height: 16px;
		color: $text-color;
		text-decoration: none;
		text-align: right;

		&:hover {

			.page-footer__dev-text {

				span {

					&::before {
						opacity: 1;
					}
				}
			}
		}
	}

	&__dev-logo {
		@include sprite($dev-logo);
		flex-shrink: 0;
	}

	&__dev-text {
		width: 93px;
		margin-left: auto;
		margin-right: 7px;

		span {
			position: relative;
			color: $valentino;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $valentino;
				opacity: 0;
				transition: opacity 0.3s;
			}
		}
	}
}
