<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-footer/page-footer.html')

-->
<footer class="page-footer" role="contentinfo">
	<div class="page-footer__top">
		<div class="page-footer__top-wrapper">
			<ul class="page-footer__list">
				<li class="page-footer__list-item">
					<a href="/menu-categories.html" class="page-footer__list-item-link">Заказать по меню</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/ready-programs.html" class="page-footer__list-item-link">Готовые программы</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/individual-racion.html" class="page-footer__list-item-link">Персональный рацион</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/calculator.html" class="page-footer__list-item-link">Калькулятор калорий</a>
				</li>
				<li class="page-footer__list-item">
					<a href="#" class="page-footer__list-item-link">Собрать свой рацион</a>
				</li>

				<li class="page-footer__list-item  page-footer__list-item--mobile-show">
					<a href="/about.html" class="page-footer__list-item-link">О нас</a>
				</li>
				<li class="page-footer__list-item  page-footer__list-item--mobile-show">
					<a href="#" class="page-footer__list-item-link">Контакты</a>
				</li>
			</ul>

			<ul class="page-footer__list">
				<li class="page-footer__list-item  page-footer__list-item--mobile-hide">
					<a href="/about.html" class="page-footer__list-item-link">О нас</a>
				</li>
				<li class="page-footer__list-item  page-footer__list-item--mobile-hide">
					<a href="#" class="page-footer__list-item-link">Контакты</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/delivery.html" class="page-footer__list-item-link">Оплата и доставка</a>
				</li>
				<li class="page-footer__list-item">
					<a href="#" class="page-footer__list-item-link">Новости</a>
				</li>

				<li class="page-footer__list-item  page-footer__list-item--mobile-show">
					<a href="#" class="page-footer__list-item-link">Акции</a>
				</li>
				<li class="page-footer__list-item  page-footer__list-item--mobile-show">
					<a href="/comments.html" class="page-footer__list-item-link">Отзывы</a>
				</li>
				<li class="page-footer__list-item  page-footer__list-item--mobile-show  page-footer__list-item--big">
					<a href="/documents.html" class="page-footer__list-item-link">Лицензии и документы</a>
				</li>
				<li class="page-footer__list-item  page-footer__list-item--mobile-show">
					<a href="/expert.html" class="page-footer__list-item-link">MEDline Expert</a>
				</li>
			</ul>

			<ul class="page-footer__list  page-footer__list--hide">
				<li class="page-footer__list-item">
					<a href="#" class="page-footer__list-item-link">Акции</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/comments.html" class="page-footer__list-item-link">Отзывы</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/documents.html" class="page-footer__list-item-link">Лицензии и документы</a>
				</li>
				<li class="page-footer__list-item">
					<a href="/expert.html" class="page-footer__list-item-link">MEDline Expert</a>
				</li>
			</ul>

			@@include('../instagram/instagram.html')

			<div class="page-footer__top-phone">
				<a href="tel:88000000000" class="page-footer__callback-num">8-800-000-00-00</a>
				<button class="page-footer__callback-btn" type="button" data-fadeIn=".modal--callback">Заказать звонок</button>
			</div>
		</div>
	</div>
	<div class="page-footer__bottom">
		<div class="container">
			<div class="row">
				<div class="page-footer__bottom-company">
					<a href="/" class="page-footer__company-link">
						<img src="img/logo.png" alt="">
					</a>

					<span class="page-footer__bottom-company-text">© Medline, все права<br>защищены 2017 г.</span>
				</div>

				<div class="page-footer__bottom-fz">
					<a href="#">ФЗ "О персональных данных"</a>
				</div>

				<div class="page-footer__social">
					<a href="#" class="page-footer__social-link  page-footer__social-link--fb">Facebook</a>
					<a href="#" class="page-footer__social-link  page-footer__social-link--vk">Вконтакте</a>
					<a href="#" class="page-footer__social-link  page-footer__social-link--im">Instagram</a>
				</div>

				<a href="#" class="page-footer__dev">
					<span class="page-footer__dev-text">Создание сайта — <span>Very Good</span></span>
					<span class="page-footer__dev-logo"></span>
				</a>
			</div>
		</div>
	</div>
</footer>


<!-- <link rel="stylesheet" type="text/css" href="expert-page-styles.css">  -->
<!-- <link rel="stylesheet" type="text/css" href="perfetto.min.css">
<script src="perfetto.min.js"></script> -->