// В этом файле должны быть стили для БЭМ-блока health-rules, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.health-rules {

  $block-name:                &;
  // #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	&__list {
		@include row();
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		min-height: 24px;
		margin-bottom: 25px;

		&:last-of-type {

			@media (min-width: $screen-md) {
				margin-bottom: 20px;
			}
		}

		&:nth-last-of-type(2) {

			@media (min-width: $screen-md) {
				margin-bottom: 20px;
			}
		}

		@media (min-width: $screen-md) {
			min-height: 70px;
			margin-bottom: 40px;
		}
	}
}
