<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/health-rules/health-rules.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="health-rules  clear-typo">
	<header class="health-rules__header">
		<h3 class="med__h3">Простые правила здорового питания</h3>
		<p class="med__title-text  med__title-text--health-rules">Мы научим жить так, чтобы каждый день менял вас к лучшему. Наша еда – это не просто рационы, а полезная пищевая привычка:</p>
	</header>

	<div class="health-rules__list">
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="1">Если вы решили скорректировать свой вес, помните, что для его снижения расход калорий должен быть больше, чем их потребление. Узнать свою норму калорий вы можете на нашем <a href="">сайте</a>.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="2">Постарайтесь совместить правильное питание со спортивными тренировками: тогда изменение образа жизни будет комплексным и более ощутимым.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="3">Рекомендованное диетологами количество приемов пищи — пять: завтрак, второй завтрак, обед, полдник и ужин. Не пропускайте приемы пищи, иначе ваш организм решит, что вы вынужденно голодаете и начнет запасать жир в клетках, а не расходовать его.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="4">Начинайте свой день с «длинных углеводов»: каши — самый полезный вариант.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="5">Белковую пищу (рыбу, мясо, птицу) старайтесь сочетать с овощами. Кстати, овощи можно употреблять без ограничений и в течение всего дня.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="6">Соль и сахар максимально замените на специи и пряности. Они раскроют и подчеркнут вкус блюда.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules" data-num="7">Позволяйте себе раз в неделю увеличивать калорийность дня: кушайте без строгих ограничений, чтобы организм не испытывал лишний стресс.</p>
		</div>
		<div class="health-rules__item">
			<p class="med__p  med__p--health-rules  med__p--hash" data-num="#">меняйсярационально</p>
		</div>
	</div>
</section>
