// В этом файле должны быть стили для БЭМ-блока order-by-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order-by-menu {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-top: 100px;
		padding-bottom: 70px;
	}

	&__wrapper {
		@include row();
	}

	&__content {
		@include col(xs, 12, 12);
		@include col(md, 3, 12);
		padding-bottom: 25px;
	}

	&__slider {
		@include col(xs, 12, 12);
		@include col(md, 9, 12);

		@media (min-width: $screen-md) {
			position: relative;
		}
	}

	&__carousel {
		margin-bottom: 30px;

		.slick-active {

			.order-by-menu__carousel-image-wrapper {
				transform: translateX(0);
				opacity: 1;

				img {
					transform: translateX(0) scale(1);
					transition: transform 2.4s;

					&:hover {
						transform: scale(1.06);
					}
				}
			}
		}

		.slick-arrow {
			position: absolute;
			z-index: 1;
			bottom: -20px;
			right: 0;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $valentino;
			border: none;
			font-size: 0;
			transition: transform 0.6s, opacity 0.3s;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}

			&:hover {
				transform: scale(1.2);
			}

			@media (min-width: $screen-md) {
				bottom: 30px;
			}
		}

		.slick-prev {
			left: 15px;

			&::before {
				margin-left: -4px;
				transform: rotate(135deg);
			}

			@media (min-width: $screen-md) {
				left: -21px;
			}
		}

		.slick-next {
			left: 65px;

			&::before {
				margin-left: -8px;
				transform: rotate(-45deg);
			}

			@media (min-width: $screen-md) {
				left: 30px;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__carousel-image-wrapper {
		overflow: hidden;
		transform: translateX(400px);
		opacity: 0;
		transition: transform 2s, opacity 2s;

		img {
			transform: translateX(-200px) scale(1.2);
			transition: transform 2s 0.2s;
		}
	}

	&__slide-descr {
		color: $text-color--sub;

		@media (min-width: $screen-md) {
			position: absolute;
			bottom: 15px;
			left: -180px;
			width: 150px;
			text-align: right;
		}

		@media (min-width: $screen-lg) {
			left: -190px;
		}
	}

	&__food-name {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 21px;
		line-height: 1;
		transform: translateX(-100px);
		opacity: 0;
		transition: transform 0s 0.5s, opacity 0.5s;

		@media (min-width: $screen-md) {
			margin-bottom: 5px;
		}

		&--active {
			transform: translateX(0);
			opacity: 1;
			transition: transform 2s, opacity 2s;
		}
	}

	&__counter {
		font-size: 14px;
		line-height: 1;
		color: $text-color--sub-muted;

		@media (min-width: $screen-md) {
			text-align: right;
		}
	}

	&__current-num {
		font-size: 21px;
		color: $text-color--sub;
	}
}
