<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/order-by-menu/order-by-menu.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="order-by-menu">
	<div class="order-by-menu__wrapper">
		<div class="order-by-menu__content">
			<h3 class="med__h3  med__h3--order-by-menu">Заказать по меню</h3>
			<p class="med__p  med__p--order-by-menu">Небольшой текст о том, что у нас большое меню и можно выбирать блюда самостоятельно</p>
			<a href="btn" class="btn">Перейти в меню</a>
		</div>

		<div class="order-by-menu__slider">
			<div class="order-by-menu__carousel">
				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="мясные блюда">
						<img src="img/order-by-menu-img-1.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="рыбные блюда">
						<img src="img/order-by-menu-img-2.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="овощные блюда">
						<img src="img/order-by-menu-img-3.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="десерты">
						<img src="img/order-by-menu-img-1.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="мясные блюда">
						<img src="img/order-by-menu-img-2.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="мясные блюда">
						<img src="img/order-by-menu-img-3.jpg" alt="">
					</div>
				</div>

				<div class="order-by-menu__carousel-item">
					<div class="order-by-menu__carousel-image-wrapper" data-food-name="мясные блюда">
						<img src="img/order-by-menu-img-1.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="order-by-menu__slide-descr">
				<span class="order-by-menu__food-name"></span>
				<div class="order-by-menu__counter">
					<span class="order-by-menu__current-num"></span> / <span class="order-by-menu__total-num"></span>
				</div>
			</div>
		</div>
	</div>
</section>
