<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-header/page-header.html')

-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="dish">
	<div class="dish__wrapp">
		<div class="dish__title">
		Добавление блюда
		<a href="#" class="closes dish__close-js" ></a>
		</div>
		<div class="dish__finder"> 
			<!-- DEV search start -->
			<form class="page-header__search-form" action="#" method="get">
				<div class="page-header__form-wrapper">
					<label class="field-text  field-text--header-search">
						<input class="field-text__input  field-text__input--header-search" type="search" placeholder="Введите название блюда или ингридиента"> 
					</label>
					<button class="field-text__search-btn" type="submit">Найти</button>
				</div>
			</form>
			<!-- DEV search --> 
		</div>
		<div class="dish__box clearfix">
			<div class="dish__nav">
				<a href="#" class="dish__mobile dish__mobile-js"> 
					Блюда к завтраку
				</a>
				<ul class="dish__navlist dish__navlist-js">
					<li class="dish__navitem dish__navitem--active"><a href="#">Блюда к завтраку</a></li>
					<li class="dish__navitem"><a href="#">Салаты</a></li>
					<li class="dish__navitem"><a href="#">Супы</a></li>
					<li class="dish__navitem"><a href="#">Горячие блюда из мяса</a></li>
					<li class="dish__navitem"><a href="#">Горячие блюда из рыбы</a></li>
					<li class="dish__navitem"><a href="#">Горячие блюда из птицы</a></li>
					<li class="dish__navitem"><a href="#">Гарниры</a></li>
					<li class="dish__navitem"><a href="#">Десерты</a></li>
					<li class="dish__navitem"><a href="#">Выпечка</a></li>
					<li class="dish__navitem"><a href="#">Соусы</a></li>
					<li class="dish__navitem"><a href="#">Сендвичи</a></li>
					<li class="dish__navitem"><a href="#">Напитки, фреши, смузи</a></li>
				</ul>
			</div>
			<div class="dish__menu">
				<div class="dish__menulist">
					<div class="food food-js clearfix">
						<div class="food__head">
							<div class="food__name">Тирамису</div>
							<div class="food__properties">
								<span class="food__mass">140 г</span>
								<span class="food__calories">360 ККал</span>
								<span class="food__rsk"><i>РСК</i>  18%</span>
							</div>
						</div> 
						<div class="food__btn">
							<button class="btn  btn--select-food" type="button">выбрать</button>
						</div> 
						<div class="food__price">
							820 руб.
						</div>
					</div>
					<div class="food food-js clearfix">
						<div class="food__head">
							<div class="food__name">Мандариновая панна-котта</div>
							<div class="food__properties">
								<span class="food__mass">140 г</span>
								<span class="food__calories">360 ККал</span>
								<span class="food__rsk"><i>РСК</i>  18%</span>
							</div>
						</div> 
						<div class="food__btn">
							<button class="btn  btn--select-food" type="button">выбрать</button>
						</div> 
						<div class="food__price">
							820 руб.
						</div>
					</div>
					<div class="food food-js clearfix">
						<div class="food__head">
							<div class="food__name">Пример названия десерта оно может быть длинным</div>
							<div class="food__properties">
								<span class="food__mass">140 г</span>
								<span class="food__calories">360 ККал</span>
								<span class="food__rsk"><i>РСК</i>  18%</span>
							</div>
						</div> 
						<div class="food__btn">
							<button class="btn  btn--select-food" type="button">выбрать</button>
						</div> 
						<div class="food__price">
							820 руб.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dish__footer clearfix">
		<div class="dish__classification clearfix"> 
				<div id="piechart" class="dish__infographics"></div>
				<div class="dish__legend">
					<div class="legend">
						<h5 class="legend__title">КЛАССИФИКАЦИЯ КАЛОРИЙ</h5>
						<ul class="legend__list">
							<li class="legend__item legend__item--carbohydrates">Углеводы <span>38%</span></li>
							<li class="legend__item legend__item--fats">Жиры <span>52%</span></li>
							<li class="legend__item legend__item--proteins">Белки <span>10%</span></li>
						</ul>
					</div>
				</div>
		</div>
		<div class="dish__summary clearfix"> 
				<div id="piechartSummary" class="dish__infographics"></div>
				<div class="dish__summarydescr">
					<div class="dish__rest">
						<div class="dish__rest-val">
							вы можете выбрать блюда на
						</div>
						<div class="dish__rest-numbr">
							1446 <span>KKAL</span>
						</div>
						
					</div>
					<div class="dish__procent">
						20%
						<span>ОТ РСК</span>
					</div>
				</div>
		</div>
		<div class="dish__price">
			<h4>СТОИМОСТЬ ДНЯ</h4>
			<span>
				300 
			</span>
			<small>РУБ.</small>
		</div>


		<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(setChartClassification);
  google.charts.setOnLoadCallback(setChartSummary);

  function setChartClassification() { 
    var data = google.visualization.arrayToDataTable([
      ['Calories', 'Percentage'],
      ['Углеводы', 38],
      ['Жиры',     52],
      ['Белки',  10], 
    ]);

    var options = {
    	legend: 'none',
    	pieSliceText: 'none',
    	tooltip: { trigger: 'none' }, 
      slices: {
        0: { color: '#9dc41a' },
        1: { color: '#3b1151' },
        2: { color: '#fdc256' }
      }, 
      chartArea:{ left:0,top:0,width:'100%',height:'100%'},
      enableInteractivity: false, 

    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }							  

 	function setChartSummary() { 
    var data = google.visualization.arrayToDataTable([
      ['Calories', 'Percentage'],
      ['Каллории', 20], 
      ['Свободно', 80], 
    ]);

    var options = {
    	legend: 'none',
    	pieSliceText: 'none',
    	tooltip: { trigger: 'none' }, 
      slices: {
        0: { color: '#3b1151' }, 
        1: { color: '#9dc41a' }, 
      }, 
      chartArea:{ 
      		left:0,
      		top:0,
      		width:'100%',
      		height:'100%',
      		backgroundColor: {
      			stroke: '#ccc'
      		}
    	},
      enableInteractivity: false, 

    };

    var chart = new google.visualization.PieChart(document.getElementById('piechartSummary'));

    chart.draw(data, options);
  }

		</script>
	</div>
</div>
