// В этом файле должны быть стили для БЭМ-блока calculator-result-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calculator-result-block {

	$block-name:                &;
	// #{$block-name}__element {}
	background-color: $gray-white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s;

	&.active {
		max-height: 1000px;
		transition: max-height 1.2s;
	}

	&__content {
		padding-top: 1px;
		padding-bottom: 30px;
		text-align: center;

		@media (min-width: $screen-md) {
			padding-top: 50px;
			padding-bottom: 100px;
		}
	}

	&__value {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		color: $valentino;

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}

	&__value-num {
		font-size: 100px;
		font-weight: 300;
		line-height: 1;

		@media (min-width: $screen-md) {
			font-size: 122px;
		}
	}

	&__value-measure {
		font-size: 60px;
		line-height: 1;
	}

	&__btn-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn {

			&:first-child {
				margin-bottom: 20px;

				@media (min-width: $screen-md) {
					margin-bottom: 0;
					margin-right: 20px;
				}
			}
		}

		@media (min-width: $screen-md) {
			flex-direction: row;
			justify-content: center;
		}
	}
}
