<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/calculator-result-block/calculator-result-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="calculator-result-block">
	<div class="container">
		<div class="calculator-result-block__content">
			<span class="med__h1  med__h1--calculator-result-block">Результат</span>
			<span class="med__title-text  med__title-text--calculator-result-block">Рекомендуемое количество калорий в день, чтобы достигнуть поставленной цели!</span>
			<div class="calculator-result-block__value">
				<span class="calculator-result-block__value-num">2200</span>
				<span class="calculator-result-block__value-measure">kkal</span>
			</div>
			<div class="calculator-result-block__btn-wrapper">
				<a href="" class="btn">Программа питания 1900 kkal</a>
				<a href="/menu-personal.html" class="btn">Создать персональный рацион</a>
			</div>
		</div>
	</div>
</section>
