<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/personal-racion/personal-racion.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="personal-racion">
	<div class="personal-racion__left">
		<img class="personal-racion__left-img" src="img/personal-racion-img-1.jpg" alt="">
	</div>
	<div class="personal-racion__right">
		<h3 class="med__h3">Персональный рацион</h3>
		<strong class="med__strong">Персональная линия питания – скрупулёзная и совместная работа врача-диетолога и шеф-повара.</strong>
		<p class="med__p">Запишитесь на консультацию к врачу-диетологу, и он разработает для вас индивидуальное меню, которое  будет учитывать не только особенности метаболизма и физическую активность, но и личную непереносимость продуктов, гормональный статус и прочее.</p>
		<a href="#" class="btn">Подробнее</a>
	</div>
</section>
