// В этом файле должны быть стили для БЭМ-блока personal-racion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.personal-racion {

	$block-name:                &;
	// #{$block-name}__element {}

	@media (min-width: $screen-md) {
		display: flex;
		align-items: flex-end;
	}

	&__left {

		@media (min-width: $screen-md) {
			flex-shrink: 0;
			width: 50%;
			max-width: 960px;
			overflow: hidden;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
		background-color: $gray-white;

		p:last-of-type,
		.med__p:last-of-type {
			margin-bottom: 25px;
		}

		@media (min-width: $screen-md) {
			width: 50%;
			height: 522px;
			margin-right: 15px;
			padding-left: 60px;
			padding-right: 55px;
			padding-bottom: 40px;
		}

		@media (min-width: $screen-lg) {
			margin-right: 45px;
			padding-top: 40px;
			padding-right: 39px;
		}

		@media (min-width: $screen-xl) {
			width: 585px;
			padding-top: 70px;
			padding-right: 65px;
			margin-right: auto;
		}
	}

	&__left-img {
		display: block;


		@media (min-width: $screen-md) {
			width: 960px;
			height: 550px;
			object-fit: none;
			object-position: 100% 50%;
		}
	}
}
