 <!--DEV Такой комментарий не попадет в собранный HTML
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.3.1.1.min.js"><\/script>')</script>
-->


<div class="modal  modal--callback">
	<div class="modal__bg" data-fadeOut=".modal--callback"></div>

	<div class="modal__block">
		<button class="modal__close" data-fadeOut=".modal--callback">
			<span class="modal__close-text">Закрыть</span>
		</button>

		<div class="modal__head  modal__head--text-center">
			<span class="modal__title med__h3">Заказать звонок</span>
		</div>

		<div class="modal__body  modal__body--text-center">
			<form autocomplete="off" action="#" method="POST">

				<div class="modal__field-group">
					<div class="modal__field-item  modal__field-item--big">
						<label class="field-text">
							<input class="field-text__input" type="text" required>
							<span class="field-text__name">Ваше имя</span>
						</label>
					</div>

					<div class="modal__field-item  modal__field-item--big">
						<label class="field-text">
							<input class="field-text__input" type="text" required>
							<span class="field-text__name">Телефон</span>
						</label>
					</div>
				</div>

				<div class="field-checkbox__input-wrap  field-checkbox__input-wrap--callback">
					<label class="field-checkbox__name  field-checkbox__name--callback">
						<input class="field-checkbox__input" type="checkbox">
						<span class="field-checkbox__name-text">Я согласен на обработку персональных данных</span>
					</label>
				</div>

				<button class="btn" type="submit" value="Заказать">Заказать</button>
			</form>
		</div>
	</div>
</div>

<div class="modal  modal--success">
	<div class="modal__bg" data-fadeOut=".modal--success" ></div>

	<div class="modal__block">
		<button class="modal__close" data-fadeOut=".modal--success">
			<span class="modal__close-text">Закрыть</span>
		</button>

		<div class="modal__head  modal__head--text-center">
			<span class="modal__title med__h3">Вы записаны</span>
		</div>

		<div class="modal__body  modal__body--text-center">
			<button class="btn" type="button" data-fadeOut=".modal--success">Хорошо</button>
		</div>
	</div>
</div>

<div class="modal  modal--enter-user">
	<div class="modal__bg" data-fadeOut=".modal--enter-user"></div>

	<div class="modal__block  modal__block--enter">
		<button class="modal__close" data-fadeOut=".modal--enter-user">
			<span class="modal__close-text">Закрыть</span>
		</button>

		<div class="modal__head">
			<span class="modal__title  med__h3  med__h3--enter">Вход в личный кабинет</span>
		</div>

		<div class="modal__body">
			<form autocomplete="off" action="#" method="POST">

				<div class="modal__field-item  modal__field-item--big  modal__field-item--enter">
					<label class="field-text">
						<input class="field-text__input" type="text">
						<span class="field-text__name">Логин</span>
					</label>
				</div>

				<div class="modal__field-item  modal__field-item--big  modal__field-item--enter">
					<label class="field-text">
						<input class="field-text__input" type="password">
						<span class="field-text__name">Пароль</span>
					</label>
				</div>

				<div class="modal__flex-group">
					<ul class="modal__enter-list">
						<li class="modal__enter-list-item">
							<a class="modal__enter-list-link" href="">Забыли пароль?</a>
						</li>
						<li class="modal__enter-list-item">
							<a class="modal__enter-list-link" data-fadeOut=".modal--enter-user" data-fadeIn=".modal--registration-user">Регистрация</a>
						</li>
					</ul>

					<button class="btn  btn--contacts-block" type="submit">Войти</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal  modal--registration-user">
	<div class="modal__bg" data-fadeOut=".modal--registration-user"></div>

	<div class="modal__block  modal__block--registration-user">
		<button class="modal__close" data-fadeOut=".modal--registration-user">
			<span class="modal__close-text">Закрыть</span>
		</button>

		<div class="modal__head">
			<span class="modal__title  med__h3  med__h3--enter">Регистрация</span>
		</div>

		<div class="modal__body">
			<form autocomplete="off" action="#" method="POST">

				<div class="modal__field-item  modal__field-item--big  modal__field-item--enter">
					<label class="field-text  field-text--registration">
						<span class="field-text__label">ФИО</span>
						<input class="field-text__input  field-text__input--registration" type="text">
					</label>
				</div>

				<div class="modal__field-item  modal__field-item--big  modal__field-item--enter">
					<label class="field-text  field-text--registration">
						<span class="field-text__label">E-mail</span>
						<input class="field-text__input field-text__input--registration" type="email">
					</label>
				</div>

				<div class="modal__field-item  modal__field-item--big  modal__field-item--enter">
					<label class="field-text  field-text--registration">
						<span class="field-text__label">Телефон</span>
						<input class="field-text__input field-text__input--registration" type="tel">
					</label>
				</div>

				<div class="modal__field-item  modal__field-item--big  modal__field-item--btn-registration">
					<button class="btn" type="submit">Зарегистрироваться</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="js/script.min.js"></script>
<script src="js/custom-script.js"></script>
