// В этом файле должны быть стили для БЭМ-блока health-center, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.health-center {

	$block-name:                &;
	// #{$block-name}__element {}
	background-color: $gray-white;

	@media (min-width: $screen-xl) {
		position: relative;
		padding-left: 150px;
	}

	&__wrapper {
		position: relative;
		z-index: 2;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 25px;
		padding-bottom: 60px;
		background-image: url('../img/health-center-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		@media (min-width: $screen-md) {
			padding-top: 55px;
			padding-bottom: 110px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 45px;
			padding-bottom: 95px;
		}

		@media (min-width: $screen-xl) {
			width: 1035px;
			height: 380px;
			margin-left: auto;
			background-size: 90%;
			background-position: 250% 0;
			background-attachment: fixed;
		}
	}

	&__content {

		@media (min-width: $screen-xl) {
			position: absolute;
			top: 45px;
			left: -135px;
		}
	}
}
