<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/health-center/health-center.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->
<section class="health-center">
	<div class="health-center__wrapper">
		<div class="health-center__content">
			<h3 class="med__h3  med__h3--health-center">Центр рационального здоровья MEDline</h3>
			<p class="med__p  med__p--health-center">Кратчайший путь к идеальной фигуре и сияющей коже – тандем правильного питания и специально подобранных процедур. Персональные линии питания и лучшие аппаратные методики гарантируют самый быстрый и ощутимый результат. </p>
			<a href="" class="btn">Посетить сайт центра</a>
		</div>
	</div>
</section>
