<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/cart-contacts-block/cart-contacts-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="cart-contacts-block">
  <div class="container">
    <h3>Личные данные</h3>

    <span class="cart-contacts-block__title-text  clear-typo">Если вы уже совершали покупки <a href="">войдите на сайт</a></span>

    <div class="row">
      <div class="cart-personal-block__item">
        <label class="field-text">
          <input class="field-text__input" type="text">

          <span class="field-text__name">ФИО</span>
        </label>
      </div>

      <div class="cart-personal-block__item">
        <label class="field-text">
            <input class="field-text__input" type="tel">

            <span class="field-text__name">Телефон</span>
        </label>
      </div>

      <div class="cart-personal-block__item">
        <label class="field-text">
          <input class="field-text__input" type="email">

          <span class="field-text__name">Email</span>
        </label>
      </div>
    </div>
  </div>
</section>
