// В этом файле должны быть стили для БЭМ-блока cart-contacts-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-contacts-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;
	position: relative;
	padding-bottom: 30px;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		max-width: 1170px;
		height: 1px;
		background-color: $gray-lightest;

		@media (min-width: $screen-xl) {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	&__title-text {
		display: inline-block;
		margin-bottom: 25px;
		font-size: 18px;
		color: $text-color--sub;

		@media (min-width: $screen-md) {
			margin-bottom: 45px;
		}
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 4, 12);

		&:not(:last-child) {
			margin-bottom: 20px;

			@media (min-width: $screen-md) {
				margin-bottom: 30px;
			}
		}

		&:last-child {

			@media (min-width: $screen-md) {
				margin-bottom: 30px;
			}
		}
	}

	&__item-half {
		@include col(xs, 6, 12);
	}

	&__radio-group {
		font-size: 0;

		@media (min-width: $screen-md) {
			margin-top: 37px;
			margin-left: 30px;
		}

		@media (min-width: $screen-lg) {
			margin-top: 40px;
		}

		@media (min-width: $screen-xl) {
			margin-top: 44px;
		}
	}

	&__wrapper {

		@media (min-width: $screen-md) {
			display: flex;
		}
	}

	&__items-wrapper {

		@media (min-width: $screen-md) {
			display: flex;
			flex-grow: 1;
			margin-left: 30px;
			padding-top: 40px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 45px;
		}

		@media (min-width: $screen-xl) {
			padding-top: 48px;
		}
	}

	&__promo-item {

		&:not(:last-child) {
			margin-bottom: 20px;

			@media (min-width: $screen-md) {
				margin-bottom: 0;
			}
		}

		&--field {

			@media (min-width: $screen-md) {
				width: 220px;
				margin-right: 30px;
			}
		}
	}

	&--payment {

		@media (min-width: $screen-md) {
			padding-bottom: 5px;
		}
	}

	&--promo {

		@media (min-width: $screen-xl) {
			padding-bottom: 10px;
		}
	}

	&__btn-wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;

		@media (min-width: $screen-md) {
			padding-bottom: 50px;
		}
	}
}
