// В этом файле должны быть стили для БЭМ-блока comments-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.comments-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	&__header {
		display: flex;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 15px;

		@media (min-width: $screen-md) {
			margin-top: 35px;
			margin-bottom: 30px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 35px;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 20px;

		@media (min-width: $screen-md) {
			margin-right: auto;
		}
	}

	&__item {
		@include row();
		margin-bottom: 30px;

		@media (min-width: $screen-lg) {
			margin-bottom: 50px;
		}
	}

	&__author {
		@include col(xs, 12, 12);
		@include col(lg, 4, 12);
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@media (min-width: $screen-lg) {
			align-items: flex-start;
			margin-bottom: 0;
		}
	}

	&__author-descr {
		display: flex;
		flex-direction: column;

		@media (min-width: $screen-lg) {
			margin-top: 25px;
		}
	}

	&__author-name {
		font-size: 21px;
		font-weight: 300;
		line-height: 1.15;
		color: $valentino;
	}

	&__author-img-wrapper {
		margin-right: 20px;
	}

	&__author-img {
		display: block;
		border-radius: 50%;
	}

	&__item-content {
		@include col(xs, 12, 12);
		@include col(lg, 8, 12);

		&:hover {

			.comments-block__item-text {

				&::before {

					@media (min-width: $screen-lg) {
						border-top-color: $green-light;
					}
				}

				@media (min-width: $screen-lg) {
					border-color: $green-light;
				}
			}
		}
	}

	&__item-text {
		position: relative;
		padding: 15px 20px;
		border: 6px solid hsl(228, 17%, 94%);

		p {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		&::before {
			top: -20px;
			left: 45px;
			border: 20px solid transparent;
			border-bottom-width: 0;
			border-right-width: 0;
			border-left-color: hsl(228, 17%, 94%);

			@media (min-width: $screen-lg) {
				top: 40px;
				left: -20px;
				border-top-color: hsl(228, 17%, 94%);
				border-left-color: transparent;
				transition: border-top-color 0.3s;
			}
		}

		&::after {
			z-index: 1;
			top: -6px;
			left: 51px;
			border: 6px solid transparent;
			border-bottom-width: 0;
			border-right-width: 0;
			border-left-color: $white;

			@media (min-width: $screen-lg) {
				top: 45px;
				left: -6px;
				border-top-color: $white;
				border-left-color: transparent;
			}
		}

		@media (min-width: $screen-md) {
			padding: 20px 30px;
		}

		@media (min-width: $screen-lg) {
			transition: border-color 0.3s;
		}
	}

	&__like {
		display: flex;
		margin-top: 15px;

		@media (min-width: $screen-md) {
			margin-top: 20px;
		}
	}

	&__like-text {
		margin-right: 20px;
		color: $text-color--sub-muted;
	}

	&__like-btn {
		margin-right: 10px;
		padding-left: 23px;
		padding-right: 0;
		border: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			opacity: 0.5;
			transition: opacity 0.3s;
		}

		&:hover {

			&::before {
				opacity: 1;
			}
		}

		&--liked {
			position: relative;
			color: $green;

			&::before {
				@include sprite($like-icon-1);
				top: -23%;
			}
		}

		&--dislike {
			position: relative;
			color: $red;

			&::before {
				@include sprite($like-icon-2);
				top: 9%;
			}
		}
	}

	&__btn-wrapper {
		margin-bottom: 30px;
		text-align: center;

		@media (min-width: $screen-md) {
			margin-bottom: 50px;
			padding-top: 20px;
		}

		@media (min-width: $screen-lg) {
			padding-top: 0;
		}
	}
}
