<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/comments-block/comments-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="comments-block">
	<header class="comments-block__header">
		<h1 class="comments-block__title">Отзывы</h1>
		<button class="btn  btn--comments-block" type="button" data-fadeIn=".modal--comments">Написать отзыв</button>
	</header>

	<div class="comments-block__list">
		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-1.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Ирина Иванова</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства. Закон внешнего мира, следовательно, создает интеллект.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">18</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">2</button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-2.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Петр Петров</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">12</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">4</button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-3.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Сидорова Анна</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства. Закон внешнего мира, следовательно, создает интеллект.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">4</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">0</button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-1.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Ирина Иванова</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства. Закон внешнего мира, следовательно, создает интеллект.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">18</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">2</button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-2.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Петр Петров</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">12</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">4</button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="comments-block__item">
			<div class="comments-block__author">
				<div class="comments-block__author-img-wrapper">
					<img class="comments-block__author-img" src="img/reviews-img-3.jpg" alt="">
				</div>

				<div class="comments-block__author-descr">
					<span class="comments-block__author-name">Сидорова Анна</span>
					<span class="comments-block__author-post">директор "Финанс Групп"</span>
				</div>
			</div>

			<div class="comments-block__item-content">
				<div class="comments-block__item-text">
					<p>Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства. Закон внешнего мира, следовательно, создает интеллект.</p>

					<div class="comments-block__like">
						<span class="comments-block__like-text">Полезно?</span>

						<div class="comments-block__like-controlls">
							<button class="comments-block__like-btn  comments-block__like-btn--liked" type="button">4</button>
							<button class="comments-block__like-btn  comments-block__like-btn--dislike" type="button">0</button>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>

	<div class="comments-block__btn-wrapper">
		<button class="btn  btn--comments-block" type="button">Показать еще</button>
	</div>
</section>
