// В этом файле должны быть стили для БЭМ-блока spacing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.spacing {

  $block-name:                &;
  // #{$block-name}__element {}
}

.mt-30 {
	margin-top: 30px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}
