<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/intake/intake.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="intake">
	<h4 class="intake__title">Завтрак</h4>

	<div class="intake__list">
		<div class="intake__item">
			<div class="intake__item-wrapper">
				<div class="intake__image-wrapper">
					<img class="intake__image" src="img/intake-img-1.jpg" alt="">
				</div>

				<div class="intake__item-descr">
					<span class="intake__item-title">Пример названия завтрака он может идти в несколько строк</span>

					<div class="menu-categories-block__kkal">
						<span class="menu-categories-block__kkal-item">140 г</span>
						<span class="menu-categories-block__kkal-item">210 ККал</span>
					</div>

					<p class="menu-categories-block__item-descr">Запеченное яблоко с начинкой из сыра Рикотта, орехом кешью</p>
				</div>
			</div>
		</div>
	</div>
</section>
