// В этом файле должны быть стили для БЭМ-блока intake, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intake {

	$block-name:                &;
	// #{$block-name}__element {}
	margin-bottom: 20px;
	border-bottom: 1px dotted $gray-lightest;

	&:last-child {
		border-bottom-style: solid;
	}

	&__list {
		@include row();
	}

	&__item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		margin-bottom: 25px;

		&:hover {

			.intake__item-title {

				@media (min-width: $screen-xl) {
					color: $green-light;
				}
			}

			.intake__item-wrapper {

				@media (min-width: $screen-xl) {
					outline-color: hsl(228, 17%, 94%);
				}
			}

			.intake__image {

				@media (min-width: $screen-xl) {
					transform: scale(1.06);
				}
			}

			.menu-categories-block__item-descr {

				@media (min-width: $screen-xl) {
					margin-top: 22px;
					max-height: 100px;
					transition: max-height 0.6s, margin-top 0.3s;
				}
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
		}

		@media (min-width: $screen-lg) {
			position: relative;
			cursor: pointer;
		}

		@media (min-width: $screen-xl) {
			margin-bottom: 15px;
		}
	}

	&__item-wrapper {
		@include row();
		flex-wrap: nowrap;
		background-color: $white;

		@media (min-width: $screen-xl) {
			align-items: center;
			top: 0;
			left: 15px;
			right: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			outline: 6px solid transparent;
			outline-offset: -6px;
			transition: outline-color 0.3s;
		}
	}

	&__title {
		position: relative;
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 45px;
		font-size: 24px;
		line-height: 1.3;
		font-weight: 300;
		color: $black;

		@media (min-width: $screen-md) {
			font-size: 30px;
		}

		@media (min-width: $screen-xl) {
			margin-bottom: 5px;
		}
	}

	&__title-icon {
		position: absolute;
		top: 50%;
		left: 0;
		width: 32px;
		height: 32px;
		transform: translateY(-50%);
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&__image-wrapper {
		overflow: hidden;
	}

	&__image {
		display: block;

		@media (min-width: $screen-xl) {
			transition: transform 2.4s;
		}
	}

	&__item-descr {
		@include col(xs, 7, 12);
		@include col(md, 8, 12);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 0;
	}

	&__item-title {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 300;
		color: $valentino;

		@media (min-width: $screen-xl) {
			transition: color 0.3s;
		}
	}
}
