// В этом файле должны быть стили для БЭМ-блока orders-history-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

 

.orders-history-block {
	$block-name:                &;
	// #{$block-name}__element {}
	@include container()
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	&__table {
		margin-bottom: 30px;
	}

	&__table-header {

		@media (min-width: $screen-md) {
			display: flex;
			padding-left: 30px;
			width: 78%;
		}
	}

	&__table-header-cell {
		display: none;
		padding-left: 20px;
		padding-bottom: 20px;
		line-height: 1;
		font-weight: 700;

		&:first-child {

			@media (min-width: $screen-md) {
				flex-basis: 17.29%;
				padding-left: 0;
			}
		}

		&:nth-child(2) {

			@media (min-width: $screen-md) {
				flex-basis: 17%;
			}
		}

		&:nth-child(3) {

			@media (min-width: $screen-md) {
				flex-basis: 13.5%;
			}
		}

		&:nth-child(4) {

			@media (min-width: $screen-md) {
				flex-basis: 21.2%;
			}
		}

		&:last-child {

			@media (min-width: $screen-md) {
				flex-basis: 27.8%;
				padding-right: 0;
			}
		}

		@media (min-width: $screen-md) {
			flex-grow: 1;
			display: block;
			padding-left: 15px;
			padding-right: 15px;
		}

		&--mobile {
			display: block;
		}
	}

	&__table-item-header {
		display: flex;
		justify-content: space-between;
		margin-top: -1px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 20px;
		padding-right: 30px;
		font-size: 18px;
		font-weight: 300;
		font-family: $font-family;
		color: $text-color;
		background-color: $white;
		border-radius: 0;
		border: 1px solid $gray-lightest;
		border-bottom-color: transparent;
		outline: none;

		&.ui-accordion-header-collapsed {
			border-bottom-color: $gray-lightest;
		}

		&.ui-accordion-header-active {
			font-weight: 700;

			.orders-history-block__table-item-header-icon {

				&::before {
					top: 50%;
					left: 0;
					width: 100%;
					height: 2px;
					margin-top: -1px;
					border: 0;
					background-color: $green-light;
					transform: rotate(45deg);
				}

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					width: 100%;
					height: 2px;
					margin-top: -1px;
					border: 0;
					background-color: $green-light;
					transform: rotate(-45deg);
				}
			}

			// .orders-history-block__close-icon {
			// 	top: 60%;
			// 	width: 16px;
			// 	height: 16px;

			// 	&::before {
			// 		top: 50%;
			// 		border-right: 0;
			// 		border-bottom: 0;
			// 		height: 2px;
			// 		margin-top: -1px;
			// 		background-color: $green-light;
			// 	}

			// 	&::after {
			// 		content: '';
			// 		position: absolute;
			// 		top: 50%;
			// 		left: 0;
			// 		width: 100%;
			// 		height: 2px;
			// 		margin-top: -1px;
			// 		background-color: $green-light;
			// 		transform-origin: 50% 50%;
			// 		transform: rotate(-45deg);
			// 	}
			// }
		}

		&:hover {

			@media (min-width: $screen-lg) {
				background-color: $valentino;
				color: $white;
				border-color: $valentino;
			}
		}

		@media (min-width: $screen-md) {
			padding-left: 0;
			padding-right: 0;
		}

		@media (min-width: $screen-lg) {
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s, border-color 0.3s;
		}
	}

	&__table-item-header-icon {
		position: relative;
		width: 15px;
		min-width: 15px;
		height: 15px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 20%;
			width: 60%;
			height: 60%;
			border: 2px solid $green-light;
			border-top: 0;
			border-left: 0;
			transform: rotate(45deg);
		}

		@media (min-width: $screen-md) {
			margin-right: 30px;
		}
	}

	&__table-item-header-wrapper {

		@media (min-width: $screen-md) {
			display: flex;
			width: calc(78% + 2px);
			padding-left: 30px;
		}
	}

	&__table-item-header-cell {
		display: none;
		line-height: 1;

		&:first-child {

			@media (min-width: $screen-md) {
				flex-basis: 17.29%;
				padding-left: 0;
			}
		}

		&:nth-child(2) {

			@media (min-width: $screen-md) {
				flex-basis: 17%;
			}
		}

		&:nth-child(3) {

			@media (min-width: $screen-md) {
				flex-basis: 13.5%;
			}
		}

		&:nth-child(4) {

			@media (min-width: $screen-md) {
				flex-basis: 21.2%;
			}
		}

		&:last-child {

			@media (min-width: $screen-md) {
				flex-basis: 27.8%;
				padding-right: 0;
			}
		}

		@media (min-width: $screen-md) {
			flex-grow: 1;
			display: block;
			padding-left: 15px;
			padding-right: 15px;
		}

		&--mobile {
			display: block;
		}

		&--remove-btn {
			margin-left: auto;
		}

		&--price {

			@media (min-width: $screen-md) {
				flex-basis: 19.2%;
			}
		}

		&--order {

			@media (min-width: $screen-md) {
				flex-basis: 16.4%;
			}
		}

		&--counter {

			@media (min-width: $screen-md) {
				flex-basis: 19%;
			}
		}

		&--status {

			@media (min-width: $screen-md) {
				flex-basis: 25%;
			}
		}
	}

	&__remove-btn {
		position: relative;
		padding-left: 0;
		padding-right: 45px;
		border: 0;
		font-weight: 300;
		line-height: 1;
		color: $green-light;
		background-color: transparent;
		cursor: pointer;
		outline: none;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 45px;
			height: 1px;
			background-color: $green-light;
		}

		@media (min-width: $screen-md) {
			margin-right: 30px;
		}
	}

	&__mobile-info {
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 0;
		font-family: $font-family;
		line-height: 1;
		list-style: none;

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	&__table-items {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		border-left: 1px solid $gray-lightest;
		border-right: 1px solid $gray-lightest;
		border-top: 0;
		border-bottom: 0;
		border-radius: 0;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: $gray-lightest;
		}

		@media (min-width: $screen-md) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__mobile-info-item {
		padding-top: 7px;
		padding-bottom: 7px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__mobile-info-item-key {
		font-weight: 300;
	}

	&__mobile-info-item-value {
		font-size: 18px;
		font-weight: 700;
	}

	&__item {
		position: relative;
		@include row();
		margin-bottom: 20px;
		padding-bottom: 20px;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
			height: 0;
			border-bottom: 1px dotted $gray-lightest;
		}

		&:last-child {
			margin-bottom: 0;

			&::before {
				display: none;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
	}

	&__item-info {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		@include col(lg, 5, 12);
		margin-bottom: 15px;
		text-decoration: none;
		cursor: pointer;

		&:hover {

			@media (min-width: $screen-lg) {

				.orders-history-block__img {
					transform: scale(1.06);
				}

				.orders-history-block__item-name {
					color: $green-light;
				}
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__item-info-wrapper {
		@include row();
	}

	&__item-image {
		@include col(xs, 5, 12);
		display: flex;
		align-items: center;
	}

	&__item-descr {
		@include col(xs, 7, 12);
		@include col(md, 7, 12);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 0;
	}

	&__item-name {
		display: block;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 300;
		font-family: $font-family;
		color: $valentino;

		@media (min-width: $screen-lg) {
			font-size: 20px;
			transition: color 0.3s;
		}
	}

	&__counter {
		@include col(xs, 5, 12);
		@include col(md, 2, 12);
		@include col-offset(md, 1, 12);
		@include col-offset(lg, 2, 12);
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: flex-start;
		line-height: 1;
		font-family: $font-family;
	}

	&__counter-title {
		margin-bottom: 20px;
		font-size: 15px;
		font-family: $font-family;
		color: $text-color--sub-muted;

		@media (min-width: $screen-lg) {
			margin-top: 7px;
			margin-bottom: 15px;
		}

		@media (min-width: $screen-xl) {
			margin-top: 30px;
		}
	}

	&__counter-value {
		font-family: $font-family;
		font-size: 30px;
		color: $black;

		@media (min-width: $screen-lg) {
			font-size: 42px;
		}
	}

	&__price {
		@include col(xs, 7, 12);
		@include col(md, 3, 12);
		display: flex;
		align-self: flex-start;
		flex-direction: column;
		padding-left: 0;
		font-family: $font-family;
		line-height: 1;
		color: $black;
	}

	&__price-days {
		font-size: 12px;
		line-height: 1.375;
		text-transform: uppercase;
		color: $valentino;

		@media (min-width: $screen-md) {
			font-size: 14px;
		}
	}

	&__price-count {
		display: flex;
		align-items: baseline;
		margin-top: 35px;

		@media (min-width: $screen-md) {
			margin-bottom: 3px;
		}

		@media (min-width: $screen-xl) {
			margin-top: 58px;
		}
	}

	&__price-value {
		margin-right: 3px;
		font-size: 30px;

		@media (min-width: $screen-lg) {
			font-size: 42px;
		}
	}

	&__price-measure {
		font-size: 14px;
		text-transform: uppercase;
	}

	&__item-image-wrapper {
		overflow: hidden;
	}

	&__img {
		display: block;

		@media (min-width: $screen-lg) {
			transition: transform 2.4s;
			backface-visibility: hidden;
			will-change: transform;
		}
	}

	&__table-remove-btn {
		line-height: 1;
		margin-left: auto;

		.orders-history-block__remove-btn {
			font-size: 18px;
			font-family: $font-family;
		}
	}

	&__close-icon {
		position: absolute;
		top: 40%;
		right: 0;
		width: 11px;
		height: 11px;
		transform: translateY(-50%);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-right: 2px solid $green-light;
			border-bottom: 2px solid $green-light;
			border-top: 0;
			border-left: 0;
			transform-origin: 50% 50%;
			transform: rotate(45deg);
		}
	}
}
