<!--DEV

<div class="orders-history-block__table-remove-btn">
	<button class="orders-history-block__remove-btn" type="button">
		<i class="orders-history-block__close-icon"></i>
		удалить
	</button>
</div>

Для использования этого файла как шаблона:

@ @include('blocks/orders-history-block/orders-history-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="orders-history-block">
	<h1>История заказов</h1>

	<div class="orders-history-block__table">
		<header class="orders-history-block__table-header">
			<div class="orders-history-block__table-header-cell">Дата</div>
			<div class="orders-history-block__table-header-cell  orders-history-block__table-header-cell--mobile">№ заказа</div>
			<div class="orders-history-block__table-header-cell">Кол-во</div>
			<div class="orders-history-block__table-header-cell">Цена</div>
			<div class="orders-history-block__table-header-cell">Статус</div>
		</header>

		<div class="orders-history-block__table-body">
			<div class="orders-history-block__table-item-header">
				<div class="orders-history-block__table-item-header-wrapper">
					<div class="orders-history-block__table-item-header-cell">24/06/2017</div>
					<div class="orders-history-block__table-item-header-cell  orders-history-block__table-item-header-cell--mobile">123456</div>
					<div class="orders-history-block__table-item-header-cell">12</div>
					<div class="orders-history-block__table-item-header-cell">12 000 руб.</div>
					<div class="orders-history-block__table-item-header-cell">Новый</div>
				</div>

				<i class="orders-history-block__table-item-header-icon"></i>
			</div>

			<div class="orders-history-block__table-items">
				<ul class="orders-history-block__mobile-info">
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Дата: </span>
						<span class="orders-history-block__mobile-info-item-value">24/06/2017</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Кол-во: </span>
						<span class="orders-history-block__mobile-info-item-value">12</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Цена: </span>
						<span class="orders-history-block__mobile-info-item-value">12 000 руб.</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Статус: </span>
						<span class="orders-history-block__mobile-info-item-value">Новый</span>
					</li>
				</ul>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-1.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">140 г</span>
									<span class="menu-categories-block__kkal-item">210 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">170</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-2.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">200 г</span>
									<span class="menu-categories-block__kkal-item">320 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">480</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a href="#" class="orders-history-block__item-info">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-3.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Готовая программа Баланс</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
									<span class="menu-categories-block__kkal-item">1300 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">2</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">9100</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(7 дней + 1 день в подарок)</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" href="#">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-4.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Персональный рацион</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">1800 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">18300</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(14 дней)</span>
					</div>
				</div>
			</div>

			<div class="orders-history-block__table-item-header">
				<div class="orders-history-block__table-item-header-wrapper">
					<div class="orders-history-block__table-item-header-cell">24/06/2017</div>
					<div class="orders-history-block__table-item-header-cell  orders-history-block__table-item-header-cell--mobile">234567</div>
					<div class="orders-history-block__table-item-header-cell">6</div>
					<div class="orders-history-block__table-item-header-cell">4 000 руб.</div>
					<div class="orders-history-block__table-item-header-cell">Ожидает оплаты</div>
				</div>

				<i class="orders-history-block__table-item-header-icon"></i>
			</div>

			<div class="orders-history-block__table-items">
				<ul class="orders-history-block__mobile-info">
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Дата: </span>
						<span class="orders-history-block__mobile-info-item-value">24/06/2017</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Кол-во: </span>
						<span class="orders-history-block__mobile-info-item-value">12</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Цена: </span>
						<span class="orders-history-block__mobile-info-item-value">12 000 руб.</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Статус: </span>
						<span class="orders-history-block__mobile-info-item-value">Новый</span>
					</li>
				</ul>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-1.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">140 г</span>
									<span class="menu-categories-block__kkal-item">210 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">170</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-2.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">200 г</span>
									<span class="menu-categories-block__kkal-item">320 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">480</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a href="#" class="orders-history-block__item-info">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-3.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Готовая программа Баланс</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
									<span class="menu-categories-block__kkal-item">1300 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">2</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">9100</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(7 дней + 1 день в подарок)</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" href="#">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-4.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Персональный рацион</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">1800 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">18300</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(14 дней)</span>
					</div>
				</div>
			</div>

			<div class="orders-history-block__table-item-header">
				<div class="orders-history-block__table-item-header-wrapper">
					<div class="orders-history-block__table-item-header-cell">24/06/2017</div>
					<div class="orders-history-block__table-item-header-cell  orders-history-block__table-item-header-cell--mobile">345678</div>
					<div class="orders-history-block__table-item-header-cell">4</div>
					<div class="orders-history-block__table-item-header-cell">28 050 руб.</div>
					<div class="orders-history-block__table-item-header-cell">Новый</div>
				</div>

				<i class="orders-history-block__table-item-header-icon"></i>
			</div>

			<div class="orders-history-block__table-items">
				<ul class="orders-history-block__mobile-info">
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Дата: </span>
						<span class="orders-history-block__mobile-info-item-value">24/06/2017</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Кол-во: </span>
						<span class="orders-history-block__mobile-info-item-value">12</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Цена: </span>
						<span class="orders-history-block__mobile-info-item-value">12 000 руб.</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Статус: </span>
						<span class="orders-history-block__mobile-info-item-value">Новый</span>
					</li>
				</ul>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-1.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">140 г</span>
									<span class="menu-categories-block__kkal-item">210 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">170</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-2.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">200 г</span>
									<span class="menu-categories-block__kkal-item">320 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">480</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a href="#" class="orders-history-block__item-info">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-3.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Готовая программа Баланс</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
									<span class="menu-categories-block__kkal-item">1300 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">2</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">9100</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(7 дней + 1 день в подарок)</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" href="#">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-4.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Персональный рацион</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">1800 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">18300</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(14 дней)</span>
					</div>
				</div>
			</div>

			<div class="orders-history-block__table-item-header">
				<div class="orders-history-block__table-item-header-wrapper">
					<div class="orders-history-block__table-item-header-cell">24/06/2017</div>
					<div class="orders-history-block__table-item-header-cell  orders-history-block__table-item-header-cell--mobile">123456</div>
					<div class="orders-history-block__table-item-header-cell">12</div>
					<div class="orders-history-block__table-item-header-cell">12 000 руб.</div>
					<div class="orders-history-block__table-item-header-cell">Новый</div>
				</div>

				<i class="orders-history-block__table-item-header-icon"></i>
			</div>

			<div class="orders-history-block__table-items">
				<ul class="orders-history-block__mobile-info">
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Дата: </span>
						<span class="orders-history-block__mobile-info-item-value">24/06/2017</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Кол-во: </span>
						<span class="orders-history-block__mobile-info-item-value">12</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Цена: </span>
						<span class="orders-history-block__mobile-info-item-value">12 000 руб.</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Статус: </span>
						<span class="orders-history-block__mobile-info-item-value">Новый</span>
					</li>
				</ul>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-1.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">140 г</span>
									<span class="menu-categories-block__kkal-item">210 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">170</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-2.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">200 г</span>
									<span class="menu-categories-block__kkal-item">320 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">480</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a href="#" class="orders-history-block__item-info">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-3.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Готовая программа Баланс</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
									<span class="menu-categories-block__kkal-item">1300 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">2</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">9100</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(7 дней + 1 день в подарок)</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" href="#">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-4.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Персональный рацион</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">1800 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">18300</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(14 дней)</span>
					</div>
				</div>
			</div>

			<div class="orders-history-block__table-item-header">
				<div class="orders-history-block__table-item-header-wrapper">
					<div class="orders-history-block__table-item-header-cell">24/06/2017</div>
					<div class="orders-history-block__table-item-header-cell  orders-history-block__table-item-header-cell--mobile">234567</div>
					<div class="orders-history-block__table-item-header-cell">6</div>
					<div class="orders-history-block__table-item-header-cell">4 000 руб.</div>
					<div class="orders-history-block__table-item-header-cell">Ожидает оплаты</div>
				</div>

				<i class="orders-history-block__table-item-header-icon"></i>
			</div>

			<div class="orders-history-block__table-items">
				<ul class="orders-history-block__mobile-info">
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Дата: </span>
						<span class="orders-history-block__mobile-info-item-value">24/06/2017</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Кол-во: </span>
						<span class="orders-history-block__mobile-info-item-value">12</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Цена: </span>
						<span class="orders-history-block__mobile-info-item-value">12 000 руб.</span>
					</li>
					<li class="orders-history-block__mobile-info-item">
						<span class="orders-history-block__mobile-info-item-key">Статус: </span>
						<span class="orders-history-block__mobile-info-item-value">Новый</span>
					</li>
				</ul>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-1.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">140 г</span>
									<span class="menu-categories-block__kkal-item">210 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">170</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" data-fadeIn=".modal--menu-categories-block">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-2.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Пример названия блюда оно может идти в несколько строк</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">200 г</span>
									<span class="menu-categories-block__kkal-item">320 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">480</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a href="#" class="orders-history-block__item-info">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-3.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Готовая программа Баланс</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">5 приемов пищи</span>
									<span class="menu-categories-block__kkal-item">1300 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">2</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">9100</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(7 дней + 1 день в подарок)</span>
					</div>
				</div>

				<div class="orders-history-block__item">
					<a class="orders-history-block__item-info" href="#">
						<div class="orders-history-block__item-info-wrapper">
							<div class="orders-history-block__item-image">
								<div class="orders-history-block__item-image-wrapper">
									<img class="orders-history-block__img" src="img/cart-order-block-img-4.jpg" alt="">
								</div>
							</div>

							<div class="orders-history-block__item-descr">
								<span class="orders-history-block__item-name">Персональный рацион</span>
								<div class="menu-categories-block__kkal  menu-categories-block__kkal--cart  menu-categories-block__kkal--history">
									<span class="menu-categories-block__kkal-item">1800 ККал</span>
								</div>
							</div>
						</div>
					</a>

					<div class="orders-history-block__counter">
						<span class="orders-history-block__counter-title">Количество</span>
						<span class="orders-history-block__counter-value">1</span>
					</div>

					<div class="orders-history-block__price">
						<span class="orders-history-block__price-count">
							<span class="orders-history-block__price-value">18300</span>
							<span class="orders-history-block__price-measure">руб.</span>
						</span>

						<span class="orders-history-block__price-days">(14 дней)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
