<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/cart-breadcrumbs/cart-breadcrumbs.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<ul class="cart-breadcrumbs">
	<li class="cart-breadcrumbs__item"><a href="/cart-order.html" class="cart-breadcrumbs__link">Оформление заказа</a></li>
	<li class="cart-breadcrumbs__item"><a href="/cart-contacts.html" class="cart-breadcrumbs__link">Контактные данные</a></li>
	<li class="cart-breadcrumbs__item"><a href="/cart-delivery.html" class="cart-breadcrumbs__link">Отправка заказа</a></li>
</ul>
