// В этом файле должны быть стили для БЭМ-блока cart-breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-breadcrumbs {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	display: flex;
	justify-content: center;
	width: calc(100% - 30px);
	max-width: 1170px;
	margin: 0 15px;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	border-bottom: 1px solid $gray-lightest;

	@media (min-width: $screen-md) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-lg) {
		width: calc(100% - 30px);
	}

	@media (min-width: $screen-xl) {
		width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
	}

	&__item {

		&:not(:last-child) {
			position: relative;
			padding-right: 40px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 20px;
				width: 8px;
				height: 8px;
				margin-top: -4px;
				border: 1px solid $gray-lighter;
				border-top: none;
				border-left: none;
				transform: rotate(-45deg);

				@media (min-width: $screen-md) {
					right: 53px;
				}

				@media (min-width: $screen-lg) {
					right: 72px;
				}
			}

			@media (min-width: $screen-md) {
				padding-right: 107px;
			}

			@media (min-width: $screen-lg) {
				padding-right: 145px;
			}
		}

		&--active {

			.cart-breadcrumbs__link {
				color: $valentino;

				&::before {
					background-color: $green-light;
				}
			}
		}

		&--inactive {

			.cart-breadcrumbs__link {
				cursor: default;
				color: rgba($text-color--sub, 0.5);

				&::before {
					display: none;
				}
			}

			&:hover {

				.cart-breadcrumbs__link {
					color: rgba($text-color--sub, 0.5);
				}
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
		line-height: 1.3;
		color: $text-color--sub;
		text-decoration: none;
		transition: color 0.3s;

		&::before {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			height: 4px;
			background-color: transparent;
			transition: background-color 0.3s;
		}

		&:hover {
			color: $valentino;

			&::before {
				background-color: $green-light;
			}
		}

		@media (min-width: $screen-md) {
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 18px;
		}
	}
}
