// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.burger {

	$block-name:                &;
	// #{$block-name}__element

	position: absolute;
	top: -35px;
	left: 15px;
	z-index: 1;
	display: flex;
	align-items: center;
	width: 22px;
	height: 21px;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	user-select: none;
	cursor: pointer;

	> span {
		display: inline-block;
		width: 100%;
		height: $toggler-part-height;
		background: $toggler-part-bg-color;
		position: relative;
		transition: background 0.3s 0.3s;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: $toggler-part-height;
			background: $toggler-part-bg-color;
			transform-origin: 50% 50%;
			transition: top 0.3s 0.3s, transform 0.3s;
		}

		&:before {
			top: -8px;
		}

		&:after {
			top: 8px;
		}
	}

	&--close {

		> span {
			transition: background 0.2s 0s;
			background: transparent;

			&:before,
			&:after {
				transition: top 0.3s, transform 0.3s 0.3s;
				top: 0;
			}

			&:before {
				transform: rotate3d(0, 0, 1, 45deg);
			}

			&:after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}
