/// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$gray-header-bg:              hsl(220, 1%, 97%);
$gray-white:                  hsl(0, 0%, 99%);
$green-light:                 hsl(74, 77%, 44%);
$green:                       hsl(82, 55%, 49%);
$valentino:                   hsl(279, 65%, 19%);
$valentino-dark:              hsl(278, 65%, 10%);
$red:                         hsl(358, 85%, 52%);
$red-medline:                 hsl(358, 91%, 38%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$component-active-color: $white !default;



// Семантические цвета

$text-color:                  hsl(345, 11%, 12%);
$text-color--sub:             hsl(180, 1%, 33%);
$text-color--sub-muted:       hsl(180, 1%, 65%);
$text-color--muted:           $gray;
$body-bg:                     #fff;

$link-color:                  $color-main;
$link-color--hover:           darken($color-main, 15%);

$border-color:                $gray-lightest;



// Базовая типографика

$font-size:                   16px;
$font-size--h1:               2.25em;
$font-size--h2:               1.875em;
$font-size--h3:               1.5em;
$font-size--h4:               1.25em;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            0.75em;

$line-height:                 1.375em;

$font-family:                 'Merlo', sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1920px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                100%;
$container-xl:                100%;
$container-xxl:               100%;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.7em;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-md;
$toggler-part-height:         5px;
$toggler-part-bg-color:       $green-light;

$z-index-modal:               100;


$border-width: 1px !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:             10rem !default;
$dropdown-padding-y:             0.5rem !default;
$dropdown-spacer:                0.125rem !default;
$dropdown-bg:                    $white !default;
$dropdown-border-color:          rgba($black, 0.15) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $gray-200 !default;
$dropdown-box-shadow:            0 0.5rem 1rem rgba($black, 0.175) !default;

$dropdown-link-color:            $gray-900 !default;
$dropdown-link-hover-color:      darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:         $gray-100 !default;

$dropdown-link-active-color:     $component-active-color !default;
// $dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-600 !default;

$dropdown-item-padding-y:        0.25rem !default;
$dropdown-item-padding-x:        1.5rem !default;

$dropdown-header-color:          $gray-600 !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:           1000 !default;
$zindex-sticky:             1020 !default;
$zindex-fixed:              1030 !default;
$zindex-modal-backdrop:     1040 !default;
$zindex-modal:              1050 !default;
$zindex-popover:            1060 !default;
$zindex-tooltip:            1070 !default;

$caret-width:               0.3em !default;
