<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/expert-block/expert-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="expert-block">
	<div class="container">
		<header class="expert-block__header">
			<h1 class="med__h1">MEDline Expert</h1>
			<div class="expert-block__header-body">
				<button class="btn  btn--expert" type="button" data-fadeIn=".modal--enter"><span class="btn__text-expert">Личный кабинет</span></button>
				<span class="expert-block__header-text">Сформируйте меню для клиента, опираясь на терапевтические диеты, или самостоятельно разработайте рацион.</span>
			</div>
		</header>
	</div>


	<section class="expert-block__features">
		<div class="expert-block__features-content">
			<h3 class="med__h3  med__h3--black  expert-block__features-title">Преимущества</h3>

			<div class="expert-block__features-list">
				<div class="row">
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-1.png');">Контроль БЖУ и калорий</span>
						<p class="expert-block__features-text">Для каждого блюда подсчитано количество белков, жиров, углеводов и калорийность. Теперь вам доступны точные данные по рациону питания в целом.</p>
					</div>
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-2.png');">Большой выбор блюд</span>
						<p class="expert-block__features-text">В нашем меню – более 200 блюд. Мы уделяем особо внимание их вкусу и оформлению. Меню разработано совместными усилиями шеф-повара и диетолога, поэтому каждый составленный вами рацион будет не только полезен, но и вкусен.</p>
					</div>
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-3.png');">Собственное производство</span>
						<p class="expert-block__features-text">Наличие собственного производства позволяет контролировать все этапы готовки блюд: от закупок продуктов до оформления.</p>
					</div>
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-4.png');">Удобное формирование рационов</span>
						<p class="expert-block__features-text">Составить программу питания на необходимое количество дней и оперативно отправить ее в работу вы можете в любое время через личный кабинет на нашем сайте.</p>
					</div>
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-5.png');">Второе мнение</span>
						<p class="expert-block__features-text">Получить комплексный анамнез клиента на любом этапе построения рациона питания вам помогут узкие специалисты центра рационального здоровья MEDline: диетолог, эндокринолог, физиотерапевт и другие.</p>
					</div>
					<div class="expert-block__features-item">
						<span class="expert-block__features-item-title" style="background-image: url('img/expert-block-icon-6.png');">Быстрая доставка</span>
						<p class="expert-block__features-text">Доставка рациона производится через день после поступления заказа (через 48 часов) в специальной термосумке.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="expert-block__features-bg">
			<div class="expert-block__bg-wrapper">
				<img class="expert-block__bg-img" src="img/expert-block-bg.jpg" alt="">
			</div>
		</div>
	</section>
</section>
