// В этом файле должны быть стили для БЭМ-блока expert-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.expert-block {

	$block-name:                &;
	// #{$block-name}__element {}

	&__header {
		padding-top: 1px;
		padding-bottom: 25px;

		@media (min-width: $screen-md) {
			padding-bottom: 50px;
		}
	}

	&__header-body {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: $screen-md) {
			flex-direction: row;
		}
	}

	&__header-text {
		font-size: 18px;
		color: $text-color--sub;
	}

	&__features {
		background-color: $gray-white;

		@media (min-width: $screen-xl) {
			display: flex;
		}
	}

	&__features-title {

		@media (min-width: $screen-xl) {
			margin-top: 70px;
		}
	}

	&__features-bg {
		display: none;

		@media (min-width: $screen-xl) {
			display: block;
		}
	}

	&__features-item {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);

		@media (min-width: $screen-md) {
			margin-bottom: 20px;
		}
	}

	&__features-content {
		padding-top: 1px;
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: $screen-xl) {
			position: relative;
			z-index: 1;
			flex-shrink: 0;
			width: 800px;
		}
	}

	&__features-item-title {
		position: relative;
		display: block;
		margin-bottom: 15px;
		padding-top: 50px;
		padding-bottom: 20px;
		font-size: 21px;
		font-weight: 300;
		line-height: 1.3;
		color: $valentino;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 20px;
			height: 1px;
			background-color: $gray-lighter;
		}
	}

	&__bg-wrapper {

		@media (min-width: $screen-xl) {
			margin-left: -110px;
		}
	}

	&__bg-img {

		@media (min-width: $screen-xl) {
			display: block;
			width: 867px;
			height: 935px;
			object-fit: cover;
			object-position: 0 50%;
		}
	}
}
