// В этом файле должны быть стили для БЭМ-блока gallery-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.gallery-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;
	padding-bottom: 25px;

	@media (min-width: $screen-md) {
		padding-bottom: 50px;
	}

	&__slider {
		position: relative;

		.slick-arrow {
			position: absolute;
			z-index: 1;
			bottom: -20px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $valentino;
			border: none;
			font-size: 0;
			transition: transform 0.6s, opacity 0.3s;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				border: 2px solid $white;
				border-top: none;
				border-left: none;
			}

			&:hover {
				transform: scale(1.2);
			}

			@media (min-width: $screen-md) {
				bottom: 30px;
			}
		}

		.slick-prev {
			right: 80px;

			&::before {
				margin-left: -4px;
				transform: rotate(135deg);
			}

			@media (min-width: $screen-md) {
				bottom: -20px;
			}
		}

		.slick-next {
			right: 30px;

			&::before {
				margin-left: -8px;
				transform: rotate(-45deg);
			}

			@media (min-width: $screen-md) {
				bottom: -20px;
			}
		}
	}

	&__item {
		width: 290px;
		margin-right: 1px;

		&:hover {

			.gallery-block__image {

				@media (min-width: $screen-xl) {
					transform: scale(1.06);
				}
			}
		}

		@media (min-width: $screen-md) {
			width: 391px;
		}

		@media (min-width: $screen-lg) {
			position: relative;
		}
	}

	&__image-wrapper {
		overflow: hidden;
	}

	&__image {

		@media (min-width: $screen-xl) {
			transition: transform 2.4s;
			backface-visibility: hidden;
		}
	}

	&__slide-descr {
		margin-top: 15px;
		color: $text-color--sub;
	}

	&__counter {
		font-size: 14px;
		line-height: 1;
		color: $text-color--sub-muted;
	}

	&__current-num {
		font-size: 21px;
		color: $text-color--sub;
	}
}
