<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/gallery-block/gallery-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="gallery-block">
	<h3 class="med__h3">Галерея</h3>

	<div class="gallery-block__slider">
		<a href="img/gallery-block-img-1.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-1.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-2.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-2.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-3.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-3.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-1.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-1.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-2.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-2.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-3.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-3.jpg" alt="">
			</div>
		</a>
		<a href="img/gallery-block-img-3.jpg" class="gallery-block__item" data-fancybox>
			<div class="gallery-block__image-wrapper">
				<img class="gallery-block__image" src="img/gallery-block-img-3.jpg" alt="">
			</div>
		</a>
	</div>

	<div class="gallery-block__slide-descr">
		<div class="gallery-block__counter">
			<span class="gallery-block__current-num"></span> / <span class="gallery-block__total-num"></span>
		</div>
	</div>
</section>
