// В этом файле должны быть стили для БЭМ-блока docs-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.docs-block {

	$block-name:                &;
	// #{$block-name}__element {}
	padding-bottom: 30px;
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 50px;
	}

	&__item {
		@include col(xs, 6, 12);
		@include col(md, 3, 12);
		margin-bottom: 30px;
		outline: none;

		&:nth-last-of-type(2n) {
			margin-bottom: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__item-img {
		width: 100%;
	}

	&__panels-item {
		overflow: hidden;
		border: 1px solid $gray-lightest;
		border-top: none;
		transition: background-color 0.3s;

		&:first-of-type {
			border-top: 1px solid $gray-lightest;
		}

		&:not(.docs-block__panels-item--active) {

			.docs-block__panels-item-title {

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					width: 10px;
					height: 10px;
					margin-top: -5px;
					border: 2px solid $green-light;
					border-top: none;
					border-left: none;
					transform: rotate(45deg);

					@media (min-width: $screen-md) {
						right: 30px;
					}
				}

				@media (min-width: $screen-lg) {
					transition: color 0.3s;
				}
			}

			&:hover {

				.docs-block__panels-item-title {

					@media (min-width: $screen-lg) {
						color: $white;
					}
				}

				@media (min-width: $screen-lg) {
					background-color: $valentino;
				}
			}
		}

		&--active {

			.docs-block__panels-item-title {

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 17px;
					width: 18px;
					height: 2px;
					margin-top: -1px;
					margin-left: -9px;
					border: none;
					background-color: $green-light;

					@media (min-width: $screen-md) {
						right: 25px;
					}
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}

			.docs-block__contacts {
				max-height: 700px;
				transition: max-height 0.6s;
			}
		}
	}

	&__panels-title {
		margin-bottom: 25px;
		font-weight: 300;
		font-size: 20px;
		color: $black;

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
			font-size: 24px;
		}

		@media (min-width: $screen-lg) {
			margin-bottom: 25px;
		}
	}

	&__panels-item-title {
		position: relative;
		display: block;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 40px;
		padding-bottom: 20px;
		font-size: 16px;
		font-weight: 300;
		color: $valentino;

		@media (min-width: $screen-md) {
			padding-left: 30px;
			padding-right: 0;
			padding-top: 25px;
			padding-bottom: 25px;
			font-size: 18px;
		}

		@media (min-width: $screen-lg) {
			cursor: pointer;
		}
	}

	&__contacts {
		max-height: 0;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 20px;
		padding-right: 30px;
		overflow: hidden;
		list-style: none;
		transition: max-height 0.3s;

		@media (min-width: $screen-md) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__contacts-item {
		margin-bottom: 15px;

		&:last-child {

			@media (min-width: $screen-md) {
				margin-bottom: 25px;
			}
		}
	}

	&__contacts-key {
		font-size: 16px;
		font-weight: 700;
		color: $text-color;
	}

	&__contacts-value-tel {

		color: $text-color;
		text-decoration: none;
	}

	&__contacts-value-mail {
		position: relative;
		text-decoration: none;
		color: $green-light;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green-light;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:hover,
		&:focus {

			&::before {
				opacity: 1;
			}
		}
	}
}
