<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/docs-block/docs-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="docs-block">
	<h1 class="med__h1">Лицензии и документы</h1>

	<div class="docs-block__list">
		<div class="row">
			<a href="img/docs-block-img-1.jpg" class="docs-block__item" data-fancybox>
				<img class="docs-block__item-img" src="img/docs-block-img-1.jpg" alt="">
			</a>
			<a href="img/docs-block-img-2.jpg" class="docs-block__item" data-fancybox>
				<img class="docs-block__item-img" src="img/docs-block-img-2.jpg" alt="">
			</a>
			<a href="img/docs-block-img-3.jpg" class="docs-block__item" data-fancybox>
				<img class="docs-block__item-img" src="img/docs-block-img-3.jpg" alt="">
			</a>
			<a href="img/docs-block-img-4.jpg" class="docs-block__item" data-fancybox>
				<img class="docs-block__item-img" src="img/docs-block-img-4.jpg" alt="">
			</a>
		</div>
	</div>

	<div class="docs-block__panels">
		<h3 class="docs-block__panels-title">Перечень контролирующих органов на территории Краснодарского края</h3>
		<div class="docs-block__panels-item">
			<span class="docs-block__panels-item-title">Федеральная служба по надзору в сфере здравоохранения и социального развития</span>
			<ul class="docs-block__contacts">
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Адрес:</span>
					<span class="docs-block__contacts-value">350000, город Краснодар, ул. Коммунаров, 276</span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Единый телефон</span>
					<span class="docs-block__contacts-value">«Горячей линии» министерства здравоохранения Краснодарского края по вопросам оказания медицинской помощи и льготного лекарственного обеспечения: <a class="docs-block__contacts-value-tel" href="tel:88002000366">8-800-200-03-66</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия по обращениям граждан:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925303">8 (861) 992-53-03</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия служебной переписки:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925302">8 (861) 992-53-02</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Факс:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925301">8 (861) 992-53-01</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Приемная министра:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925291">8 (861) 992-52-91</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">E-mail:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-mail" href="mailto:mz@krasnodar.ru">mz@krasnodar.ru</a></span>
				</li>
			</ul>
		</div>
		<div class="docs-block__panels-item  docs-block__panels-item--active">
			<span class="docs-block__panels-item-title">Филиал Минздрава РФ по Краснодарскому краю</span>
			<ul class="docs-block__contacts">
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Адрес:</span>
					<span class="docs-block__contacts-value">350000, город Краснодар, ул. Коммунаров, 276</span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Единый телефон</span>
					<span class="docs-block__contacts-value">«Горячей линии» министерства здравоохранения Краснодарского края по вопросам оказания медицинской помощи и льготного лекарственного обеспечения: <a class="docs-block__contacts-value-tel" href="tel:88002000366">8-800-200-03-66</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия по обращениям граждан:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925303">8 (861) 992-53-03</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия служебной переписки:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925302">8 (861) 992-53-02</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Факс:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925301">8 (861) 992-53-01</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Приемная министра:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925291">8 (861) 992-52-91</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">E-mail:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-mail" href="mailto:mz@krasnodar.ru">mz@krasnodar.ru</a></span>
				</li>
			</ul>
		</div>
		<div class="docs-block__panels-item">
			<span class="docs-block__panels-item-title">Прокуратура по Краснодарскому краю</span>
			<ul class="docs-block__contacts">
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Адрес:</span>
					<span class="docs-block__contacts-value">350000, город Краснодар, ул. Коммунаров, 276</span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Единый телефон</span>
					<span class="docs-block__contacts-value">«Горячей линии» министерства здравоохранения Краснодарского края по вопросам оказания медицинской помощи и льготного лекарственного обеспечения: <a class="docs-block__contacts-value-tel" href="tel:88002000366">8-800-200-03-66</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия по обращениям граждан:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925303">8 (861) 992-53-03</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия служебной переписки:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925302">8 (861) 992-53-02</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Факс:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925301">8 (861) 992-53-01</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Приемная министра:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925291">8 (861) 992-52-91</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">E-mail:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-mail" href="mailto:mz@krasnodar.ru">mz@krasnodar.ru</a></span>
				</li>
			</ul>
		</div>
		<div class="docs-block__panels-item">
			<span class="docs-block__panels-item-title">Федеральная служба по защите прав потребителей в Краснодарском крае</span>
			<ul class="docs-block__contacts">
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Адрес:</span>
					<span class="docs-block__contacts-value">350000, город Краснодар, ул. Коммунаров, 276</span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Единый телефон</span>
					<span class="docs-block__contacts-value">«Горячей линии» министерства здравоохранения Краснодарского края по вопросам оказания медицинской помощи и льготного лекарственного обеспечения: <a class="docs-block__contacts-value-tel" href="tel:88002000366">8-800-200-03-66</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия по обращениям граждан:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925303">8 (861) 992-53-03</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Канцелярия служебной переписки:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925302">8 (861) 992-53-02</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Факс:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925301">8 (861) 992-53-01</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">Приемная министра:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-tel" href="tel:88619925291">8 (861) 992-52-91</a></span>
				</li>
				<li class="docs-block__contacts-item">
					<span class="docs-block__contacts-key">E-mail:</span>
					<span class="docs-block__contacts-value"><a class="docs-block__contacts-value-mail" href="mailto:mz@krasnodar.ru">mz@krasnodar.ru</a></span>
				</li>
			</ul>
		</div>
	</div>
</section>
