// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

.field-checkbox {

  $block-name:                &;
  // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {
    margin-bottom: 20px;

    & + & {
      margin-top: ($line-height / 2);
    }

    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }

    &--callback {
      text-align: left;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    // margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &--callback {
      text-align: left;
    }
  }

  &__name-text {
    line-height: 1.3;
    color: $black;

    // свой чекбокс
    &:before {
      content: '';
      position: absolute;
      top: 0.2em;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-lightest;
      border-radius: 2px;
    }

    @at-root input:checked ~ &:before {
      @include sprite($check-icon);
      width: 16px;
      height: 16px;
    }
  }

  &__input {
    display: none;
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    // top: 0;
    // left: 0;
    // width: 0;
    // height: 0;
    // overflow: hidden;
    // visibility: hidden;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
