// В этом файле должны быть стили для БЭМ-блока contacts-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-block {

	$block-name:                &;
	// #{$block-name}__element {}
	@include container();
	max-width: 1200px;

	@media (min-width: $screen-md) {
		padding-bottom: 20px;
	}

	&__wrapper {
		@include row();
	}

	&__header {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		margin-bottom: 25px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}
	}

	&__header-top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 25px;

		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}

	&__header-bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__small-text {
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 1;
		color: $text-color--sub;
	}

	&__tel {
		margin-bottom: 5px;
		font-size: 36px;
		line-height: 42px;
		font-weight: 700;
		color: $black;
		text-decoration: none;

		&:hover {

			@media (min-width: $screen-lg) {
				color: $green-light;
			}
		}

		@media (min-width: $screen-md) {
			margin-top: 11px;
			margin-bottom: 8px;
			font-size: 48px;
			line-height: 54px;
		}

		@media (min-width: $screen-lg) {
			transition: color 0.3s;
		}
	}

	&__link {
		font-size: 16px;
		color: $valentino;
		text-decoration: none;

		&::before {

			@media (min-width: $screen-lg) {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $valentino;
				opacity: 0;
				transition: opacity 0.3s;
			}
		}

		&:hover {

			&::before {

				@media (min-width: $screen-lg) {
					opacity: 1;
				}
			}
		}

		@media (min-width: $screen-lg) {
			position: relative;
		}
	}

	&__delimiter {
		margin-left: 15px;
		margin-right: 15px;
		border-top: 1px solid $gray-lightest;

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	&__feedback {
		@include col(xs, 12, 12);
		@include col(md, 6, 12);
		padding-bottom: 10px;

		@media (min-width: $screen-md) {
			padding-bottom: 0;
		}
	}

	&__field {
		@include col(xs, 12, 12);
		margin-bottom: 20px;

		@media (min-width: $screen-md) {
			margin-bottom: 30px;
		}

		&--half {
			@include col(md, 6, 12);
		}
	}
}
