<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/contacts-block/contacts-block.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<section class="contacts-block">
	<div class="contacts-block__wrapper">
		<header class="contacts-block__header">
			<div class="contacts-block__header-top">
				<h1 class="med__h1">Контакты</h1>
				<span class="contacts-block__small-text">Краснодар, ул. Урицкого, 186</span>
				<a href="tel:88007075357" class="contacts-block__tel">8 800 707-53-57</a>
				<button class="btn  btn--contacts-block" type="button" data-fadeIn=".modal--callback">Закзазать звонок</button>
			</div>

			<div class="contacts-block__header-bottom">
				<span class="contacts-block__small-text">График работы:</span>
				<strong class="med__strong  med__strong--contacts-block">Ежедневно с 9.00 до 21.00</strong>
				<a href="mailto:info@medline.ru" class="contacts-block__link">info@medline.ru</a>
			</div>
		</header>

		<div class="contacts-block__delimiter"></div>

		<div class="contacts-block__feedback">
			<h3 class="med__h3">Написать нам</h3>
			<form action="" method="post">
				<div class="row">
					<div class="contacts-block__field">
						<label class="field-text">
							<input class="field-text__input" type="text" name="user__name" required>
							<span class="field-text__name">Ваше имя</span>
						</label>
					</div>
					<div class="contacts-block__field  contacts-block__field--half">
						<label class="field-text">
							<input class="field-text__input" type="tel" name="user__tel">
							<span class="field-text__name">Телефон</span>
						</label>
					</div>
					<div class="contacts-block__field  contacts-block__field--half">
						<label class="field-text">
							<input class="field-text__input" type="email" name="user__email" required>
							<span class="field-text__name">E-mail</span>
						</label>
					</div>
					<div class="contacts-block__field">
						<label class="field-text">
							<textarea class="field-text__input  field-text__input--textarea  field-text__input--contacts-block" name="user__question" required></textarea>
							<span class="field-text__name">Сообщение</span>
						</label>
					</div>
					<div class="contacts-block__field">
						<div class="enroll-nutritionist__submit-grid">
							<button class="btn  btn--contacts-block" type="submit">Отправить</button>
							<span class="enroll-nutritionist__form-text  enroll-nutritionist__form-text--contacts-block">Поля отмеченные  “ <span class="field-text__green-star">*</span> ” обязательны для заполнения</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
